.participants .members_list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.participants .members_list .member_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.participants .members_list li {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.about_bnner img {
  display: block;
  width: 100%;
  height: auto;
}

.participants {
  padding-top: 23px;
  padding-bottom: 57px;
  text-align: center;
}
.participants .page_title {
  padding-bottom: 0;
}
.participants .page_title:after {
  display: none;
}
.participants .description_block {
  max-width: 880px;
  margin: 34px auto 0;
  color: #A64AC9;
}
@media screen and (min-width: 960px) {
  .participants .description_block {
    font-size: 190%;
  }
}
.participants .members_list {
  margin-top: 34px;
  position: relative;
  overflow: hidden;
  height: auto !important;
}
.participants .members_list ul {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  white-space: nowrap;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
  position: relative;
}
.participants .members_list ul:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background: #2E2D84;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
.participants .members_list ul.showed li {
  transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -webkit-transform: rotateX(0);
  -o-transform: rotateX(0);
}
.participants .members_list li {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  width: 330px;
  font-size: 1rem;
  white-space: normal;
  perspective: 2000px;
  perspective-origin: top left;
  transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform-origin: 50% 0%;
  -webkit-transfrom-origin: 50% 0%;
  -o-transition: all 0.75s;
  -ms-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.participants .members_list li:before {
  display: block;
  content: "";
  margin: 0 40px;
  border: solid #2E2D84;
  border-width: 0 2px;
}
.participants .members_list li:nth-child(4n+1) {
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.participants .members_list li:nth-child(4n+1):before {
  height: 104px;
}
.participants .members_list li:nth-child(2n) {
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.participants .members_list li:nth-child(2n):before {
  height: 170px;
}
.participants .members_list li:nth-child(4n+3) {
  -o-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.participants .members_list li:nth-child(4n+3):before {
  height: 37px;
}
.participants .members_list li:nth-child(5n+4) {
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.participants .members_list li:nth-child(5n) {
  -o-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.participants .members_list .member_block {
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.participants .members_list .member_block:hover .info_block {
  top: 0;
}
.participants .members_list .member_image {
  display: block;
  padding-bottom: 126.67%;
  border: 1px solid #C2C6D1;
  border-bottom: none;
}
.participants .members_list .member_image img {
  object-fit: cover;
}
.participants .members_list .info_block {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: #5F7BBC;
  color: #ffffff;
  -o-transition: top 0.5s;
  -ms-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}
.participants .members_list .member_name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  min-height: 70px;
  margin-top: -70px;
  background: inherit;
  font-size: 240%;
  line-height: 30px;
  padding: 0 20px;
  position: relative;
}
.participants .members_list .member_name:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -13px;
  width: 26px;
  height: 8px;
  border-style: solid;
  border-width: 0 13px 8px;
  border-color: #5F7BBC transparent;
}
.participants .members_list .about_member {
  flex: 1;
  height: 50%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  margin: 20px 0;
  padding: 0 20px;
  text-align: left;
  font-size: 180%;
  line-height: 30px;
}
.participants .members_list .member_link {
  align-self: flex-end;
  margin: 0 20px 20px;
  position: relative;
  font-size: 200%;
  line-height: 25px;
  padding-right: 18px;
  color: #FBCD0A;
  padding-bottom: 4px;
}
.participants .members_list .member_link:before {
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: -4px;
  width: 100%;
  display: flex;
  height: 8px;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8rem;
}
.participants .scroll-x {
  position: relative;
  max-width: 870px;
  width: 90%;
  margin: 90px auto 0;
}
.participants .scroll-x div {
  box-sizing: border-box;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 6px;
  height: 12px;
  right: 0;
}
.participants .scroll-x div.scroll-element_outer {
  background: #D6DAE4;
}
.participants .scroll-x div.scroll-bar {
  cursor: pointer;
  background: rgba(95, 123, 188, 0.8);
  z-index: 2;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .participants .scroll-x {
    margin-top: 75px;
  }
  .participants .scroll-x div {
    height: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .participants .scroll-x {
    margin-top: 60px;
  }
  .participants .scroll-x div {
    height: 8px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .participants .scroll-x {
    margin-top: 50px;
  }
  .participants .scroll-x div {
    height: 8px;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .participants .members_list ul:before {
    height: 7px;
  }
  .participants .members_list li {
    width: 280px;
  }
  .participants .members_list li:before {
    margin: 0 30px;
  }
  .participants .members_list li:nth-child(4n+1):before {
    height: 85px;
  }
  .participants .members_list li:nth-child(2n):before {
    height: 140px;
  }
  .participants .members_list li:nth-child(4n+3):before {
    height: 28px;
  }
  .participants .members_list .member_block {
    padding-bottom: 65px;
  }
  .participants .members_list .member_name {
    height: 65px;
    min-height: 65px;
    margin-top: -65px;
    font-size: 200%;
    line-height: 27px;
  }
  .participants .members_list .about_member {
    font-size: 160%;
    line-height: 22px;
  }
  .participants .members_list .member_link {
    font-size: 160%;
    line-height: 20px;
    padding-right: 14px;
  }
}
@media screen and (max-width: 575px) {
  .participants .scroll-x {
    margin-top: 40px;
  }
  .participants .scroll-x div {
    height: 6px;
  }
  .participants .members_list ul:before {
    height: 6px;
  }
  .participants .members_list li {
    width: 250px;
  }
  .participants .members_list li:before {
    margin: 0 20px;
  }
  .participants .members_list li:nth-child(4n+1):before {
    height: 65px;
  }
  .participants .members_list li:nth-child(2n):before {
    height: 90px;
  }
  .participants .members_list li:nth-child(4n+3):before {
    height: 20px;
  }
  .participants .members_list .member_block {
    padding-bottom: 60px;
  }
  .participants .members_list .member_name {
    height: 60px;
    min-height: 60px;
    margin-top: -60px;
    font-size: 180%;
    line-height: 24px;
  }
  .participants .members_list .about_member {
    font-size: 140%;
    line-height: 20px;
  }
  .participants .members_list .member_link {
    font-size: 140%;
    line-height: 18px;
    padding-right: 10px;
  }
}

.web .participants .members_list .member_link, .participants .members_list .web .member_link {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .participants .scroll-x div.scroll-bar, .participants .scroll-x .web div.scroll-bar {
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.touch .participants .members_list .member_link, .participants .members_list .touch .member_link {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .participants .scroll-x div.scroll-bar, .participants .scroll-x .touch div.scroll-bar {
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.web .participants .scroll-x div.scroll-bar:hover, .participants .scroll-x .web div.scroll-bar:hover {
  background: #2E2D84;
}
.web .participants .members_list .member_link:hover, .participants .members_list .web .member_link:hover {
  color: #A64AC9;
}
.touch .participants .scroll-x div.scroll-bar:active, .participants .scroll-x .touch div.scroll-bar:active {
  background: #2E2D84;
}
.touch .participants .members_list .member_link:active, .participants .members_list .touch .member_link:active {
  color: #A64AC9;
}

/*# sourceMappingURL=about.css.map */
