@charset "UTF-8";
.create_page .upload_section .attach_block .actions_list, .create_page .branches_list ul, .create_page .branches_list, .create_page .steps_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.create_page .upload_section .video_block .video_screen, .create_page .upload_section .video_block video, .create_page .upload_section .attach_block .actions_list label input, .create_page .upload_section .attach_block > .attach_label .attach_btn:before, .create_page .upload_section .attach_block > .attach_label input, .create_page .comics_poster .attach_label input, .create_page .comics_poster .image_block img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.create_page .upload_section .move_btns .move_up:before, .select2-container--default.select2-container--open .select2-selection__arrow {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

.create_page .upload_section .move_btns span:before, .remember_forgot .remember_checkbox span:before, .select2-container--default .select2-selection--single .select2-selection__arrow:before, .field_block .type_switch:before, .create_page .info_fields .file_remove:before, .create_page .upload_section .move_btns span:after, .create_page .info_fields .file_remove:after {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.create_page .upload_section .video_block .video_screen img, .create_page .upload_section .attach_block img, .create_page .upload_section .attach_block, .create_page .version_name a {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.create_page .guide_link, .create_page .next_step_btn {
  border: none;
  display: inline-block;
  vertical-align: top;
  padding: 9px 28px;
  color: #ffffff;
  border-radius: 21px 21px 0 21px;
  background: #2E2D84;
  font-size: 190%;
  line-height: 24px;
}
.create_page .guide_link:disabled, .create_page .next_step_btn:disabled, .create_page .disable.guide_link, .create_page .disable.next_step_btn, .create_page .inactive.guide_link, .create_page .inactive.next_step_btn {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .create_page .guide_link, .create_page .next_step_btn {
    font-size: 160%;
    line-height: 20px;
    padding: 8px 21px;
  }
}

.create_page .draft_btn {
  border: 1px solid;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 8px 27px;
  color: #2E2D84;
  border-radius: 21px 21px 0 21px;
  background: transparent;
  font-size: 190%;
  line-height: 24px;
}
.create_page .draft_btn:disabled, .create_page .disable.draft_btn, .create_page .inactive.draft_btn {
  color: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .create_page .draft_btn {
    font-size: 160%;
    line-height: 20px;
    padding: 8px 21px;
  }
}

@media screen and (min-width: 960px) {
  .create_page .steps_list li {
    font-size: 240%;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .create_page .steps_list li {
    font-size: 210%;
    line-height: 27px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .create_page .steps_list li {
    font-size: 180%;
    line-height: 24px;
  }
}
@media screen and (max-width: 575px) {
  .create_page .steps_list li {
    font-size: 150%;
    line-height: 19px;
  }
}

.create_page {
  padding-top: 18px;
  padding-bottom: 57px;
}
.create_page .steps_block {
  padding-bottom: 50px;
}
.create_page .steps_list {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: flex-end;
  padding: 0 13px;
}
.create_page .steps_list:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 26px;
  height: 26px;
  bottom: -9px;
  border-radius: 50%;
  background: #5F7BBC;
  z-index: 2;
}
.create_page .steps_list li {
  flex: 1;
  max-width: 235px;
  padding-bottom: 23px;
  position: relative;
  color: #C2C6D1;
  text-align: center;
}
.create_page .steps_list li:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 8px;
  background: #C2C6D1;
}
.create_page .steps_list li:after {
  display: block;
  content: "";
  position: absolute;
  right: -13px;
  width: 26px;
  height: 26px;
  bottom: -9px;
  border-radius: 50%;
  z-index: 1;
  border: 1px solid #C2C6D1;
  background: #F9FAFB;
}
.create_page .steps_list li.current_step, .create_page .steps_list li.current_step ~ li {
  color: #5F7BBC;
}
.create_page .steps_list li.current_step:after, .create_page .steps_list li.current_step:before, .create_page .steps_list li.current_step ~ li:after, .create_page .steps_list li.current_step ~ li:before {
  background: #5F7BBC;
  border: none;
}
.create_page .steps_list li .step_num {
  font-family: "segoeui";
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .create_page .steps_list {
    padding: 0 11px;
  }
  .create_page .steps_list:before {
    width: 22px;
    height: 22px;
    bottom: -8px;
  }
  .create_page .steps_list li {
    max-width: 210px;
    padding-bottom: 20px;
  }
  .create_page .steps_list li:before {
    height: 6px;
  }
  .create_page .steps_list li:after {
    right: -11px;
    width: 22px;
    height: 22px;
    bottom: -8px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .create_page .steps_list {
    padding: 0 10px;
  }
  .create_page .steps_list:before {
    width: 20px;
    height: 20px;
    bottom: -7px;
  }
  .create_page .steps_list li {
    max-width: 180px;
    padding-bottom: 18px;
  }
  .create_page .steps_list li:before {
    height: 6px;
  }
  .create_page .steps_list li:after {
    right: -10px;
    width: 20px;
    height: 20px;
    bottom: -7px;
  }
}
@media screen and (max-width: 575px) {
  .create_page .steps_list {
    padding: 0 9px;
  }
  .create_page .steps_list:before {
    width: 18px;
    height: 18px;
    bottom: -6px;
  }
  .create_page .steps_list li {
    max-width: 160px;
    padding-bottom: 14px;
  }
  .create_page .steps_list li:before {
    height: 4px;
  }
  .create_page .steps_list li:after {
    right: -9px;
    width: 18px;
    height: 18px;
    bottom: -6px;
  }
}
.create_page .main_options {
  padding-top: 46px;
}
.create_page .comics_poster {
  flex: 0 0 320px;
  max-width: 320px;
  padding: 0 15px;
  margin-right: auto;
  position: relative;
}
.create_page .comics_poster .image_block {
  position: relative;
  overflow: hidden;
  padding-bottom: 150%;
}
.create_page .comics_poster .image_block:empty {
  background: url("images/no_image.svg") no-repeat #D6DAE4;
  background-position: center;
  background-size: 35% auto;
}
.create_page .comics_poster .image_block:empty ~ .actions_block .attach_label {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  padding-bottom: 150%;
  margin: 0;
}
.create_page .comics_poster .image_block:empty ~ .actions_block .attach_label .attach_btn {
  display: none;
}
.create_page .comics_poster .image_block:empty ~ .actions_block .attach_remove {
  opacity: 0;
}
.create_page .comics_poster .image_block:not(:empty) ~ .drag_block {
  display: none;
}
.create_page .comics_poster .image_block img {
  object-fit: cover;
}
.create_page .comics_poster .actions_block {
  display: flex;
  color: #ffffff;
  background: #5F7BBC;
  align-items: center;
  padding: 5px 18px;
  min-height: 40px;
  position: relative;
}
.create_page .comics_poster .actions_label {
  font-size: 200%;
  line-height: 1.3em;
  margin-right: auto;
}
.create_page .comics_poster .attach_remove,
.create_page .comics_poster .attach_btn {
  display: block;
  font-size: 240%;
  cursor: pointer;
}
.create_page .comics_poster .attach_remove:disabled, .create_page .comics_poster .attach_remove.disable, .create_page .comics_poster .attach_remove.inactive,
.create_page .comics_poster .attach_btn:disabled,
.create_page .comics_poster .attach_btn.disable,
.create_page .comics_poster .attach_btn.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.create_page .comics_poster .attach_label {
  display: block;
  margin-left: 26px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.create_page .comics_poster .attach_label:disabled, .create_page .comics_poster .attach_label.disable, .create_page .comics_poster .attach_label.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.create_page .comics_poster .attach_label input {
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  display: block;
}
.create_page .comics_poster .attach_label .error_hint {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  color: #F62D2D;
  font-size: 140%;
  line-height: 18px;
  padding-top: 4px;
  padding-bottom: 24px;
  background: #ffffff;
  z-index: 2;
  opacity: 0;
}
.create_page .comics_poster .attach_label.has-error .error_hint {
  opacity: 1;
}
.create_page .comics_poster .attach_remove {
  margin-left: 26px;
}
.create_page .comics_poster .attach_error {
  display: block;
  font-size: 140%;
  line-height: 18px;
  margin-top: 4px;
  color: #F62D2D;
}
.create_page .fields_section {
  flex: 1;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .create_page .fields_section {
    margin-left: 15px;
  }
}
.create_page .fields_section .error_hint:before {
  display: none;
}
.create_page .info_fields {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.create_page .info_fields textarea {
  min-height: 169px;
}
.create_page .info_fields .attach_label {
  position: relative;
  overflow: hidden;
}
.create_page .info_fields .attach_label.hidden {
  display: none;
}
.create_page .info_fields .attach_block {
  position: relative;
}
.create_page .info_fields .attach_btn {
  display: block;
  border: 1px solid rgba(40, 40, 40, 0.05) !important;
  background: #EEF0F6;
  padding: 14px 28px;
  color: rgba(40, 40, 40, 0.45);
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
  cursor: pointer;
}
.create_page .info_fields .attach_error {
  position: absolute;
  right: 0;
  margin-right: 8px;
  font-size: 140%;
  line-height: 18px;
  color: transparent;
  z-index: 3;
  top: 100%;
  color: #F62D2D;
}
.create_page .info_fields .attached_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(40, 40, 40, 0.05) !important;
  background: #EEF0F6;
  padding: 14px 28px;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.create_page .info_fields .attached_block .file_name {
  flex: 1;
  width: 50%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.create_page .info_fields .file_remove {
  margin-left: 20px;
  cursor: pointer;
  color: #2E2D84;
}
.create_page .info_fields .file_remove:hover {
  color: #F62D2D;
}
.create_page .info_fields .file_remove:before {
  display: block;
  content: "";
}
.create_page .select_fields {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.create_page .btns_section {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.create_page .draft_btn {
  margin: 0 12px;
}
.create_page .next_step_btn {
  margin: 0 12px;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .create_page .comics_poster {
    flex: 0 0 270px;
    max-width: 270px;
  }
  .create_page .comics_poster .attach_label,
.create_page .comics_poster .attach_remove {
    margin-left: 20px;
  }
  .create_page .info_fields,
.create_page .btns_section {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .create_page .select_fields {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
@media screen and (max-width: 959px) {
  .create_page {
    padding-bottom: 45px;
  }
  .create_page .info_fields,
.create_page .btns_section,
.create_page .select_fields {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .create_page .comics_poster .actions_block {
    padding: 5px 15px;
  }
  .create_page .comics_poster .actions_label {
    font-size: 180%;
  }
  .create_page .comics_poster .attach_btn,
.create_page .comics_poster .attach_remove {
    font-size: 200%;
  }
  .create_page .comics_poster .attach_label,
.create_page .comics_poster .attach_remove {
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .create_page .comics_poster {
    flex: 0 0 320px;
    max-width: 320px;
  }
  .create_page .btns_section {
    margin-top: 20px;
  }
  .create_page .steps_block {
    padding-bottom: 40px;
  }
  .create_page .main_options {
    padding-top: 40px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .create_page .comics_poster {
    flex: 0 0 240px;
    max-width: 240px;
  }
  .create_page .btns_section {
    margin-top: 10px;
  }
  .create_page .steps_block {
    padding-bottom: 30px;
  }
  .create_page .main_options {
    padding-top: 32px;
  }
}
@media screen and (max-width: 575px) {
  .create_page .comics_poster {
    margin: 0 auto 50px;
    flex: 0 0 100%;
  }
  .create_page .fields_section {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .create_page .btns_section {
    margin-top: 0;
  }
  .create_page .steps_block {
    padding-bottom: 24px;
  }
  .create_page .main_options {
    padding-top: 24px;
  }
}

.form_fields {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.form_fields .field_block {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}
.form_fields .field_block .error_hint {
  right: 15px;
}
.form_fields .field_block .type_switch {
  right: 35px;
}
.form_fields .field_block.full_field {
  flex: 0 0 100%;
  max-width: 100%;
}
.form_fields + .btn_block {
  padding-left: 15px;
}
.form_fields + .btn_block button {
  border: none;
  width: 100%;
  background: #2E2D84;
  padding: 15px 28px;
  color: #ffffff;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.form_fields + .btn_block button:disabled, .form_fields + .btn_block button.disable, .form_fields + .btn_block button.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 575px) {
  .form_fields .field_block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .form_fields + .btn_block {
    padding-left: 0;
  }
}

.field_block {
  margin-bottom: 25px;
}
.field_block ::-webkit-input-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block :-moz-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block ::-moz-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block :-ms-input-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block .static_field,
.field_block .input_block input,
.field_block > input {
  border: 1px solid rgba(40, 40, 40, 0.05) !important;
  background: #EEF0F6;
  padding: 14px 28px;
  color: #2E2D84;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.field_block .static_field[type=password] ~ .type_switch:before,
.field_block .input_block input[type=password] ~ .type_switch:before,
.field_block > input[type=password] ~ .type_switch:before {
  content: "";
  font-size: 110%;
}
.field_block .static_field[type=text] ~ .type_switch:before,
.field_block .input_block input[type=text] ~ .type_switch:before,
.field_block > input[type=text] ~ .type_switch:before {
  content: "";
  font-size: 130%;
}
.field_block .static_field[name*=phone],
.field_block .input_block input[name*=phone],
.field_block > input[name*=phone] {
  font-family: "segoeui";
}
.field_block .static_field:focus,
.field_block .input_block input:focus,
.field_block > input:focus {
  background: rgba(95, 123, 188, 0.1);
}
.field_block textarea {
  border: 1px solid rgba(40, 40, 40, 0.05);
  background: #EEF0F6;
  color: #2E2D84;
  font-size: 160%;
  line-height: 20px;
  padding: 24px 22px;
  border-radius: 25px 25px 0 25px;
  height: 120px;
}
.field_block .input_block {
  position: relative;
}
.field_block .input_block + .input_block {
  margin-top: 20px;
}
.field_block .input_block input {
  padding-right: 50px;
}
.field_block .input_block .field_remove {
  position: absolute;
  right: 15px;
  font-size: 100%;
  bottom: 15px;
  z-index: 3;
  color: #5F7BBC;
  padding: 5px;
  cursor: pointer;
}
.field_block .input_block .field_remove:hover {
  color: #F62D2D;
}
.field_block .input_block .field_remove:before {
  display: block;
}
.field_block .field_name {
  font-size: 160%;
  line-height: 20px;
  margin-bottom: 6px;
  color: #5F7BBC;
}
.field_block .error_hint {
  position: absolute;
  right: 0;
  margin-right: 8px;
  font-size: 0;
  line-height: 18px;
  color: transparent;
  z-index: 3;
  top: 100%;
}
.field_block.has-error ::-webkit-input-placeholder {
  color: #F62D2D;
}
.field_block.has-error :-moz-placeholder {
  color: #F62D2D;
}
.field_block.has-error ::-moz-placeholder {
  color: #F62D2D;
}
.field_block.has-error :-ms-input-placeholder {
  color: #F62D2D;
}
.field_block.has-error .error_hint {
  font-size: 140%;
  color: #F62D2D;
}
.field_block.has-error textarea,
.field_block.has-error input {
  border-color: transparent !important;
  background: rgba(246, 45, 45, 0.1);
  color: #F62D2D;
}
.field_block.has-error .field_name {
  color: #F62D2D;
}
.field_block .type_switch {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(40, 40, 40, 0.45);
  height: 20px;
  bottom: 15px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
}
.field_block .type_switch:disabled, .field_block .type_switch.disable, .field_block .type_switch.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.field_block .type_switch:before {
  display: block;
}

.select2-container .select2-selection--single {
  height: auto;
}
.select2-container .select2-selection__placeholder {
  color: rgba(40, 40, 40, 0.45);
}
.select2-container--default .select2-selection--single {
  background-color: rgba(95, 123, 188, 0.1);
  border: 1px solid rgba(40, 40, 40, 0.05);
  border-radius: 25px 25px 0 25px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: none;
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #2E2D84;
  font-size: 160%;
  line-height: 20px;
  padding: 14px 28px;
  flex: 1;
  width: 50%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
  position: relative;
  top: auto;
  right: auto;
  padding: 14px 28px;
  padding-left: 0;
  width: auto;
  color: rgba(46, 45, 132, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow * {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "";
  font-size: 0.6rem;
  display: block;
}
.select2-container--default.select2-container--open .select2-selection--single {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 10;
}
.select2-container .select2-search--dropdown {
  padding: 0;
}
.select2-container .select2-search--dropdown .select2-search__field {
  border: none;
  border-bottom: 1px solid rgba(40, 40, 40, 0.05);
  padding: 14px 28px;
  font-size: 100%;
  line-height: inherit;
}

.select2-container .select2-dropdown {
  border: 1px solid rgba(95, 123, 188, 0.1);
  font-size: 160%;
  line-height: 20px;
  box-shadow: none;
  position: relative;
  z-index: 5;
}
.select2-container .select2-results__options {
  overflow-x: hidden;
  scrollbar-color: rgba(95, 123, 188, 0.8) #D6DAE4;
  scrollbar-width: thin;
}
.select2-container .select2-results__options::-webkit-scrollbar {
  width: 8px;
  height: auto;
  border-radius: 4px;
  background: #D6DAE4;
}
.select2-container .select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(95, 123, 188, 0.8);
}
.select2-container .select2-results__options li {
  padding: 14px 20px;
}
.select2-container .select2-results__option:not(:last-child) {
  border-bottom: 1px solid transparent;
}
.select2-container .select2-results__option--highlighted.select2-results__option--selectable {
  background: transparent;
  color: #FBCD0A;
}
.select2-container .select2-results__option--selected {
  background: #A64AC9 !important;
  color: #ffffff !important;
  cursor: default;
}

.select2-dropdown {
  border-bottom-left-radius: 25px;
}

.edit_section .btn_block,
.sign_inner .btn_block {
  margin-left: auto;
}
.edit_section .btn_block button,
.sign_inner .btn_block button {
  border: none;
  width: 100%;
  background: #2E2D84;
  padding: 15px 28px;
  color: #ffffff;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.edit_section .btn_block button:disabled, .edit_section .btn_block button.disable, .edit_section .btn_block button.inactive,
.sign_inner .btn_block button:disabled,
.sign_inner .btn_block button.disable,
.sign_inner .btn_block button.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (min-width: 576px) {
  .edit_section .btn_block,
.sign_inner .btn_block {
    width: 50%;
  }
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background: #EEF0F6;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow {
  color: rgba(40, 40, 40, 0.45);
}

.login_error,
.login_success {
  font-size: 200%;
  line-height: 1.75em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 959px) {
  .login_error,
.login_success {
    font-size: 160%;
    margin-bottom: 30px;
  }
}

.login_error {
  color: #F62D2D;
}

.login_success {
  color: #A64AC9;
}

.form_container .login_error,
.form_container .login_success {
  margin-top: -30px;
}

.remember_forgot {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 45px;
  font-size: 190%;
  line-height: 25px;
}
.remember_forgot .remember_checkbox {
  position: relative;
}
.remember_forgot .remember_checkbox input:checked + span {
  color: #A64AC9;
}
.remember_forgot .remember_checkbox input:checked + span:before {
  content: "";
}
.remember_forgot .remember_checkbox span {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #5F7BBC;
  white-space: nowrap;
}
.remember_forgot .remember_checkbox span:disabled, .remember_forgot .remember_checkbox span.disable, .remember_forgot .remember_checkbox span.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.remember_forgot .remember_checkbox span:before {
  display: block;
  content: "";
  margin-right: 10px;
}
.remember_forgot .forgot_pass_link {
  display: inline-block;
  vertical-align: top;
  color: #A64AC9;
  margin-left: 20px;
  text-align: right;
}
.remember_forgot .forgot_pass_link:disabled, .remember_forgot .forgot_pass_link.disable, .remember_forgot .forgot_pass_link.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .remember_forgot {
    font-size: 160%;
    line-height: 20px;
  }
}

.create_page .create_section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.create_page .create_section .btns_section {
  flex: 0 0 100%;
  max-width: 100%;
}
.create_page .guide_link {
  float: right;
}
.create_page .comics_tree {
  flex: 0 0 430px;
  max-width: 430px;
  background: #EEF0F6;
  padding: 25px 0;
  height: 768px;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.create_page .comics_tree.closed {
  max-width: 36px;
}
.create_page .comics_tree.closed .branches_list {
  overflow: hidden;
}
.create_page .comics_tree.closed .branches_list > li {
  padding-right: 27px;
}
.create_page .comics_tree .tree_inner {
  height: 100%;
  width: 430px;
  float: right;
  padding-left: 6px;
  padding-right: 11px;
}
.create_page .comics_tree .toggle_btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 43px;
  right: 5px;
  z-index: 2;
  width: 20px;
  height: 20px;
  color: #2E2D84;
}
.create_page .comics_tree .toggle_btn:disabled, .create_page .comics_tree .toggle_btn.disable, .create_page .comics_tree .toggle_btn.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.create_page .comics_tree .toggle_btn:before {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border-top: 4px solid;
  box-shadow: 0 -7px, 0 7px;
}
.create_page .tree_list {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.create_page .tree_list > .version_block {
  background: #5F7BBC;
  color: #ffffff;
  margin-bottom: 13px;
  height: 56px;
  margin-right: 25px;
}
.create_page .tree_list > .version_block .sublist_toggle {
  width: 40px;
}
.create_page .tree_list > .version_block .sublist_toggle:before {
  border-width: 6px 6px 0;
  width: 12px;
  height: 6px;
}
.create_page .tree_list > .version_block .version_name {
  font-size: 270%;
  line-height: 35px;
}
.create_page .tree_list > .version_block:not(.clicked) .sublist_toggle:before {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.create_page .tree_list > .version_block .action_btns {
  padding-right: 8px;
}
.create_page .tree_list > .version_block .action_btns * {
  margin-right: 8px;
}
.create_page .branches_list {
  flex: 1;
  width: 100%;
  height: 50%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #5F7BBC;
  scrollbar-color: #5F7BBC rgba(95, 123, 188, 0.2);
  scrollbar-width: thin;
}
.create_page .branches_list::-webkit-scrollbar {
  width: 8px;
  height: auto;
  border-radius: 4px;
  background: rgba(95, 123, 188, 0.2);
}
.create_page .branches_list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #5F7BBC;
}
.create_page .branches_list ul li {
  padding-top: 2px;
  margin-left: 28px;
}
.create_page .branches_list ul .action_btns {
  padding-right: 2px;
}
.create_page .branches_list ul .action_btns * {
  margin-right: 5px;
}
.create_page .branches_list > li {
  padding-right: 17px;
}
.create_page .branches_list > li:not(:first-child) {
  padding-top: 2px;
}
.create_page .branches_list > li > .version_block .action_btns * {
  margin-right: 7px;
  margin-left: 1px;
}
.create_page .branches_list .sublist_toggle {
  width: 28px;
}
.create_page .branches_list .sublist_toggle:before {
  width: 10px;
  height: 5px;
  border-width: 5px 5px 0;
}
.create_page .branches_list .version_block {
  border: 1px solid;
  height: 38px;
}
.create_page .branches_list .version_block:not(.clicked) {
  border-color: transparent;
  background: #D6DAE4;
}
.create_page .branches_list .version_block.clicked {
  background: #ffffff;
}
.create_page .branches_list .version_block.clicked .sublist_toggle {
  background: #5F7BBC;
  color: #ffffff;
}
.create_page .branches_list .version_block.clicked .sublist_toggle:before {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.create_page .branches_list .version_block.current {
  color: #ffffff;
  border-color: transparent;
  background: #A64AC9;
}
.create_page .branches_list .version_block.current .action_btns * {
  background: #FBCD0A;
  color: #A64AC9;
}
.create_page .branches_list .version_block.current .sublist_toggle {
  background: transparent !important;
}
.create_page .branches_list .version_name {
  font-size: 180%;
  line-height: 23px;
}
.create_page .version_block {
  display: flex;
}
.create_page .version_block:first-child:last-child .sublist_toggle {
  display: none;
}
.create_page .version_block:first-child:last-child .version_name {
  border: none;
  margin-left: 1px;
}
.create_page .sublist_toggle {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.create_page .sublist_toggle:disabled, .create_page .sublist_toggle.disable, .create_page .sublist_toggle.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.create_page .sublist_toggle:before {
  display: block;
  content: "";
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  -o-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.create_page .version_name {
  flex: 1;
  width: 40%;
  border-left: 1px solid;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: center;
}
.create_page .version_name a {
  color: inherit;
}
.create_page .action_btns {
  align-self: center;
  display: flex;
  align-items: center;
}
.create_page .action_btns * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: inherit;
  font-size: 120%;
  cursor: pointer;
}
.create_page .action_btns *:before {
  display: block;
}
.create_page .action_btns .icon_delete:before {
  font-size: 116.7%;
}
.create_page .upload_section {
  flex: 1;
  width: 50%;
  height: 768px;
  border: 1px solid #5F7BBC;
  background: #ffffff;
  padding: 18px 14px 35px 44px;
}
.create_page .upload_section .section_inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #5F7BBC rgba(95, 123, 188, 0.2);
  scrollbar-width: thin;
  padding-right: 20px;
}
.create_page .upload_section .section_inner::-webkit-scrollbar {
  width: 8px;
  height: auto;
  border-radius: 4px;
  background: rgba(95, 123, 188, 0.2);
}
.create_page .upload_section .section_inner::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #5F7BBC;
}
.create_page .upload_section .title_label {
  font-size: 200%;
  line-height: 26px;
  color: #5F7BBC;
  margin-bottom: 20px;
}
.create_page .upload_section .title_text {
  font-size: 160%;
  line-height: 20px;
  color: #2E2D84;
}
.create_page .upload_section .attach_block {
  margin-top: 26px;
  max-width: 820px;
  position: relative;
}
.create_page .upload_section .attach_block.moving {
  -o-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.create_page .upload_section .attach_block img {
  display: block;
  width: 100%;
}
.create_page .upload_section .attach_block > .attach_label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.create_page .upload_section .attach_block > .attach_label input {
  opacity: 0;
  z-index: 1;
}
.create_page .upload_section .attach_block > .attach_label .attach_btn {
  display: block;
  color: #5F7BBC;
  background: #D6DAE4;
  position: relative;
  padding-bottom: 63.4%;
  font-size: 2000%;
}
.create_page .upload_section .attach_block > .attach_label .attach_btn:before {
  display: flex;
  align-items: center;
  justify-content: center;
}
.create_page .upload_section .attach_block .actions_block {
  position: absolute;
  z-index: 3;
  left: 12px;
  top: 12px;
}
.create_page .upload_section .attach_block .actions_block.opened .action_toggle {
  background: secondColor;
}
.create_page .upload_section .attach_block .actions_block.showed .action_toggle {
  background: #A64AC9;
}
.create_page .upload_section .attach_block .action_toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 240%;
  color: #ffffff;
  background: #2E2D84;
  cursor: pointer;
}
.create_page .upload_section .attach_block .action_toggle:disabled, .create_page .upload_section .attach_block .action_toggle.disable, .create_page .upload_section .attach_block .action_toggle.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
.create_page .upload_section .attach_block .actions_list {
  position: absolute;
  overflow: hidden;
  top: 65px;
  background: #ffffff;
  border-radius: 0 14px 14px 14px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  min-width: 100%;
  display: none;
  white-space: nowrap;
  z-index: 10;
}
.create_page .upload_section .attach_block .actions_list a,
.create_page .upload_section .attach_block .actions_list span {
  display: flex;
  align-items: center;
  font-size: 200%;
  line-height: 26px;
  color: #2E2D84;
  cursor: pointer;
}
.create_page .upload_section .attach_block .actions_list a:before,
.create_page .upload_section .attach_block .actions_list span:before {
  display: block;
  min-width: 35px;
}
.create_page .upload_section .attach_block .actions_list label {
  display: block;
  position: relative;
  overflow: hidden;
  color: #2E2D84;
  cursor: pointer;
}
.create_page .upload_section .attach_block .actions_list label input {
  opacity: 0;
  z-index: 2;
}
.create_page .upload_section .attach_block .actions_list li {
  padding: 0 27px;
}
.create_page .upload_section .attach_block .actions_list li:not(:first-child) {
  margin-top: 22px;
}
.create_page .upload_section .attach_block .actions_list:before, .create_page .upload_section .attach_block .actions_list:after {
  display: block;
  content: "";
  height: 19px;
}
.create_page .upload_section .attach_block:first-child:last-of-type .move_btn {
  display: none;
}
.create_page .upload_section .attach_block:first-child .move_up, .create_page .upload_section .attach_block:last-of-type .move_down {
  background: #C2C6D1;
  pointer-events: none;
}
.create_page .upload_section .attach_block.moveable {
  z-index: 1;
}
.create_page .upload_section .attach_block.moveable img {
  opacity: 0.5;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.create_page .upload_section .video_block {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.create_page .upload_section .video_block video {
  object-fit: cover;
}
.create_page .upload_section .video_block .video_screen {
  cursor: pointer;
  background: rgba(40, 40, 40, 0.6);
  z-index: 1;
}
.create_page .upload_section .video_block .video_screen img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.create_page .upload_section .video_block .video_screen:before {
  display: block;
  content: "";
  position: absolute;
  pointer-events: none;
  width: 10%;
  padding-bottom: 10%;
  background: url("images/play.svg") no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 5;
  left: 50%;
  top: 50%;
  min-width: 45px;
  min-height: 45px;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
}
.create_page .upload_section .video_block.playing .video_screen {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
.create_page .upload_section .move_btns {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 60px;
  margin-left: -20px;
}
.create_page .upload_section .move_btns span {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 120%;
  background: #5F7BBC;
  color: #ffffff;
  margin: 10px 0;
}
.create_page .upload_section .move_btns span:disabled, .create_page .upload_section .move_btns span.disable, .create_page .upload_section .move_btns span.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
.create_page .upload_section .move_btns span:before {
  content: "";
}
.create_page .upload_section .attach_error {
  display: block;
  margin-top: 10px;
  color: #F62D2D;
  font-size: 140%;
  line-height: 18px;
}
.create_page .upload_section .add_attach {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  white-space: nowrap;
  padding: 13px 25px;
  color: #5F7BBC;
  cursor: pointer;
  font-size: 200%;
  line-height: 26px;
  background: rgba(214, 218, 228, 0.4);
  border-radius: 9px;
}
.create_page .upload_section .add_attach:before {
  display: block;
  font-size: 90%;
  margin-left: 8px;
  order: 2;
}
.create_page .upload_section .field_block {
  max-width: 820px;
}
.create_page .upload_section .error_hint:before {
  display: none;
}
.create_page .save_btn_block {
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
  color: #ffffff;
  padding-top: 20px;
  margin-top: auto;
}
.create_page .save_btn_block .save_btn {
  display: block;
  padding: 6px 39px;
  font-size: 190%;
  line-height: 24px;
  border-radius: 19px 19px 0 19px;
  color: inherit;
  background: #5F7BBC;
  border: none;
}
@media screen and (max-width: 1199px) {
  .create_page .upload_section {
    padding: 20px 5px 20px 15px;
  }
  .create_page .upload_section .save_btn_block {
    padding-right: 0;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .create_page .comics_tree {
    max-width: 360px;
    flex: 0 0 360px;
  }
  .create_page .comics_tree .tree_inner {
    width: 360px;
  }
  .create_page .comics_tree .toggle_btn {
    top: 38px;
  }
  .create_page .tree_list > .version_block {
    height: 48px;
  }
  .create_page .tree_list > .version_block .version_name {
    font-size: 220%;
    line-height: 30px;
  }
  .create_page .branches_list .version_name {
    font-size: 160%;
    line-height: 20px;
  }
  .create_page .branches_list .version_block {
    height: 32px;
  }
  .create_page .branches_list .sublist_toggle {
    width: 24px;
  }
  .create_page .upload_section .attach_block > .attach_label .attach_btn {
    font-size: 1200%;
  }
}
@media screen and (max-width: 959px) {
  .create_page .create_section {
    position: relative;
  }
  .create_page .comics_tree {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 30px;
    flex: none;
    z-index: 10;
    height: 640px;
  }
  .create_page .comics_tree .tree_inner {
    width: 320px;
  }
  .create_page .comics_tree .branches_list {
    overflow: hidden;
  }
  .create_page .comics_tree .branches_list > li {
    padding-right: 22px;
  }
  .create_page .comics_tree.closed {
    max-width: 320px;
  }
  .create_page .comics_tree.closed .branches_list {
    overflow-y: scroll;
  }
  .create_page .comics_tree.closed .branches_list > li {
    padding-right: 12px;
  }
  .create_page .comics_tree .toggle_btn {
    top: 34px;
    right: 0;
    width: 30px;
  }
  .create_page .tree_list > .version_block {
    height: 40px;
    margin-right: 20px;
  }
  .create_page .tree_list > .version_block .sublist_toggle {
    width: 30px;
  }
  .create_page .tree_list > .version_block .version_name {
    font-size: 180%;
    line-height: 27px;
  }
  .create_page .tree_list > .version_block .action_btns {
    padding-right: 0;
  }
  .create_page .branches_list .sublist_toggle {
    width: 20px;
  }
  .create_page .branches_list .version_name {
    font-size: 140%;
    line-height: 18px;
  }
  .create_page .branches_list .version_block {
    height: 28px;
  }
  .create_page .upload_section {
    height: 640px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .create_page .upload_section .title_label,
.create_page .upload_section .attach_block .actions_list a,
.create_page .upload_section .attach_block .actions_list span,
.create_page .upload_section .add_attach {
    font-size: 160%;
  }
  .create_page .upload_section .title_text {
    font-size: 140%;
  }
  .create_page .upload_section .add_attach {
    padding: 10px 15px;
  }
  .create_page .upload_section .attach_block .action_toggle {
    width: 40px;
    height: 40px;
    font-size: 180%;
  }
  .create_page .upload_section .attach_block .actions_list {
    top: 50px;
  }
  .create_page .upload_section .attach_block .actions_list:before, .create_page .upload_section .attach_block .actions_list:after {
    height: 10px;
  }
  .create_page .upload_section .attach_block .actions_list li {
    padding: 0 15px;
  }
  .create_page .upload_section .attach_block .actions_list li:not(:first-child) {
    margin-top: 16px;
  }
  .create_page .upload_section .attach_block .actions_list a:before,
.create_page .upload_section .attach_block .actions_list span:before {
    min-width: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .create_page .comics_tree,
.create_page .upload_section {
    height: 640px;
  }
  .create_page .upload_section .attach_block > .attach_label .attach_btn {
    font-size: 1600%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .create_page .comics_tree,
.create_page .upload_section {
    height: 560px;
  }
  .create_page .upload_section .attach_block > .attach_label .attach_btn {
    font-size: 1200%;
  }
}
@media screen and (max-width: 479px) {
  .create_page .comics_tree,
.create_page .upload_section {
    height: 480px;
  }
  .create_page .upload_section .attach_block > .attach_label .attach_btn {
    font-size: 800%;
  }
  .create_page .upload_section .move_btns {
    top: 40px;
  }
  .create_page .upload_section .move_btns span {
    width: 30px;
    height: 30px;
    font-size: 88%;
  }
}
@media screen and (max-width: 359px) {
  .create_page .create_section {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.web .create_page .version_name a, .create_page .version_name .web a, .web .create_page .upload_section .attach_block > .attach_label, .create_page .upload_section .web .attach_block > .attach_label, .web .create_page .upload_section .video_block .video_screen, .create_page .upload_section .video_block .web .video_screen {
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.web .create_page .comics_poster .attach_remove, .create_page .comics_poster .web .attach_remove,
.web .create_page .comics_poster .attach_btn,
.create_page .comics_poster .web .attach_btn, .web .create_page .comics_poster .attach_label, .create_page .comics_poster .web .attach_label, .web .field_block .type_switch, .field_block .web .type_switch, .web .remember_forgot .remember_checkbox span, .remember_forgot .remember_checkbox .web span, .web .remember_forgot .forgot_pass_link, .remember_forgot .web .forgot_pass_link, .web .create_page .comics_tree .toggle_btn, .create_page .comics_tree .web .toggle_btn, .web .create_page .sublist_toggle, .create_page .web .sublist_toggle, .web .create_page .upload_section .attach_block .actions_list a, .create_page .upload_section .attach_block .actions_list .web a,
.web .create_page .upload_section .attach_block .actions_list span,
.create_page .upload_section .attach_block .actions_list .web span, .web .create_page .upload_section .attach_block .actions_list label, .create_page .upload_section .attach_block .actions_list .web label, .web .create_page .branches_list .version_block.current .action_btns *, .create_page .branches_list .version_block.current .action_btns .web *, .create_page .info_fields .file_remove, .field_block .input_block .field_remove {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .create_page .next_step_btn, .create_page .web .next_step_btn, .web .form_fields + .btn_block button, .form_fields + .btn_block .web button, .web .edit_section .btn_block button, .edit_section .btn_block .web button,
.web .sign_inner .btn_block button,
.sign_inner .btn_block .web button, .web .create_page .guide_link, .create_page .web .guide_link, .web .create_page .upload_section .attach_block .action_toggle, .create_page .upload_section .attach_block .web .action_toggle, .web .create_page .upload_section .move_btns span, .create_page .upload_section .move_btns .web span, .web .create_page .save_btn_block .save_btn, .create_page .save_btn_block .web .save_btn {
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.web .create_page .draft_btn, .create_page .web .draft_btn, .web .create_page .action_btns *, .create_page .action_btns .web *, .web .create_page .upload_section .add_attach, .create_page .upload_section .web .add_attach, .create_page .info_fields .attach_btn, .create_page .info_fields .attached_block, .field_block .static_field,
.field_block .input_block input,
.field_block > input, .field_block textarea, .select2-container .select2-results__options li, .create_page .branches_list .version_block, .create_page .upload_section .video_block .video_screen {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .create_page .version_name a, .create_page .version_name .touch a, .touch .create_page .upload_section .attach_block > .attach_label, .create_page .upload_section .touch .attach_block > .attach_label, .touch .create_page .upload_section .video_block .video_screen, .create_page .upload_section .video_block .touch .video_screen {
  -o-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.touch .create_page .comics_poster .attach_remove, .create_page .comics_poster .touch .attach_remove,
.touch .create_page .comics_poster .attach_btn,
.create_page .comics_poster .touch .attach_btn, .touch .create_page .comics_poster .attach_label, .create_page .comics_poster .touch .attach_label, .touch .field_block .type_switch, .field_block .touch .type_switch, .touch .remember_forgot .remember_checkbox span, .remember_forgot .remember_checkbox .touch span, .touch .remember_forgot .forgot_pass_link, .remember_forgot .touch .forgot_pass_link, .touch .create_page .comics_tree .toggle_btn, .create_page .comics_tree .touch .toggle_btn, .touch .create_page .sublist_toggle, .create_page .touch .sublist_toggle, .touch .create_page .upload_section .attach_block .actions_list a, .create_page .upload_section .attach_block .actions_list .touch a,
.touch .create_page .upload_section .attach_block .actions_list span,
.create_page .upload_section .attach_block .actions_list .touch span, .touch .create_page .upload_section .attach_block .actions_list label, .create_page .upload_section .attach_block .actions_list .touch label, .touch .create_page .branches_list .version_block.current .action_btns *, .create_page .branches_list .version_block.current .action_btns .touch * {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .create_page .next_step_btn, .create_page .touch .next_step_btn, .touch .form_fields + .btn_block button, .form_fields + .btn_block .touch button, .touch .edit_section .btn_block button, .edit_section .btn_block .touch button,
.touch .sign_inner .btn_block button,
.sign_inner .btn_block .touch button, .touch .create_page .guide_link, .create_page .touch .guide_link, .touch .create_page .upload_section .attach_block .action_toggle, .create_page .upload_section .attach_block .touch .action_toggle, .touch .create_page .upload_section .move_btns span, .create_page .upload_section .move_btns .touch span, .touch .create_page .save_btn_block .save_btn, .create_page .save_btn_block .touch .save_btn {
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.touch .create_page .draft_btn, .create_page .touch .draft_btn, .touch .create_page .action_btns *, .create_page .action_btns .touch *, .touch .create_page .upload_section .add_attach, .create_page .upload_section .touch .add_attach {
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.create_page .comics_poster .attach_remove,
.create_page .comics_poster .attach_btn, .remember_forgot .remember_checkbox span, .create_page .comics_tree .toggle_btn, .create_page .sublist_toggle, .create_page .upload_section .attach_block > .attach_label .attach_btn, .create_page .upload_section .attach_block .action_toggle, .create_page .upload_section .attach_block .actions_list a,
.create_page .upload_section .attach_block .actions_list span, .create_page .upload_section .move_btns span, .create_page .upload_section .add_attach {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.create_page .info_fields .attach_label input, .remember_forgot .remember_checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}

.web .create_page .branches_list .version_block.current .action_btns :hover, .create_page .branches_list .version_block.current .action_btns .web :hover {
  color: #2E2D84;
}
.web .create_page .upload_section .attach_block .actions_list a:hover, .create_page .upload_section .attach_block .actions_list .web a:hover,
.web .create_page .upload_section .attach_block .actions_list span:hover,
.create_page .upload_section .attach_block .actions_list .web span:hover, .web .create_page .upload_section .attach_block .actions_list label:hover, .create_page .upload_section .attach_block .actions_list .web label:hover {
  color: #A64AC9;
}
.web .create_page .save_btn_block .save_btn:hover, .create_page .save_btn_block .web .save_btn:hover {
  background: #A64AC9;
}
.web .create_page .version_name a:hover, .create_page .version_name .web a:hover, .web .create_page .upload_section .attach_block > .attach_label:hover, .create_page .upload_section .web .attach_block > .attach_label:hover, .web .create_page .upload_section .video_block .video_screen:hover, .create_page .upload_section .video_block .web .video_screen:hover {
  opacity: 0.7;
}
.web .create_page .action_btns :hover, .create_page .action_btns .web :hover, .web .create_page .upload_section .add_attach:hover, .create_page .upload_section .web .add_attach:hover {
  background: #A64AC9;
  color: #ffffff;
  border-color: transparent;
}
.web .create_page .comics_poster .attach_remove:hover, .create_page .comics_poster .web .attach_remove:hover,
.web .create_page .comics_poster .attach_btn:hover,
.create_page .comics_poster .web .attach_btn:hover, .web .create_page .comics_poster .attach_label:hover, .create_page .comics_poster .web .attach_label:hover, .web .field_block .type_switch:hover, .field_block .web .type_switch:hover, .web .remember_forgot .remember_checkbox span:hover, .remember_forgot .remember_checkbox .web span:hover, .web .remember_forgot .forgot_pass_link:hover, .remember_forgot .web .forgot_pass_link:hover, .web .create_page .comics_tree .toggle_btn:hover, .create_page .comics_tree .web .toggle_btn:hover, .web .create_page .sublist_toggle:hover, .create_page .web .sublist_toggle:hover {
  color: #FBCD0A;
}
.web .create_page .comics_poster .attach_remove:active, .create_page .comics_poster .web .attach_remove:active,
.web .create_page .comics_poster .attach_btn:active,
.create_page .comics_poster .web .attach_btn:active, .web .create_page .comics_poster .attach_label:active, .create_page .comics_poster .web .attach_label:active, .web .field_block .type_switch:active, .field_block .web .type_switch:active, .web .remember_forgot .remember_checkbox span:active, .remember_forgot .remember_checkbox .web span:active, .web .remember_forgot .forgot_pass_link:active, .remember_forgot .web .forgot_pass_link:active, .web .create_page .comics_tree .toggle_btn:active, .create_page .comics_tree .web .toggle_btn:active, .web .create_page .sublist_toggle:active, .create_page .web .sublist_toggle:active {
  color: #A64AC9;
}
.web .create_page .next_step_btn:hover, .create_page .web .next_step_btn:hover, .web .form_fields + .btn_block button:hover, .form_fields + .btn_block .web button:hover, .web .edit_section .btn_block button:hover, .edit_section .btn_block .web button:hover,
.web .sign_inner .btn_block button:hover,
.sign_inner .btn_block .web button:hover, .web .create_page .guide_link:hover, .create_page .web .guide_link:hover, .web .create_page .upload_section .attach_block .action_toggle:hover, .create_page .upload_section .attach_block .web .action_toggle:hover, .web .create_page .upload_section .move_btns span:hover, .create_page .upload_section .move_btns .web span:hover {
  background: #FBCD0A;
}
.web .create_page .next_step_btn:active, .create_page .web .next_step_btn:active, .web .form_fields + .btn_block button:active, .form_fields + .btn_block .web button:active, .web .edit_section .btn_block button:active, .edit_section .btn_block .web button:active,
.web .sign_inner .btn_block button:active,
.sign_inner .btn_block .web button:active, .web .create_page .guide_link:active, .create_page .web .guide_link:active, .web .create_page .upload_section .attach_block .action_toggle:active, .create_page .upload_section .attach_block .web .action_toggle:active, .web .create_page .upload_section .move_btns span:active, .create_page .upload_section .move_btns .web span:active {
  background: #A64AC9;
}
.web .create_page .draft_btn:hover, .create_page .web .draft_btn:hover {
  color: #FBCD0A;
}
.web .create_page .draft_btn:active, .create_page .web .draft_btn:active {
  color: #ffffff;
  background: #A64AC9;
  border-color: transparent;
}

.touch .create_page .branches_list .version_block.current .action_btns :active, .create_page .branches_list .version_block.current .action_btns .touch :active {
  color: #2E2D84;
}
.touch .create_page .upload_section .attach_block .actions_list a:active, .create_page .upload_section .attach_block .actions_list .touch a:active,
.touch .create_page .upload_section .attach_block .actions_list span:active,
.create_page .upload_section .attach_block .actions_list .touch span:active, .touch .create_page .upload_section .attach_block .actions_list label:active, .create_page .upload_section .attach_block .actions_list .touch label:active {
  color: #A64AC9;
}
.touch .create_page .save_btn_block .save_btn:active, .create_page .save_btn_block .touch .save_btn:active {
  background: #A64AC9;
}
.touch .create_page .version_name a:active, .create_page .version_name .touch a:active, .touch .create_page .upload_section .attach_block > .attach_label:active, .create_page .upload_section .touch .attach_block > .attach_label:active, .touch .create_page .upload_section .video_block .video_screen:active, .create_page .upload_section .video_block .touch .video_screen:active {
  opacity: 0.7;
}
.touch .create_page .action_btns :active, .create_page .action_btns .touch :active, .touch .create_page .upload_section .add_attach:active, .create_page .upload_section .touch .add_attach:active {
  background: #A64AC9;
  color: #ffffff;
  border-color: transparent;
}
.touch .create_page .comics_poster .attach_remove:active, .create_page .comics_poster .touch .attach_remove:active,
.touch .create_page .comics_poster .attach_btn:active,
.create_page .comics_poster .touch .attach_btn:active, .touch .create_page .comics_poster .attach_label:active, .create_page .comics_poster .touch .attach_label:active, .touch .field_block .type_switch:active, .field_block .touch .type_switch:active, .touch .remember_forgot .remember_checkbox span:active, .remember_forgot .remember_checkbox .touch span:active, .touch .remember_forgot .forgot_pass_link:active, .remember_forgot .touch .forgot_pass_link:active, .touch .create_page .comics_tree .toggle_btn:active, .create_page .comics_tree .touch .toggle_btn:active, .touch .create_page .sublist_toggle:active, .create_page .touch .sublist_toggle:active {
  color: #FBCD0A;
}
.touch .create_page .next_step_btn:active, .create_page .touch .next_step_btn:active, .touch .form_fields + .btn_block button:active, .form_fields + .btn_block .touch button:active, .touch .edit_section .btn_block button:active, .edit_section .btn_block .touch button:active,
.touch .sign_inner .btn_block button:active,
.sign_inner .btn_block .touch button:active, .touch .create_page .guide_link:active, .create_page .touch .guide_link:active, .touch .create_page .upload_section .attach_block .action_toggle:active, .create_page .upload_section .attach_block .touch .action_toggle:active, .touch .create_page .upload_section .move_btns span:active, .create_page .upload_section .move_btns .touch span:active {
  background: #FBCD0A;
}
.touch .create_page .draft_btn:active, .create_page .touch .draft_btn:active {
  color: #ffffff;
  background: #A64AC9;
  border-color: transparent;
}

/*# sourceMappingURL=comicsCreate.css.map */
