.comics_block .actions_block .version_btns, .comics_main .comics_params {
  padding: 0;
  margin: 0 -15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.video_block .video_screen, .video_block video, .comics_inner[data-type=video] .version_block, .comics_inner[data-type=video] .actions_block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.comics_inner:not([data-type=video]) .back_btn:before {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video_block .video_screen img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.download_btn a, .comics_inner[data-type=video] .actions_block .back_btns button {
  border: none;
  display: inline-block;
  vertical-align: top;
  padding: 9px 28px;
  color: #ffffff;
  border-radius: 21px 21px 0 21px;
  background: #2E2D84;
  font-size: 190%;
  line-height: 24px;
}
.download_btn a:disabled, .comics_inner[data-type=video] .actions_block .back_btns button:disabled, .download_btn a.disable, .comics_inner[data-type=video] .actions_block .back_btns button.disable, .download_btn a.inactive, .comics_inner[data-type=video] .actions_block .back_btns button.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .download_btn a, .comics_inner[data-type=video] .actions_block .back_btns button {
    font-size: 160%;
    line-height: 20px;
    padding: 8px 21px;
  }
}

@media screen and (min-width: 960px) {
  .comics_block .actions_block .version_btns .version_number, .comics_inner:not([data-type=video]) .back_btn {
    font-size: 240%;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .comics_block .actions_block .version_btns .version_number, .comics_inner:not([data-type=video]) .back_btn {
    font-size: 210%;
    line-height: 27px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .comics_block .actions_block .version_btns .version_number, .comics_inner:not([data-type=video]) .back_btn {
    font-size: 180%;
    line-height: 24px;
  }
}
@media screen and (max-width: 575px) {
  .comics_block .actions_block .version_btns .version_number, .comics_inner:not([data-type=video]) .back_btn {
    font-size: 150%;
    line-height: 19px;
  }
}

.comics_page {
  padding-top: 24px;
  padding-bottom: 65px;
  position: relative;
  overflow: hidden;
}

.comics_main .container_inner {
  margin: 0 -15px;
}
.comics_main .container_inner:after {
  display: block;
  content: "";
  clear: both;
}
.comics_main .page_title {
  padding: 0 15px;
  width: 66.67%;
  min-height: 100px;
  float: right;
  margin-bottom: 20px;
}
.comics_main .page_title:after {
  display: none;
}
.comics_main .image_block {
  padding: 0 15px;
  float: left;
  width: 33.33%;
  position: relative;
  z-index: 3;
}
.comics_main .image_block img {
  display: block;
  width: 100%;
  height: auto;
}
.comics_main .info_block {
  padding: 0 15px;
  width: 66.67%;
  float: right;
}
.comics_main .short_info {
  padding: 26px 0;
  min-height: 230px;
  position: relative;
}
.comics_main .short_info:before {
  display: block;
  content: "";
  position: absolute;
  left: -100vw;
  width: 300vw;
  top: 0;
  height: 100%;
  background: #D6DAE4;
}
.comics_main .short_info .description_block {
  z-index: 2;
  position: relative;
}
.comics_main .comics_params {
  justify-content: space-between;
}
.comics_main .comics_params li {
  padding: 8px 15px 0;
  font-size: 160%;
  line-height: 20px;
  color: #5F7BBC;
}
.comics_main .comics_params li .param_info {
  color: #A64AC9;
}
.comics_main .comics_creators {
  margin-top: 14px;
  font-size: 200%;
  line-height: 1.3em;
  color: #2E2D84;
}
.comics_main .share_btns {
  margin-top: 100px;
  padding: 0 15px;
  width: 100%;
  float: left;
}
.comics_main .share_label {
  font-size: 160%;
  line-height: 20px;
  color: #5F7BBC;
}
.comics_main .at-share-btn-elements {
  margin: 0 -8px;
  display: flex;
  flex-wrap: wrap;
}
.comics_main .at-share-btn-elements .at-share-btn {
  padding: 4px;
  margin: 10px 8px 5px;
}
.comics_main .at-share-btn-elements .at-share-btn:disabled, .comics_main .at-share-btn-elements .at-share-btn.disable, .comics_main .at-share-btn-elements .at-share-btn.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
.comics_main .at-resp-share-element .at-share-btn:focus,
.comics_main .at-resp-share-element .at-share-btn:hover {
  transform: none;
  text-decoration: none;
  background: #2E2D84 !important;
}
@media screen and (max-width: 959px) {
  .comics_main .comics_params li,
.comics_main .share_label {
    font-size: 140%;
    line-height: 18px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .comics_main .page_title {
    min-height: 86px;
  }
  .comics_main .share_btns {
    margin-top: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .comics_main .image_block,
.comics_main .page_title,
.comics_main .info_block,
.comics_main .share_btns {
    width: 50%;
  }
  .comics_main .share_btns {
    margin-top: 30px;
  }
  .comics_main .comics_creators {
    font-size: 180%;
  }
}
@media screen and (max-width: 767px) {
  .comics_main .page_title {
    min-height: 0;
    width: 100%;
    float: none;
    text-align: center;
  }
  .comics_main .image_block {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    float: none;
  }
  .comics_main .info_block {
    width: 100%;
    float: none;
  }
  .comics_main .short_info {
    min-height: 0;
  }
  .comics_main .short_info:before {
    top: -100px;
    bottom: 0;
    height: auto;
  }
  .comics_main .share_btns {
    float: none;
    margin-top: 30px;
    width: 100%;
  }
}

.comics_inner {
  padding-top: 10px;
}
.comics_inner[data-type=video] .comics_block {
  position: relative;
}
.comics_inner[data-type=video] .actions_block {
  display: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  background: transparent;
}
.comics_inner[data-type=video] .actions_block .page_container {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comics_inner[data-type=video] .actions_block .page_title {
  color: #ffffff;
}
.comics_inner[data-type=video] .actions_block .version_btns {
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .comics_inner[data-type=video] .actions_block .version_btns {
    margin-left: -10px;
    margin-right: -10px;
  }
  .comics_inner[data-type=video] .actions_block .version_btns li {
    padding: 15px 10px 0;
  }
}
.comics_inner[data-type=video] .actions_block .version_btns li:first-child {
  margin-left: auto;
}
.comics_inner[data-type=video] .actions_block .version_btns li:last-child {
  margin-right: auto;
}
.comics_inner[data-type=video] .actions_block .version_btns:before {
  display: none;
}
.comics_inner[data-type=video] .actions_block .version_btns button {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: unset;
}
.comics_inner[data-type=video] .actions_block .version_btns button .version_title {
  flex: 1;
  height: 50%;
  padding: 10px;
}
@media screen and (min-width: 480px) and (max-width: 719px) {
  .comics_inner[data-type=video] .actions_block .version_btns button {
    min-width: 30vw;
  }
}
@media screen and (max-width: 479px) {
  .comics_inner[data-type=video] .actions_block .version_btns button {
    min-width: 50vw;
  }
}
.comics_inner[data-type=video] .actions_block .back_btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 20px;
}
.comics_inner[data-type=video] .actions_block .back_btns:not(:last-child):after {
  display: block;
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 20px;
  border-top: 1px solid #ffffff;
  max-width: 508px;
  margin: 0 auto;
}
.comics_inner[data-type=video] .actions_block .back_btns button {
  flex: 1;
  max-width: 230px;
  min-width: 160px;
  margin: 0 12px 10px;
}
.comics_inner[data-type=video] .actions_block .back_btns button.back_to_start {
  background: #A64AC9;
}
.comics_inner[data-type=video] .version_block {
  z-index: 6;
}
.comics_inner:not([data-type=video]) .back_btns:first-child:last-child .back_btn {
  margin: -26px auto;
}
.comics_inner:not([data-type=video]) .back_btn {
  border: none;
  border-bottom: 1px solid;
  background: transparent;
  margin-top: -26px;
  margin-bottom: 48px;
  position: relative;
  padding: 0 0 15px 25px;
  color: #5F7BBC;
}
.comics_inner:not([data-type=video]) .back_btn:disabled, .comics_inner:not([data-type=video]) .back_btn.disable, .comics_inner:not([data-type=video]) .back_btn.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.comics_inner:not([data-type=video]) .back_btn:before {
  content: "\e902";
  display: block;
  left: -1px;
  bottom: -5px;
  font-size: 0.9rem;
  display: flex;
  position: absolute;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .comics_inner:not([data-type=video]) .back_btns:first-child:last-child .back_btn {
    margin: -10px auto;
  }
  .comics_inner:not([data-type=video]) .back_btn {
    margin-top: -16px;
    margin-bottom: 35px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .comics_inner:not([data-type=video]) .back_btns:first-child:last-child .back_btn {
    margin: 0 auto;
  }
  .comics_inner:not([data-type=video]) .back_btn {
    margin-top: -10px;
    margin-bottom: 24px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

.comics_block a {
  display: block;
  margin-bottom: 30px;
}
.comics_block a img {
  display: block;
  width: 100%;
}
.comics_block .version_block {
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.comics_block .version_block:not(.showed) {
  opacity: 0;
  height: 0;
  position: relative;
  overflow: hidden;
}
.comics_block .actions_block {
  margin-top: 24px;
  padding: 50px 0;
  background: rgba(214, 218, 228, 0.4);
  text-align: center;
}
.comics_block .actions_block:not(:last-child) {
  margin-bottom: 54px;
}
.comics_block .actions_block .page_title {
  padding: 0;
  max-width: 480px;
  margin: 0 auto;
}
.comics_block .actions_block .page_title:after {
  display: none;
}
.comics_block .actions_block .version_btns {
  justify-content: center;
}
.comics_block .actions_block .version_btns:before {
  display: block;
  content: "";
  flex: 0 0 100%;
  max-width: 100%;
  height: 30px;
}
.comics_block .actions_block .version_btns li {
  padding: 30px 15px 0;
}
.comics_block .actions_block .version_btns button {
  width: 210px;
  border: none;
  background: transparent;
  padding: 0;
}
.comics_block .actions_block .version_btns button.active .version_number {
  background: #C2C6D1;
  color: #5F7BBC;
}
.comics_block .actions_block .version_btns button.active .version_title {
  color: #5F7BBC;
}
.comics_block .actions_block .version_btns .version_number {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 35px;
  margin: 0 22px;
  color: #ffffff;
  background: #5F7BBC;
}
.comics_block .actions_block .version_btns .version_title {
  display: block;
  border: 1px solid;
  background: #ffffff;
  padding: 24px 10px;
  height: 150px;
  font-size: 180%;
  line-height: 30px;
  color: #5F7BBC;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .comics_block .actions_block {
    padding: 40px 0;
  }
  .comics_block .actions_block .version_btns:before {
    height: 15px;
  }
  .comics_block .actions_block .version_btns button {
    width: 200px;
  }
  .comics_block .actions_block .version_btns .version_title {
    font-size: 160%;
    line-height: 28px;
    height: 140px;
    padding: 20px 10px;
  }
}
@media screen and (max-width: 767px) {
  .comics_block .actions_block {
    padding: 30px 0;
  }
  .comics_block .actions_block .version_btns:before {
    display: none;
  }
  .comics_block .actions_block .version_btns button {
    width: 180px;
  }
  .comics_block .actions_block .version_btns .version_title {
    font-size: 140%;
    line-height: 24px;
    height: 120px;
    padding: 18px 10px;
  }
}

.web .version_btns button:hover .version_number {
  background: #A64AC9;
}
.web .version_btns button:hover .version_title {
  color: #A64AC9;
}

.touch .version_btns button:active .version_number {
  background: #A64AC9;
}
.touch .version_btns button:active .version_title {
  color: #A64AC9;
}

.video_block {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video_block video {
  object-fit: cover;
}
.video_block .video_screen {
  cursor: pointer;
  background: rgba(40, 40, 40, 0.6);
  z-index: 1;
}
.video_block .video_screen img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.video_block .video_screen:before {
  display: block;
  content: "";
  position: absolute;
  pointer-events: none;
  width: 10%;
  padding-bottom: 10%;
  background: url("images/play.svg") no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 5;
  left: 50%;
  top: 50%;
  min-width: 45px;
  min-height: 45px;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
}
.video_block.playing .video_screen {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
@media screen and (max-width: 1199px) {
  .video_block {
    margin-left: -20px;
    margin-right: -20px;
    min-height: 300px;
  }
  .video_block video {
    background: #000000;
    object-fit: contain;
  }
}

.download_btn {
  text-align: center;
  padding-top: 30px;
}
.web .video_block .video_screen, .video_block .web .video_screen {
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.web .comics_inner:not([data-type=video]) .back_btn, .comics_inner:not([data-type=video]) .web .back_btn, .web .version_btns button .version_title {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .comics_main .at-share-btn-elements .at-share-btn, .comics_main .at-share-btn-elements .web .at-share-btn, .web .comics_inner[data-type=video] .actions_block .back_btns button, .comics_inner[data-type=video] .actions_block .back_btns .web button, .web .download_btn a, .download_btn .web a, .web .version_btns button .version_number {
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.video_block .video_screen {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .video_block .video_screen, .video_block .touch .video_screen {
  -o-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.touch .comics_inner:not([data-type=video]) .back_btn, .comics_inner:not([data-type=video]) .touch .back_btn, .touch .version_btns button .version_title {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .comics_main .at-share-btn-elements .at-share-btn, .comics_main .at-share-btn-elements .touch .at-share-btn, .touch .comics_inner[data-type=video] .actions_block .back_btns button, .comics_inner[data-type=video] .actions_block .back_btns .touch button, .touch .download_btn a, .download_btn .touch a, .touch .version_btns button .version_number {
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.web .video_block .video_screen:hover, .video_block .web .video_screen:hover {
  opacity: 0.7;
}
.web .comics_inner:not([data-type=video]) .back_btn:hover, .comics_inner:not([data-type=video]) .web .back_btn:hover {
  color: #FBCD0A;
}
.web .comics_inner:not([data-type=video]) .back_btn:active, .comics_inner:not([data-type=video]) .web .back_btn:active {
  color: #A64AC9;
}
.web .comics_main .at-share-btn-elements .at-share-btn:hover, .comics_main .at-share-btn-elements .web .at-share-btn:hover, .web .comics_inner[data-type=video] .actions_block .back_btns button:hover, .comics_inner[data-type=video] .actions_block .back_btns .web button:hover, .web .download_btn a:hover, .download_btn .web a:hover {
  background: #FBCD0A;
}
.web .comics_main .at-share-btn-elements .at-share-btn:active, .comics_main .at-share-btn-elements .web .at-share-btn:active, .web .comics_inner[data-type=video] .actions_block .back_btns button:active, .comics_inner[data-type=video] .actions_block .back_btns .web button:active, .web .download_btn a:active, .download_btn .web a:active {
  background: #A64AC9;
}
.touch .video_block .video_screen:active, .video_block .touch .video_screen:active {
  opacity: 0.7;
}
.touch .comics_inner:not([data-type=video]) .back_btn:active, .comics_inner:not([data-type=video]) .touch .back_btn:active {
  color: #FBCD0A;
}
.touch .comics_main .at-share-btn-elements .at-share-btn:active, .comics_main .at-share-btn-elements .touch .at-share-btn:active, .touch .comics_inner[data-type=video] .actions_block .back_btns button:active, .comics_inner[data-type=video] .actions_block .back_btns .touch button:active, .touch .download_btn a:active, .download_btn .touch a:active {
  background: #FBCD0A;
}

/*# sourceMappingURL=comics.css.map */
