@media screen and (min-width: 960px) {
  .faq_inner {
    padding-top: 40px;
    padding-bottom: 57px;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .faq_inner {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 575px) {
  .faq_inner {
    padding-top: 25px;
    padding-bottom: 45px;
  }
}

/*# sourceMappingURL=faq.css.map */
