.main_section .products_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.about_section .steps_list {
  padding: 0;
  margin: 0 -15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.about_section .steps_list img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.about_section .about_join a {
  line-height: 1.17em;
  font-family: "bainsley-bold";
}
@media screen and (min-width: 1200px) {
  .about_section .about_join a {
    font-size: 420%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .about_section .about_join a {
    font-size: 360%;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .about_section .about_join a {
    font-size: 320%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .about_section .about_join a {
    font-size: 280%;
  }
}
@media screen and (max-width: 575px) {
  .about_section .about_join a {
    font-size: 240%;
  }
}

@media screen and (min-width: 960px) {
  .main_section .see_more a, .about_section .about_join .text_block, .about_section .steps_list .step_name {
    font-size: 240%;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .main_section .see_more a, .about_section .about_join .text_block, .about_section .steps_list .step_name {
    font-size: 210%;
    line-height: 27px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .main_section .see_more a, .about_section .about_join .text_block, .about_section .steps_list .step_name {
    font-size: 180%;
    line-height: 24px;
  }
}
@media screen and (max-width: 575px) {
  .main_section .see_more a, .about_section .about_join .text_block, .about_section .steps_list .step_name {
    font-size: 150%;
    line-height: 19px;
  }
}

.about_section {
  padding: 65px 0 57px;
  text-align: center;
}
.about_section .section_title {
  color: #A64AC9;
  max-width: 675px;
  margin: 0 auto;
}
.about_section .description_block {
  max-width: 675px;
  margin: 0 auto;
}
.about_section .steps_list {
  justify-content: space-around;
  counter-reset: serialNum;
}
.about_section .steps_list li {
  flex: 1;
  padding: 0 15px 50px;
  max-width: 240px;
  counter-increment: serialNum;
  display: flex;
  flex-direction: column;
}
.about_section .steps_list li:before {
  display: flex;
  margin: 0 auto 7px;
  align-items: center;
  justify-content: center;
  font-family: "segoeui";
  color: #ffffff;
  background: #5F7BBC;
  border-radius: 50%;
  content: counter(serialNum);
}
.about_section .steps_list li:nth-child(2) img {
  transform: translate3d(0, -10%, 0);
  -moz-transform: translate3d(0, -10%, 0);
  -ms-transform: translate3d(0, -10%, 0);
  -webkit-transform: translate3d(0, -10%, 0);
  -o-transform: translate3d(0, -10%, 0);
}
.about_section .steps_list .step_name {
  color: #5F7BBC;
}
.about_section .steps_list a {
  display: inline-block;
  vertical-align: top;
  margin-top: auto;
}
.about_section .about_join a {
  display: inline-block;
  position: relative;
  margin-bottom: 28px;
}
.about_section .about_join a:disabled, .about_section .about_join a.disable, .about_section .about_join a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.about_section .about_join a:after {
  display: block;
  content: "";
  position: absolute;
  left: -25px;
  right: -25px;
  bottom: -17px;
  border-top: 3px solid;
}
.about_section .about_join .text_block {
  color: #5F7BBC;
}
@media screen and (min-width: 960px) {
  .about_section .description_block {
    padding-top: 37px;
  }
  .about_section .steps_list {
    padding-top: 74px;
  }
  .about_section .steps_list li:before {
    width: 60px;
    height: 60px;
    font-size: 380%;
  }
  .about_section .steps_list img {
    height: 150px;
  }
  .about_section .steps_list .step_name {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 959px) {
  .about_section {
    padding-bottom: 45px;
  }
  .about_section .steps_list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .about_section {
    padding-top: 50px;
  }
  .about_section .description_block {
    padding-top: 30px;
  }
  .about_section .steps_list {
    padding-top: 55px;
  }
  .about_section .steps_list li:before {
    width: 48px;
    height: 48px;
    font-size: 320%;
  }
  .about_section .steps_list img {
    height: 135px;
  }
  .about_section .steps_list .step_name {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .about_section {
    padding-top: 35px;
  }
  .about_section .description_block {
    padding-top: 24px;
  }
  .about_section .steps_list {
    padding-top: 40px;
  }
  .about_section .steps_list li:before {
    width: 40px;
    height: 40px;
    font-size: 280%;
    margin-bottom: 10px;
  }
  .about_section .steps_list img {
    height: 120px;
  }
  .about_section .steps_list .step_name {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 575px) {
  .about_section {
    padding-top: 22px;
  }
  .about_section .description_block {
    padding-top: 18px;
  }
  .about_section .steps_list {
    padding-top: 25px;
  }
  .about_section .steps_list li:before {
    width: 32px;
    height: 32px;
    font-size: 200%;
    margin-bottom: 15px;
  }
  .about_section .steps_list img {
    height: 102px;
  }
  .about_section .steps_list .step_name {
    margin-bottom: 25px;
  }
}

.main_section {
  position: relative;
  overflow: hidden;
  background: #D6DAE4;
  padding: 68px 0 47px;
}
.main_section .section_inner {
  max-width: 1720px;
  margin: 0 auto;
  display: flex;
}
.main_section .section_block {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.main_section .section_block:first-child {
  align-items: flex-start;
}
.main_section .section_block:first-child .section_title:after {
  right: -10px;
}
.main_section .section_block:first-child .products_list li:nth-child(2) {
  margin-left: -20px;
}
.main_section .section_block:first-child .products_list li:nth-child(3) {
  margin-left: -20px;
}
.main_section .section_block:last-child {
  align-items: flex-end;
}
.main_section .section_block:last-child .section_title:after {
  left: -10px;
}
.main_section .section_block:last-child .products_list {
  flex-direction: row-reverse;
}
.main_section .section_block:last-child .products_list li:nth-child(2) {
  margin-right: -20px;
}
.main_section .section_block:last-child .products_list li:nth-child(3) {
  margin-right: -20px;
}
.main_section .section_block:last-child .see_more {
  margin-right: 25px;
}
.main_section .section_title {
  color: #2E2D84;
  position: relative;
  -o-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  margin-bottom: 40px;
}
.main_section .section_title a:disabled, .main_section .section_title a.disable, .main_section .section_title a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.main_section .section_title:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -14px;
  border-top: 4px solid;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  width: 75vw;
  -o-transition: width 2s;
  -ms-transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  transition: width 2s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.main_section .products_list {
  display: flex;
}
.main_section .products_list li {
  transform-origin: center;
  -webkit-transfrom-origin: center;
  -o-transition: transform 1s;
  -ms-transition: transform 1s;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
  position: relative;
}
.main_section .products_list li:first-child {
  width: 180px;
  -o-transition-delay: 1.5s;
  -ms-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.main_section .products_list li:nth-child(2) {
  width: 220px;
  -o-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  transition-delay: 1.25s;
}
.main_section .products_list li:nth-child(3) {
  width: 290px;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.main_section .products_list li:hover {
  z-index: 5;
}
.main_section .see_more {
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -o-transition-delay: 2s;
  -ms-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}
.main_section .see_more a {
  display: inline-block;
  color: #5F7BBC;
  position: relative;
  margin-top: 45px;
}
.main_section .see_more a:disabled, .main_section .see_more a.disable, .main_section .see_more a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.main_section .see_more a:before {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: -25px;
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  bottom: -5px;
}
.main_section:not(.showed) .section_title {
  opacity: 0;
}
.main_section:not(.showed) .section_title:after {
  width: 0;
}
.main_section:not(.showed) .see_more {
  opacity: 0;
}
.main_section:not(.showed) .section_block:first-child .products_list li {
  transform: translate3d(-50vw, 0, 0);
  -moz-transform: translate3d(-50vw, 0, 0);
  -ms-transform: translate3d(-50vw, 0, 0);
  -webkit-transform: translate3d(-50vw, 0, 0);
  -o-transform: translate3d(-50vw, 0, 0);
}
.main_section:not(.showed) .section_block:last-child .products_list li {
  transform: translate3d(50vw, 0, 0);
  -moz-transform: translate3d(50vw, 0, 0);
  -ms-transform: translate3d(50vw, 0, 0);
  -webkit-transform: translate3d(50vw, 0, 0);
  -o-transform: translate3d(50vw, 0, 0);
}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .main_section .section_block:first-child .products_list li:nth-child(2) {
    margin-left: -80px;
  }
  .main_section .section_block:first-child .products_list li:nth-child(3) {
    margin-left: -80px;
  }
  .main_section .section_block:last-child .products_list li:nth-child(2) {
    margin-right: -80px;
  }
  .main_section .section_block:last-child .products_list li:nth-child(3) {
    margin-right: -80px;
  }
}
@media screen and (max-width: 1199px) {
  .main_section .product_block .comics_name {
    font-size: 130%;
    line-height: 17px;
    min-height: 65px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .main_section {
    padding: 50px 0;
  }
  .main_section .see_more a:before {
    right: -20px;
  }
  .main_section .section_block:last-child .see_more {
    margin-right: 20px;
  }
  .main_section .products_list li:first-child {
    width: 120px;
  }
  .main_section .products_list li:nth-child(2) {
    width: 146px;
  }
  .main_section .products_list li:nth-child(3) {
    width: 190px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .main_section {
    padding: 40px 0;
  }
  .main_section .products_list li:first-child {
    width: 115px;
  }
  .main_section .products_list li:nth-child(2) {
    width: 128px;
  }
  .main_section .products_list li:nth-child(3) {
    width: 145px;
  }
  .main_section .section_block:first-child .products_list li:nth-child(2) {
    margin-left: -40px;
  }
  .main_section .section_block:first-child .products_list li:nth-child(3) {
    margin-left: -40px;
  }
  .main_section .section_block:last-child .products_list li:nth-child(2) {
    margin-right: -40px;
  }
  .main_section .section_block:last-child .products_list li:nth-child(3) {
    margin-right: -40px;
  }
  .main_section .section_block:last-child .see_more {
    margin-right: 15px;
  }
  .main_section .see_more a:before {
    right: -15px;
  }
}
@media screen and (min-width: 768px) {
  .main_section .products_list {
    align-items: flex-end;
  }
  .main_section .section_block:first-child .products_list li .product_block {
    transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
  }
  .main_section .section_block:last-child .products_list li .product_block {
    transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
}
@media screen and (max-width: 767px) {
  .main_section {
    padding: 25px 0;
  }
  .main_section .section_inner {
    flex-wrap: wrap;
  }
  .main_section .section_block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .main_section .section_block:first-child .products_list {
    align-items: center;
  }
  .main_section .section_block:first-child .products_list li:nth-child(2) {
    margin-left: -15.7%;
  }
  .main_section .section_block:first-child .products_list li:nth-child(3) {
    margin-left: -20.7%;
  }
  .main_section .section_block:last-child {
    margin-top: 40px;
  }
  .main_section .section_block:last-child .see_more {
    margin-right: 10px;
  }
  .main_section .section_block:last-child .products_list {
    align-items: center;
  }
  .main_section .section_block:last-child .products_list li:nth-child(2) {
    margin-right: -15.7%;
  }
  .main_section .section_block:last-child .products_list li:nth-child(3) {
    margin-right: -20.7%;
  }
  .main_section .products_list {
    align-items: center;
  }
  .main_section .products_list li:first-child {
    width: 40.4%;
    min-width: 40.4%;
  }
  .main_section .products_list li:nth-child(2) {
    width: 45.7%;
    min-width: 45.7%;
  }
  .main_section .products_list li:nth-child(3) {
    width: 50.7%;
    min-width: 50.7%;
  }
  .main_section .see_more a {
    margin-top: 25px;
  }
  .main_section .see_more a:before {
    right: -10px;
  }
  .main_section:not(.showed) .section_block:first-child .products_list li {
    transform: translate3d(-100vw, 0, 0);
    -moz-transform: translate3d(-100vw, 0, 0);
    -ms-transform: translate3d(-100vw, 0, 0);
    -webkit-transform: translate3d(-100vw, 0, 0);
    -o-transform: translate3d(-100vw, 0, 0);
  }
  .main_section:not(.showed) .section_block:last-child .products_list li {
    transform: translate3d(100vw, 0, 0);
    -moz-transform: translate3d(100vw, 0, 0);
    -ms-transform: translate3d(100vw, 0, 0);
    -webkit-transform: translate3d(100vw, 0, 0);
    -o-transform: translate3d(100vw, 0, 0);
  }
}

.web .about_section .steps_list a, .about_section .steps_list .web a {
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.web .about_section .about_join a, .about_section .about_join .web a, .web .main_section .section_title a, .main_section .section_title .web a, .web .main_section .see_more a, .main_section .see_more .web a {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.touch .about_section .steps_list a, .about_section .steps_list .touch a {
  -o-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.touch .about_section .about_join a, .about_section .about_join .touch a, .touch .main_section .section_title a, .main_section .section_title .touch a, .touch .main_section .see_more a, .main_section .see_more .touch a {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.web .about_section .steps_list a:hover, .about_section .steps_list .web a:hover {
  opacity: 0.7;
}
.web .about_section .about_join a:hover, .about_section .about_join .web a:hover, .web .main_section .section_title a:hover, .main_section .section_title .web a:hover, .web .main_section .see_more a:hover, .main_section .see_more .web a:hover {
  color: #FBCD0A;
}
.web .about_section .about_join a:active, .about_section .about_join .web a:active, .web .main_section .section_title a:active, .main_section .section_title .web a:active, .web .main_section .see_more a:active, .main_section .see_more .web a:active {
  color: #A64AC9;
}
.touch .about_section .steps_list a:active, .about_section .steps_list .touch a:active {
  opacity: 0.7;
}
.touch .about_section .about_join a:active, .about_section .about_join .touch a:active, .touch .main_section .section_title a:active, .main_section .section_title .touch a:active, .touch .main_section .see_more a:active, .main_section .see_more .touch a:active {
  color: #FBCD0A;
}

/*# sourceMappingURL=index.css.map */
