.category_filter ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products_list {
  padding: 0;
  margin: 0 -15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.category_filter.opened .more_btn:before {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

.listing_inner {
  padding: 39px 0 57px;
}

.category_filter {
  margin-top: 30px;
  display: flex;
  position: relative;
  z-index: 10;
}
.category_filter:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid #5F7BBC;
  z-index: -1;
}
.category_filter ul {
  flex: 1;
  width: 50%;
  height: 45px;
  display: flex;
  flex-wrap: wrap;
}
.category_filter ul a {
  display: block;
  color: #5F7BBC;
  position: relative;
  overflow: hidden;
  padding: 10px 21px;
  position: relative;
}
.category_filter ul a span {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.category_filter ul a.selected {
  background: #5F7BBC;
  color: #ffffff;
  pointer-events: none;
}
.category_filter ul li:not(:first-child):not(.in_drop) {
  margin: 0 auto !important;
}
.category_filter ul li:not(.in_drop) a:disabled, .category_filter ul li:not(.in_drop) a.disable, .category_filter ul li:not(.in_drop) a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.category_filter .more_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  line-height: inherit;
}
.category_filter .more_btn:disabled, .category_filter .more_btn.disable, .category_filter .more_btn.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.category_filter .more_btn:before {
  order: 2;
  font-size: 0.6rem;
  margin-left: 16px;
}
.category_filter .more_btn span {
  display: block;
  line-height: inherit;
}
@media screen and (min-width: 1200px) {
  .category_filter {
    font-size: 190%;
    line-height: 25px;
  }
  .category_filter ul {
    height: 45px;
  }
  .category_filter .in_drop {
    width: 220px;
    min-width: 220px;
  }
}
@media screen and (max-width: 1199px) {
  .category_filter {
    font-size: 160%;
    line-height: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1199px) {
  .category_filter .in_drop {
    width: 180px;
    min-width: 180px;
  }
  .category_filter ul,
.category_filter .more_btn {
    height: 40px;
  }
  .category_filter .more_btn:before {
    margin-left: 10px;
  }
}
@media screen and (min-width: 576px) {
  .category_filter .more_btn {
    padding: 10px 0;
    border: none;
    margin-left: 21px;
    color: #5F7BBC;
    background: transparent;
  }
  .category_filter .in_drop {
    height: 0;
    position: relative;
    overflow: hidden;
    border-left: 1px solid rgba(12, 22, 34, 0.05);
    border-right: 1px solid rgba(12, 22, 34, 0.05);
    background: #ffffff;
    z-index: 5;
    position: relative;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .category_filter .in_drop:last-child {
    border-radius: 0 0 14px 14px;
    border-bottom: 1px solid rgba(12, 22, 34, 0.05);
  }
  .category_filter .in_drop a span {
    height: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
  }
  .category_filter .in_drop a:before {
    display: block;
    content: attr(data-text);
  }
  .category_filter li:not(.in_drop) + .in_drop {
    border-top-left-radius: 15px;
  }
  .category_filter.opened .in_drop {
    height: auto;
    opacity: 1;
  }
}
@media screen and (max-width: 575px) {
  .category_filter:after {
    display: none;
  }
  .category_filter .more_btn {
    margin-left: auto;
    border-radius: 24px 24px 0 24px;
    background: rgba(95, 123, 188, 0.1);
    color: #2E2D84;
    width: 250px;
    padding: 0 27px;
    border: none;
    height: 48px;
  }
  .category_filter .more_btn span {
    flex: 1;
    width: 50%;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .category_filter ul {
    position: absolute;
    overflow: hidden;
    display: block;
    right: 0;
    height: auto;
    top: 100%;
    width: 250px;
    background: #ffffff;
    z-index: 5;
    border: 1px solid rgba(12, 22, 34, 0.05);
    border-bottom-left-radius: 15px;
    max-height: 0;
    opacity: 0;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .category_filter ul li {
    margin: 0 !important;
    width: 100% !important;
  }
  .category_filter ul a {
    padding: 14px 27px;
    color: #2E2D84;
  }
  .category_filter ul a.selected {
    background: #A64AC9;
  }
  .category_filter ul a:not(.selected):active {
    background: transparent !important;
    color: #FBCD0A !important;
  }
  .category_filter ul a span {
    white-space: normal;
  }
  .category_filter.opened .more_btn {
    border-bottom-left-radius: 0;
  }
  .category_filter.opened ul {
    max-height: 360px;
    overflow-y: auto;
    opacity: 1;
  }
}

.products_list li {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 960px) {
  .products_list li {
    margin-top: 65px;
  }
}
@media screen and (max-width: 959px) {
  .products_list li {
    margin-top: 50px;
  }
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  .products_list li {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (min-width: 480px) and (max-width: 719px) {
  .products_list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 479px) {
  .products_list li {
    flex: 0 0 100%;
    max-width: 305px;
    margin-left: auto;
    margin-right: auto;
  }
}

.web .category_filter ul li:not(.in_drop) a, .category_filter ul li:not(.in_drop) .web a, .web .category_filter .more_btn, .category_filter .web .more_btn {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .category_filter ul li.in_drop a, .category_filter ul li.in_drop .web a {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .category_filter ul li:not(.in_drop) a, .category_filter ul li:not(.in_drop) .touch a, .touch .category_filter .more_btn, .category_filter .touch .more_btn {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .category_filter ul li.in_drop a, .category_filter ul li.in_drop .touch a {
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.web .category_filter ul li.in_drop a:hover, .category_filter ul li.in_drop .web a:hover {
  background: #A64AC9;
  color: #ffffff;
  border-color: transparent;
}
.web .category_filter ul li:not(.in_drop) a:hover, .category_filter ul li:not(.in_drop) .web a:hover, .web .category_filter .more_btn:hover, .category_filter .web .more_btn:hover {
  color: #FBCD0A;
}
.web .category_filter ul li:not(.in_drop) a:active, .category_filter ul li:not(.in_drop) .web a:active, .web .category_filter .more_btn:active, .category_filter .web .more_btn:active {
  color: #A64AC9;
}
.touch .category_filter ul li.in_drop a:active, .category_filter ul li.in_drop .touch a:active {
  background: #A64AC9;
  color: #ffffff;
  border-color: transparent;
}
.touch .category_filter ul li:not(.in_drop) a:active, .category_filter ul li:not(.in_drop) .touch a:active, .touch .category_filter .more_btn:active, .category_filter .touch .more_btn:active {
  color: #FBCD0A;
}

/*# sourceMappingURL=listing.css.map */
