@charset "UTF-8";
@font-face {
  font-family: "segoeui";
  src: url("../fonts/SegoeUI/SegoeUI.eot");
  src: url("../fonts/SegoeUI/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "segoeui-bold";
  src: url("../fonts/SegoeUI-Bold/SegoeUI-Bold.eot");
  src: url("../fonts/SegoeUI-Bold/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Bold/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold/SegoeUI-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bainsley";
  src: url("../fonts/Bainsley/Bainsley.eot");
  src: url("../fonts/Bainsley/Bainsley.eot?#iefix") format("embedded-opentype"), url("../fonts/Bainsley/Bainsley.woff") format("woff"), url("../fonts/Bainsley/Bainsley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bainsley-bold";
  src: url("../fonts/Bainsley-Bold/Bainsley-Bold.eot");
  src: url("../fonts/Bainsley-Bold/Bainsley-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bainsley-Bold/Bainsley-Bold.woff") format("woff"), url("../fonts/Bainsley-Bold/Bainsley-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icon";
  font-display: "auto";
  src: url("../fonts/icons/icomoon.eot?bjgc5x");
  src: url("../fonts/icons/icomoon.eot?bjgc5x#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?bjgc5x") format("truetype"), url("../fonts/icons/icomoon.woff?bjgc5x") format("woff");
  font-weight: normal;
  font-style: normal;
}
.icon_facebook_round:before {
  content: "";
}

.icon_instagram_round:before {
  content: "";
}

.icon_linkedin_round:before {
  content: "";
}

.icon_twitter_round:before {
  content: "";
}

.icon_youtube_round:before {
  content: "";
}

.icon_behance_round:before {
  content: "";
}

.icon_facebook:before {
  content: "";
}

.icon_instagram:before {
  content: "";
}

.icon_linkedin:before {
  content: "";
}

.icon_twitter:before {
  content: "";
}

.icon_pinterest:before {
  content: "";
}

.icon_youtube:before {
  content: "";
}

.icon_telegram:before {
  content: "";
}

.icon_ok:before {
  content: "";
}

.icon_vk:before {
  content: "";
}

.icon_google:before {
  content: "";
}

.icon_tiktok:before {
  content: "";
}

.icon_flickr:before {
  content: "";
}

.icon_arrow:before {
  content: "";
}

.icon_down:before {
  content: "";
}

.icon_left:before {
  content: "";
}

.icon_right:before {
  content: "";
}

.icon_close:before {
  content: "";
}

.icon_clear:before {
  content: "";
}

.icon_delete:before {
  content: "";
}

.icon_globe:before {
  content: "";
}

.icon_eye:before {
  content: "";
}

.icon_eye_close:before {
  content: "";
}

.icon_layout:before {
  content: "";
}

.icon_location:before {
  content: "";
}

.icon_phone:before {
  content: "";
}

.icon_pen:before {
  content: "";
}

.icon_edit:before {
  content: "";
}

.icon_plus:before {
  content: "";
}

.icon_add:before {
  content: "";
}

.icon_refresh:before {
  content: "";
}

.icon_uncheck:before {
  content: "";
}

.icon_check:before {
  content: "";
}

.icon_exit:before {
  content: "";
}

.icon_upload:before {
  content: "";
}

.icon_upload_image:before {
  content: "";
}

.icon_video:before {
  content: "";
}

html {
  height: 100%;
  font-size: 10px;
  line-height: 1.4286em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
html:not(.loaded) {
  overflow: hidden;
}
html:not(.loaded) body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
html:not(.loaded) .loader {
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  width: 100%;
  height: 100%;
}
html:not(.loaded) .loader:before,
html:not(.loaded) .loader img {
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  color: #282828;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  font-family: "bainsley";
  background: #F9FAFB;
}
body:before {
  display: block;
  position: fixed;
  content: "";
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #282828;
  opacity: 0;
  height: 0;
  -o-transition: height 0.05s, opacity 0.5s;
  -ms-transition: height 0.05s, opacity 0.5s;
  -moz-transition: height 0.05s, opacity 0.5s;
  -webkit-transition: height 0.05s, opacity 0.5s;
  transition: height 0.05s, opacity 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
body.popup_opened {
  overflow: hidden;
}
body.popup_opened:before {
  height: 100%;
  opacity: 0.6;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
select,
textarea,
button,
a,
.slick-slide {
  outline: none !important;
}

a,
a:focus,
a:hover,
button:hover {
  text-decoration: none;
}

a {
  color: #2E2D84;
}

button {
  cursor: pointer;
  display: block;
}

img {
  max-height: none;
  border: none;
}

textarea,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

.page_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.page_row .cb {
  flex: 0 0 100%;
  max-width: 100%;
}

.page_container {
  width: 100%;
  max-width: 1210px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.phone_link {
  font-family: "segoeui";
}
.phone_link:not(.clickable) {
  color: inherit;
  cursor: default;
  pointer-events: none;
}

.individual_hint,
.drop_list {
  display: none;
}

.help-block.form-error {
  display: none !important;
}

.has-error .error_hint,
.has-error + .error_hint {
  max-height: 60px;
}

.field_block {
  position: relative;
}
.field_block input,
.field_block textarea {
  width: 100%;
}
.field_block textarea {
  resize: none;
  display: block;
}

.cb {
  display: block;
  clear: both;
}

.loader {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.loader:before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
.loader img {
  position: relative;
  z-index: 2;
  display: block;
  width: 120px;
  animation: storm 1.5s infinite;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

@keyframes storm {
  to {
    transform: rotateY(360deg);
  }
}
.large_title {
  line-height: 1.28em;
  font-family: "bainsley-bold";
  color: #2E2D84;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .large_title {
    font-size: 640%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .large_title {
    font-size: 560%;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .large_title {
    font-size: 480%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .large_title {
    font-size: 400%;
  }
}
@media screen and (max-width: 575px) {
  .large_title {
    font-size: 320%;
  }
}

.page_title {
  margin: 0;
  color: #2E2D84;
  font-family: "bainsley-bold";
  line-height: 1.29em;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.page_title:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border-radius: 6px;
  background: #FBCD0A;
}
@media screen and (min-width: 1200px) {
  .page_title {
    font-size: 380%;
    padding: 0 30px 20px;
  }
  .page_title:after {
    height: 6px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .page_title {
    font-size: 320%;
    padding: 0 25px 18px;
  }
  .page_title:after {
    height: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .page_title {
    font-size: 280%;
    padding: 0 20px 16px;
  }
  .page_title:after {
    height: 4px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .page_title {
    font-size: 240%;
    padding: 0 15px 13px;
  }
  .page_title:after {
    height: 3px;
  }
}
@media screen and (max-width: 575px) {
  .page_title {
    font-size: 220%;
    padding: 0 10px 12px;
  }
  .page_title:after {
    height: 2px;
  }
}

.section_title {
  margin: 0;
  color: inherit;
  font-family: "bainsley-bold";
  line-height: 1.3em;
}
@media screen and (min-width: 1200px) {
  .section_title {
    font-size: 480%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .section_title {
    font-size: 420%;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .section_title {
    font-size: 360%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .section_title {
    font-size: 280%;
  }
}
@media screen and (max-width: 575px) {
  .section_title {
    font-size: 220%;
  }
}

@media screen and (min-width: 960px) {
  .description_block {
    font-size: 200%;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .description_block {
    font-size: 180%;
    line-height: 28px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .description_block {
    font-size: 160%;
    line-height: 26px;
  }
}
@media screen and (max-width: 575px) {
  .description_block {
    font-size: 140%;
    line-height: 25px;
  }
}

.product_block {
  display: block;
}
.product_block .image_block {
  display: block;
  padding-bottom: 138.88%;
  position: relative;
  z-index: 2;
}
.product_block .image_block img {
  object-fit: cover;
}
.product_block .image_block:empty, .product_block .image_block.no_image {
  background: url("images/no_image.svg") no-repeat #C2C6D1;
  background-position: center;
  background-size: 35% auto;
}
.product_block .comics_name {
  display: flex;
  min-height: 83px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 200%;
  line-height: 25px;
  padding: 4px 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  background: #F7F9FF;
}
.product_block ~ .comics_lg {
  margin-top: 8px;
  font-size: 160%;
  line-height: 20px;
  color: #A64AC9;
}
.product_block ~ .comics_lg .lg_label {
  color: #5F7BBC;
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .product_block .comics_name {
    font-size: 160%;
    line-height: 20px;
    min-height: 68px;
  }
  .product_block ~ .comics_lg {
    font-size: 140%;
    line-height: 18px;
  }
}
@media screen and (max-width: 575px) {
  .product_block .comics_name {
    font-size: 130%;
    line-height: 17px;
    min-height: 65px;
  }
  .product_block ~ .comics_lg {
    font-size: 120%;
    line-height: 15px;
  }
}

.paging {
  margin-top: 40px;
}
.paging ul {
  align-items: center;
  justify-content: center;
  color: #5F7BBC;
}
.paging a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.paging a:disabled, .paging a.disable, .paging a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.paging a:not(.prev_page):not(.next_page) {
  font-size: 260%;
  font-family: "segoeui";
}
.paging a.current_page {
  width: 44px;
  height: 44px;
  pointer-events: none;
  border-radius: 50%;
  background: #5F7BBC;
  color: #ffffff;
}
.paging a.prev_page, .paging a.next_page {
  font-size: 180%;
  line-height: 23px;
}
.paging a.prev_page:before, .paging a.next_page:before {
  display: block;
  font-size: 1.2rem;
  margin: 0 10px;
}
.paging a.next_page:before {
  order: 2;
}
.paging li {
  padding: 0 15px;
}
.paging span {
  display: block;
  font-size: 300%;
  font-family: "segoeui";
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .paging a:not(.prev_page):not(.next_page) {
    font-size: 220%;
  }
  .paging a.current_page {
    width: 38px;
    height: 38px;
  }
  .paging a.prev_page, .paging a.next_page {
    font-size: 160%;
    line-height: 20px;
  }
  .paging span {
    font-size: 260%;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .paging a:not(.prev_page):not(.next_page) {
    font-size: 200%;
  }
  .paging a.current_page {
    width: 36px;
    height: 36px;
  }
  .paging a.prev_page, .paging a.next_page {
    font-size: 140%;
  }
  .paging span {
    font-size: 220%;
  }
}
@media screen and (max-width: 575px) {
  .paging {
    padding: 0 5px;
  }
  .paging a:not(.prev_page):not(.next_page) {
    font-size: 180%;
  }
  .paging a.current_page {
    width: 32px;
    height: 32px;
  }
  .paging a.prev_page, .paging a.next_page {
    font-size: 0;
  }
  .paging a.prev_page:before, .paging a.next_page:before {
    margin: 0;
    font-size: 1.4rem;
  }
  .paging li {
    padding: 0 10px;
  }
  .paging span {
    font-size: 200%;
  }
}

.web .product_block:hover .comics_name {
  color: #ffffff;
  background: #5F7BBC;
}

.touch .product_block:active .comics_name {
  color: #ffffff;
  background: #5F7BBC;
}

.text_section {
  padding-top: 42px;
  padding-bottom: 57px;
  word-break: break-word;
}
.text_section a {
  color: #A64AC9;
}
.text_section a:disabled, .text_section a.disable, .text_section a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.text_section .description_block {
  margin-top: 30px;
  text-align: justify;
}
@media screen and (min-width: 960px) {
  .text_section .description_block {
    font-size: 190%;
  }
}
@media screen and (min-width: 1200px) {
  .text_section .description_block {
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .text_section .description_block {
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .text_section {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .text_section .description_block {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .text_section .description_block {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media screen and (max-width: 767px) {
  .text_section {
    padding-top: 25px;
    padding-bottom: 45px;
  }
}

.tab_block {
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: relative;
}
.tab_block:not(.selected) {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.switch_buttons {
  display: flex;
  justify-content: center;
  color: #5F7BBC;
}
.switch_buttons li {
  border-bottom: 1px solid;
}
.switch_buttons li:first-child {
  padding-left: 30px;
}
.switch_buttons li:last-child {
  padding-right: 30px;
}
@media screen and (max-width: 959px) {
  .switch_buttons li:first-child {
    padding-left: 15px;
  }
  .switch_buttons li:last-child {
    padding-right: 15px;
  }
}
.switch_buttons a {
  display: block;
  padding: 10px 18px;
  min-width: 126px;
  font-size: 190%;
  line-height: 25px;
  color: inherit;
  text-align: center;
}
.switch_buttons a.selected {
  pointer-events: none;
  background: #5F7BBC;
  color: #ffffff;
}
@media screen and (max-width: 959px) {
  .switch_buttons a {
    font-size: 160%;
    line-height: 20px;
  }
}

.web .switch_buttons a:not(.selected):hover {
  background: rgba(95, 123, 188, 0.2);
}

.touch .switch_buttons a:not(.selected):active {
  background: rgba(95, 123, 188, 0.2);
}

.popup_block {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 100%;
  overflow: hidden;
  z-index: 1000;
  -o-transition: top 0.5s;
  -ms-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}
.popup_block.showed {
  top: 0;
  overflow-y: auto;
}

.popup_inner {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.back_to_top {
  position: fixed;
  bottom: 40px;
  right: 7.5%;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #5F7BBC;
  color: #ffffff;
  font-size: 100%;
  z-index: 50;
}
.back_to_top:disabled, .back_to_top.disable, .back_to_top.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
.back_to_top:before {
  display: block;
}
.back_to_top:not(.active) {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .back_to_top {
    right: 5%;
  }
}
@media screen and (max-width: 1439px) {
  .back_to_top {
    right: 20px;
  }
}

.delete_popup .popup_container,
.save_popup .popup_container {
  background: #ffffff;
  width: 100%;
  max-width: 478px;
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 290px;
  border-radius: 14px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.delete_popup .popup_container .description_block,
.save_popup .popup_container .description_block {
  line-height: 1.75em;
  color: #5F7BBC;
  max-width: 310px;
  margin: 0 auto 42px;
}
.delete_popup .popup_container .btns_block,
.save_popup .popup_container .btns_block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  white-space: nowrap;
}
.delete_popup .popup_container .save_btn,
.delete_popup .popup_container .delete_btn,
.save_popup .popup_container .save_btn,
.save_popup .popup_container .delete_btn {
  margin: 0 12px 23px;
  flex: 1;
}
.delete_popup .popup_container .cancel_btn,
.save_popup .popup_container .cancel_btn {
  margin: 0 12px 23px;
  flex: 1;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .delete_popup .popup_container,
.save_popup .popup_container {
    padding: 20px 20px;
    min-height: 240px;
  }
  .delete_popup .popup_container .description_block,
.save_popup .popup_container .description_block {
    margin-bottom: 30px;
  }
}

.large_container {
  max-width: 1720px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.num404 {
  display: block;
  font-size: 8rem;
  line-height: 1.1em;
  letter-spacing: 0.1em;
}

.breadcrumbs {
  padding: 30px 0;
  font-size: 180%;
  line-height: 23px;
}
.breadcrumbs .page_container {
  display: flex;
  align-items: center;
}
.breadcrumbs .back_btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #2E2D84;
  padding: 0 10px 3px;
  margin-right: 40px;
}
.breadcrumbs .back_btn:disabled, .breadcrumbs .back_btn.disable, .breadcrumbs .back_btn.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.breadcrumbs .back_btn:before {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  font-size: 0.8rem;
  height: 8px;
  overflow: hidden;
}
.breadcrumbs ul {
  display: flex;
}
.breadcrumbs ul li {
  display: flex;
  align-items: center;
  color: #2E2D84;
}
.breadcrumbs ul li:not(:first-child):before {
  display: block;
  content: "";
  font-size: 1rem;
  margin: 0 15px;
}
.breadcrumbs ul a {
  display: inline-block;
  vertical-align: top;
  color: inherit;
}
.breadcrumbs ul a:disabled, .breadcrumbs ul a.disable, .breadcrumbs ul a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.breadcrumbs ul div {
  color: #A64AC9;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 767px) {
  .breadcrumbs {
    display: none;
  }
}

.faq_list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  max-width: 773px;
}
.faq_list > li {
  margin-top: 65px;
  border: 1px solid;
  padding: 40px 50px;
  position: relative;
  color: #5F7BBC;
}
.faq_list > li.opened .toggle_btn {
  color: #A64AC9;
}
.faq_list .toggle_btn {
  position: absolute;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 190%;
  line-height: 24px;
  bottom: 15px;
  right: 15px;
  color: inherit;
  display: flex;
  align-items: center;
}
.faq_list .toggle_btn:disabled, .faq_list .toggle_btn.disable, .faq_list .toggle_btn.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.faq_list .toggle_btn:before {
  display: block;
  font-size: 0.6rem;
  margin-left: 11px;
  order: 2;
}
.faq_list .answer_block,
.faq_list .question_block {
  font-size: 240%;
  line-height: 35px;
}
.faq_list .question_block {
  cursor: pointer;
  font-family: "bainsley-bold";
}
.faq_list .question_block:disabled, .faq_list .question_block.disable, .faq_list .question_block.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.faq_list .answer_block {
  color: #2E2D84;
  display: none;
  text-align: justify;
}
.faq_list .answer_block:before {
  display: block;
  content: "";
  height: 21px;
}
.faq_list .num_block {
  position: absolute;
  font-size: 300%;
  font-family: "segoeui";
  color: #ffffff;
  background: #5F7BBC;
  border-radius: 50%;
  left: -11px;
  top: -26px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .faq_list {
    max-width: 680px;
  }
  .faq_list > li {
    margin-top: 50px;
    padding: 30px 40px;
  }
  .faq_list .toggle_btn {
    font-size: 160%;
    line-height: 20px;
    bottom: 10px;
    right: 10px;
  }
  .faq_list .toggle_btn:before {
    margin-left: 8px;
  }
  .faq_list .answer_block,
.faq_list .question_block {
    font-size: 200%;
    line-height: 30px;
  }
  .faq_list .num_block {
    font-size: 240%;
    top: -23px;
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 575px) {
  .faq_list > li {
    margin-top: 45px;
    padding: 20px;
  }
  .faq_list .toggle_btn {
    font-size: 140%;
    line-height: 18px;
    bottom: auto;
    right: auto;
    position: relative;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-right: -5px;
  }
  .faq_list .toggle_btn:before {
    margin-left: 7px;
  }
  .faq_list .answer_block,
.faq_list .question_block {
    font-size: 180%;
    line-height: 28px;
  }
  .faq_list .num_block {
    font-size: 200%;
    top: -22px;
    width: 36px;
    height: 36px;
  }
}

.footer_contacts ul, .footer_menu, .header .profile_menu, .header .submenu_list, .header .main_menu, .header .lg_list, .switch_buttons, .breadcrumbs ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer_top .partners_list, .paging ul {
  padding: 0;
  margin: 0 -15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.loader:before, .product_block .image_block img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.breadcrumbs .back_btn:before {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.header .main_menu > li.opened > a.submenu_btn:before, .back_to_top:before, .faq_list > li.opened .toggle_btn:before {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

[class*=icon_]:before, .breadcrumbs ul li:not(:first-child):before, [class*=icon_]:after {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header .main_logo img, .back_to_top:before {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.header .sign_btn, .delete_popup .popup_container .save_btn,
.delete_popup .popup_container .delete_btn,
.save_popup .popup_container .save_btn,
.save_popup .popup_container .delete_btn {
  border: none;
  display: inline-block;
  vertical-align: top;
  padding: 9px 28px;
  color: #ffffff;
  border-radius: 21px 21px 0 21px;
  background: #2E2D84;
  font-size: 190%;
  line-height: 24px;
}
.header .sign_btn:disabled, .delete_popup .popup_container .save_btn:disabled,
.delete_popup .popup_container .delete_btn:disabled,
.save_popup .popup_container .save_btn:disabled,
.save_popup .popup_container .delete_btn:disabled, .header .disable.sign_btn, .delete_popup .popup_container .disable.save_btn,
.delete_popup .popup_container .disable.delete_btn,
.save_popup .popup_container .disable.save_btn,
.save_popup .popup_container .disable.delete_btn, .header .inactive.sign_btn, .delete_popup .popup_container .inactive.save_btn,
.delete_popup .popup_container .inactive.delete_btn,
.save_popup .popup_container .inactive.save_btn,
.save_popup .popup_container .inactive.delete_btn {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .header .sign_btn, .delete_popup .popup_container .save_btn,
.delete_popup .popup_container .delete_btn,
.save_popup .popup_container .save_btn,
.save_popup .popup_container .delete_btn {
    font-size: 160%;
    line-height: 20px;
    padding: 8px 21px;
  }
}

.delete_popup .popup_container .cancel_btn,
.save_popup .popup_container .cancel_btn {
  border: 1px solid;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 8px 27px;
  color: #2E2D84;
  border-radius: 21px 21px 0 21px;
  background: transparent;
  font-size: 190%;
  line-height: 24px;
}
.delete_popup .popup_container .cancel_btn:disabled,
.save_popup .popup_container .cancel_btn:disabled, .delete_popup .popup_container .disable.cancel_btn,
.save_popup .popup_container .disable.cancel_btn, .delete_popup .popup_container .inactive.cancel_btn,
.save_popup .popup_container .inactive.cancel_btn {
  color: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .delete_popup .popup_container .cancel_btn,
.save_popup .popup_container .cancel_btn {
    font-size: 160%;
    line-height: 20px;
    padding: 8px 21px;
  }
}

.header {
  position: relative;
  z-index: 100;
  padding: 0 20px;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
.header_inner {
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  height: 100px;
  align-items: center;
}
.header .main_logo a {
  display: block;
}
.header .main_logo img {
  display: block;
  height: 89px;
  width: auto;
}
.header .sign_block {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.header .sign_btn.current_page {
  background: #A64AC9;
}
.header .lg_list {
  display: flex;
  color: #5F7BBC;
}
.header .lg_list li {
  display: flex;
  align-items: center;
}
.header .lg_list li:not(:first-child):before {
  display: block;
  height: 14px;
  border-left: 1px solid;
  content: "";
  margin: 0 15px;
}
.header .lg_list a {
  display: block;
  color: inherit;
}
.header .lg_list a:disabled, .header .lg_list a.disable, .header .lg_list a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.header .lg_list a.current_lg {
  color: #A64AC9;
  pointer-events: none;
}
.header .main_menu {
  color: #2E2D84;
}
.header .main_menu > li {
  display: flex;
  align-items: center;
  position: relative;
}
.header .main_menu > li > a {
  display: flex;
  align-items: center;
  position: relative;
}
.header .main_menu > li > a:disabled, .header .main_menu > li > a.disable, .header .main_menu > li > a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.header .main_menu > li > a.current_page {
  color: #A64AC9;
}
.header .main_menu > li > a.current_page:after {
  display: block;
  content: "";
  position: absolute;
}
.header .main_menu > li > a:after {
  border-top: 3px solid;
  bottom: -17px;
}
.header .main_menu > li.opened > a.submenu_btn {
  color: #A64AC9 !important;
}
.header .main_menu a {
  color: inherit;
}
.header .main_menu .submenu_btn:before {
  order: 2;
  display: block;
  font-size: 0.6rem;
  margin-left: 10px;
}
.header .submenu_list {
  display: none;
  z-index: 10;
}
.header .profile_menu {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 100%;
  right: 0;
  background: #F9FAFB;
  border-radius: 14px 0 14px 14px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  color: #2E2D84;
  z-index: 10;
}
.header .profile_menu a,
.header .profile_menu button {
  display: block;
  border: none;
  color: inherit;
  background: transparent;
  width: 100%;
  text-align: left;
}
.header .profile_btn {
  width: 36px;
  height: 36px;
  color: #A64AC9;
  border: 3px solid;
  background: transparent;
  border-radius: 50%;
  padding: 0;
}
.header .profile_btn:disabled, .header .profile_btn.disable, .header .profile_btn.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.header .profile_btn img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.header .menu_inner {
  display: flex;
}
@media screen and (min-width: 1600px) {
  .header .sign_block {
    margin-left: 40px;
  }
  .header .lg_list {
    margin-left: 50px;
    font-size: 160%;
    line-height: 20px;
  }
  .header .main_menu {
    font-size: 190%;
    line-height: 24px;
  }
  .header .main_menu > li {
    padding: 0 35px;
    height: 100px;
  }
  .header .main_menu > li > a:after {
    left: -25px;
    right: -25px;
  }
  .header .submenu_list {
    left: 10px;
    width: 225px;
  }
  .header .submenu_list a {
    padding: 13px 24px;
  }
  .header .profile_menu {
    width: 225px;
  }
  .header .profile_menu button,
.header .profile_menu a {
    padding: 13px 60px;
    font-size: 190%;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .header .sign_block {
    margin-left: 30px;
  }
  .header .lg_list {
    margin-left: 40px;
    font-size: 160%;
    line-height: 20px;
  }
  .header .main_menu {
    font-size: 160%;
    line-height: 20px;
    color: #2E2D84;
  }
  .header .main_menu > li {
    padding: 0 30px;
    height: 100px;
  }
  .header .main_menu > li > a:after {
    left: -20px;
    right: -20px;
  }
  .header .submenu_list {
    left: 10px;
    width: 200px;
  }
  .header .submenu_list a {
    padding: 12px 20px;
  }
  .header .profile_menu {
    width: 200px;
  }
  .header .profile_menu button,
.header .profile_menu a {
    padding: 13px 40px;
    font-size: 160%;
    line-height: 20px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .header_inner {
    height: 80px;
  }
  .header .sign_block {
    margin-left: 20px;
  }
  .header .lg_list {
    margin-left: 30px;
    font-size: 140%;
    line-height: 18px;
  }
  .header .main_menu {
    font-size: 140%;
    line-height: 18px;
    color: #2E2D84;
  }
  .header .main_menu > li {
    padding: 0 20px;
    height: 70px;
  }
  .header .main_menu > li > a:after {
    left: -15px;
    right: -15px;
    bottom: -13px;
  }
  .header .main_logo img {
    height: 70px;
  }
  .header .sign_btn {
    font-size: 160%;
    line-height: 20px;
    padding: 8px 20px;
  }
  .header .submenu_list {
    left: 0px;
    width: 180px;
  }
  .header .submenu_list a {
    padding: 12px 20px;
  }
  .header .profile_menu {
    width: 180px;
  }
  .header .profile_menu button,
.header .profile_menu a {
    padding: 13px 20px;
    font-size: 140%;
    line-height: 18px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .header_inner {
    height: 60px;
  }
  .header .sign_block {
    margin-left: 20px;
  }
  .header .lg_list {
    margin-left: 12px;
    font-size: 140%;
    line-height: 18px;
  }
  .header .lg_list li:not(:first-child):before {
    margin: 0 10px;
  }
  .header .main_menu {
    font-size: 140%;
    line-height: 18px;
    color: #2E2D84;
  }
  .header .main_menu > li {
    padding: 0 12px;
    height: 60px;
  }
  .header .main_menu > li > a:after {
    left: -5px;
    right: -5px;
    border-top-width: 2px;
    bottom: -7px;
  }
  .header .main_menu .submenu_btn:before {
    font-size: 0.4rem;
    margin-left: 5px;
  }
  .header .main_logo img {
    height: 70px;
  }
  .header .main_logo {
    height: 50px;
    width: 120px;
  }
  .header .submenu_list {
    left: 0;
    width: 180px;
  }
  .header .submenu_list a {
    padding: 10px 12px;
  }
  .header .profile_menu {
    width: 180px;
  }
  .header .profile_menu button,
.header .profile_menu a {
    padding: 10px 12px;
    font-size: 140%;
    line-height: 18px;
  }
}
@media screen and (min-width: 960px) {
  .header .menu_btn {
    display: none;
  }
  .header .menu_inner {
    align-items: center;
    justify-content: flex-end;
  }
  .header .main_menu {
    display: flex;
  }
  .header .submenu_list {
    position: absolute;
    overflow: hidden;
    top: 100%;
    background: #F9FAFB;
    border-radius: 0 14px 14px 14px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    min-width: 100%;
  }
  .header .submenu_list a {
    display: block;
  }
  .header .menu_block {
    flex: 1;
    width: 50%;
  }
}
@media screen and (max-width: 1199px) {
  .header_inner {
    height: 50px;
  }
  .header .main_logo {
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
  }
  .header .sign_btn {
    font-size: 140%;
    line-height: 18px;
    padding: 6px 16px;
  }
}
@media screen and (max-width: 959px) {
  .header .main_logo {
    width: 116px;
    height: 45px;
    margin-right: auto;
  }
  .header .main_logo img {
    height: 68px;
  }
  .header .menu_block {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    -o-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    z-index: 99;
    background: rgba(40, 40, 40, 0.6);
  }
  .header .menu_inner {
    background: #ffffff;
    border-radius: 15px 0 0 15px;
    width: 320px;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(12, 22, 34, 0.05);
    margin-left: auto;
    flex-direction: column;
    padding: 15px 30px;
  }
  .header .main_menu {
    flex: 1;
    order: 2;
    height: 50%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 160%;
    line-height: 20px;
  }
  .header .main_menu > li {
    padding: 14px 0;
    flex-wrap: wrap;
  }
  .header .submenu_list {
    flex: 0 0 100%;
    color: #5F7BBC;
  }
  .header .submenu_list li {
    padding-top: 28px;
    padding-left: 28px;
  }
  .header .submenu_list a {
    background: transparent !important;
  }
  .header .submenu_list a:hover, .header .submenu_list a:active {
    color: #FBCD0A !important;
  }
  .header .submenu_btn:before {
    margin-left: 18px;
  }
  .header .menu_btn {
    margin-right: 2px;
    margin-left: 22px;
    border: none;
    background: transparent;
    color: #2E2D84;
    padding: 7px 0;
    width: 22px;
    height: 16px;
    position: relative;
    overflow: hidden;
    z-index: 100;
  }
  .header .menu_btn:before, .header .menu_btn:after {
    display: block;
    content: "";
    position: absolute;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-top: 2px solid;
    left: -20px;
    width: 50px;
  }
  .header .menu_btn:before {
    top: 1px;
  }
  .header .menu_btn:after {
    bottom: 1px;
  }
  .header .menu_btn span {
    display: block;
    border-top: 2px solid;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .header .menu_btn span {
    margin-right: 5px;
  }
  .header .lg_list {
    font-size: 160%;
    line-height: 20px;
    margin-bottom: 14px;
  }
  .header .profile_menu {
    width: 180px;
  }
  .header .profile_menu button,
.header .profile_menu a {
    padding: 13px 20px;
    font-size: 160%;
    line-height: 20px;
  }
}

@media screen and (max-width: 959px) {
  .menu_opened {
    overflow: hidden;
  }
  .menu_opened.ios_device {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .menu_opened .menu_block {
    width: 100%;
  }
  .menu_opened .menu_btn:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .menu_opened .menu_btn:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  .menu_opened .menu_btn span {
    opacity: 0;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}
.footer {
  opacity: 0;
  background: #343D4B;
}
.footer_top {
  color: #ffffff;
}
.footer_top .info_block {
  margin: 0 auto;
  font-size: 190%;
  line-height: 30px;
  text-align: center;
}
.footer_top .kasa_info {
  display: flex;
  margin-top: 90px;
  padding: 90px 0;
  border-top: 1px solid #5F7BBC;
}
.footer_top .kasa_info .image_block {
  margin-right: 20px;
}
.footer_top .kasa_info .image_block img {
  display: block;
  width: 180px;
}
.footer_top .kasa_info .info_block {
  flex: 1;
  max-width: 814px;
  align-self: flex-end;
}
.footer_top .partners_section {
  padding-top: 30px;
}
.footer_top .partners_section .info_block {
  max-width: 995px;
  padding-top: 40px;
}
.footer_top .partners_list {
  justify-content: space-between;
  align-items: center;
}
.footer_top .partners_list li {
  padding: 0 15px;
  margin-top: 50px;
}
.footer_top .partners_list img {
  display: block;
  max-width: 230px;
  max-height: 190px;
}
.footer_subtitle {
  font-size: 300%;
  line-height: 1.3em;
  font-family: "bainsley-bold";
  text-align: center;
}
.footer_middle {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  font-size: 190%;
  line-height: 24px;
}
.footer_middle:before {
  display: block;
  content: "";
  padding-bottom: 13%;
}
.footer_middle .waves span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  background-size: 100% auto;
  background-position: left top;
  background-repeat: no-repeat;
}
.footer_middle .waves span:before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  margin-top: 15%;
}
.footer_middle .waves span.yellow_wave {
  top: 0;
  -o-transition: transform 1s;
  -ms-transition: transform 1s;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
.footer_middle .waves span.yellow_wave:before {
  background: #FBCD0A;
}
.footer_middle .waves span.pink_wave {
  top: 2.24vw;
  z-index: 1;
  -o-transition: transform 0.9s;
  -ms-transition: transform 0.9s;
  -moz-transition: transform 0.9s;
  -webkit-transition: transform 0.9s;
  transition: transform 0.9s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.footer_middle .waves span.pink_wave:before {
  background: #A64AC9;
}
.footer_middle .waves span.blue_wave {
  top: 3.33vw;
  z-index: 2;
  -o-transition: transform 0.9s;
  -ms-transition: transform 0.9s;
  -moz-transition: transform 0.9s;
  -webkit-transition: transform 0.9s;
  transition: transform 0.9s;
  -o-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.footer_middle .waves span.blue_wave:before {
  background: #2E2D84;
}
.footer_middle .waves span.white_wave {
  top: 5vw;
  z-index: 3;
  -o-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
  transition: transform 0.8s;
  -o-transition-delay: 0.9s;
  -ms-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
  align-items: flex-end;
}
.footer_middle .waves span.white_wave:before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background: #ffffff;
  margin-top: 20%;
}
.footer_middle .waves:not(.showed) span {
  transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
}
.footer_middle .waves:not(.showed) + .middle_inner {
  opacity: 0;
}
.footer_middle .middle_inner {
  position: relative;
  z-index: 5;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -o-transition-delay: 1.2s;
  -ms-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
  padding-bottom: 40px;
}
.footer_middle .page_container {
  display: flex;
  align-items: flex-start;
}
.footer .logo_block {
  margin-right: 80px;
}
.footer .logo_block img {
  display: block;
  width: 433px;
}
.footer_menu, .footer_contacts {
  flex: 1;
}
.footer_menu li {
  padding-right: 40px;
}
.footer_menu li:not(:first-child) {
  margin-top: 12px;
}
.footer_menu li a {
  display: inline-block;
  vertical-align: top;
  color: #5F7BBC;
}
.footer_menu li a:disabled, .footer_menu li a.disable, .footer_menu li a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.footer .contacts_subtitle {
  color: #2E2D84;
  padding-bottom: 5px;
}
.footer_contacts ul {
  color: #5F7BBC;
}
.footer_contacts li {
  margin-top: 12px;
}
.footer_contacts a, .footer_contacts span {
  display: inline-flex;
  vertical-align: top;
  color: inherit;
}
.footer_contacts a:before, .footer_contacts span:before {
  display: block;
  min-width: 30px;
  padding: 2px;
  font-size: 2rem;
  color: #2E2D84;
}
.footer_contacts a:disabled, .footer_contacts a.disable, .footer_contacts a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.footer_bottom {
  padding: 11px 0;
  background: #5F7BBC;
  color: #C2C6D1;
  font-size: 140%;
  line-height: 18px;
}
.footer_bottom a {
  color: inherit;
}
.footer_bottom a:disabled, .footer_bottom a.disable, .footer_bottom a.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.footer_bottom .developer,
.footer_bottom .copyrights {
  max-width: 50%;
  padding: 0 15px;
}
.footer_bottom .developer {
  margin-left: auto;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .footer .logo_block {
    margin-right: 40px;
  }
  .footer .logo_block img {
    width: 380px;
  }
  .footer_top .kasa_info {
    padding: 60px 0;
    margin-top: 60px;
  }
  .footer_top .partners_list img {
    max-width: 200px;
    max-height: 160px;
  }
}
@media screen and (max-width: 959px) {
  .footer_middle .page_container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .logo_block {
    margin-right: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .footer .logo_block img {
    margin: 0 auto;
  }
  .footer_menu, .footer_contacts {
    text-align: center;
    max-width: 360px;
  }
  .footer_bottom {
    padding: 14px 0;
    font-size: 130%;
    line-height: 17px;
  }
  .footer_bottom .copyrights,
.footer_bottom .developer {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .footer_bottom .developer {
    margin-top: 20px;
  }
  .footer_contacts {
    padding-left: 20px;
  }
  .footer_menu li {
    padding-right: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .footer .logo_block {
    margin-right: 20px;
  }
  .footer .logo_block img {
    width: 320px;
  }
  .footer_top {
    padding-bottom: 50px;
  }
  .footer_top .kasa_info {
    padding: 60px 0;
    margin-top: 60px;
  }
  .footer_top .kasa_info .image_block img {
    width: 160px;
  }
  .footer_top .info_block {
    font-size: 160%;
    line-height: 27px;
  }
  .footer_top .partners_list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer_top .partners_list li img {
    margin: 0 auto;
    max-width: 160px;
    max-height: 120px;
  }
  .footer_subtitle {
    font-size: 240%;
  }
}
@media screen and (max-width: 575px) {
  .footer .logo_block img {
    width: 200px;
  }
  .footer_menu, .footer_contacts {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer_menu li {
    padding-right: 0;
  }
  .footer_contacts {
    padding-left: 0;
    margin-top: 50px;
  }
  .footer_top {
    padding-bottom: 50px;
  }
  .footer_top .kasa_info {
    padding: 30px 0 0;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .footer_top .kasa_info .image_block {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .footer_top .kasa_info .image_block img {
    width: 130px;
    margin: 0 auto;
  }
  .footer_top .info_block {
    font-size: 140%;
    line-height: 25px;
  }
  .footer_top .partners_list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer_top .partners_list li img {
    margin: 0 auto;
    max-width: 100px;
    max-height: 80px;
  }
  .footer_subtitle {
    font-size: 200%;
  }
}

.web .footer_contacts a:hover:before,
.touch .footer_contacts a:active:before {
  color: inherit;
}

.web .header .main_logo a, .header .main_logo .web a, .footer {
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.web .paging a, .paging .web a, .web .text_section a, .text_section .web a, .web .breadcrumbs .back_btn, .breadcrumbs .web .back_btn, .web .breadcrumbs ul a, .breadcrumbs ul .web a, .web .faq_list .toggle_btn, .faq_list .web .toggle_btn, .web .faq_list .question_block, .faq_list .web .question_block, .web .header .lg_list a, .header .lg_list .web a, .web .header .main_menu > li > a, .header .web .main_menu > li > a, .web .header .profile_btn, .header .web .profile_btn, .web .footer_menu li a, .footer_menu li .web a, .web .footer_contacts a, .footer_contacts .web a, .web .footer_bottom a, .footer_bottom .web a {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .back_to_top, .web .delete_popup .popup_container .save_btn, .delete_popup .popup_container .web .save_btn,
.web .delete_popup .popup_container .delete_btn,
.delete_popup .popup_container .web .delete_btn,
.web .save_popup .popup_container .save_btn,
.save_popup .popup_container .web .save_btn,
.web .save_popup .popup_container .delete_btn,
.save_popup .popup_container .web .delete_btn, .web .header .sign_btn, .header .web .sign_btn, .web .switch_buttons a:not(.selected) {
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.web .delete_popup .popup_container .cancel_btn, .delete_popup .popup_container .web .cancel_btn,
.web .save_popup .popup_container .cancel_btn,
.save_popup .popup_container .web .cancel_btn, .web .header .submenu_list a, .header .submenu_list .web a, .web .header .profile_menu a, .header .profile_menu .web a,
.web .header .profile_menu button,
.header .profile_menu .web button, .web .product_block .comics_name {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .header .main_logo a, .header .main_logo .touch a {
  -o-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.touch .paging a, .paging .touch a, .touch .text_section a, .text_section .touch a, .touch .breadcrumbs .back_btn, .breadcrumbs .touch .back_btn, .touch .breadcrumbs ul a, .breadcrumbs ul .touch a, .touch .faq_list .toggle_btn, .faq_list .touch .toggle_btn, .touch .faq_list .question_block, .faq_list .touch .question_block, .touch .header .lg_list a, .header .lg_list .touch a, .touch .header .main_menu > li > a, .header .touch .main_menu > li > a, .touch .header .profile_btn, .header .touch .profile_btn, .touch .footer_menu li a, .footer_menu li .touch a, .touch .footer_contacts a, .footer_contacts .touch a, .touch .footer_bottom a, .footer_bottom .touch a {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .back_to_top, .touch .delete_popup .popup_container .save_btn, .delete_popup .popup_container .touch .save_btn,
.touch .delete_popup .popup_container .delete_btn,
.delete_popup .popup_container .touch .delete_btn,
.touch .save_popup .popup_container .save_btn,
.save_popup .popup_container .touch .save_btn,
.touch .save_popup .popup_container .delete_btn,
.save_popup .popup_container .touch .delete_btn, .touch .header .sign_btn, .header .touch .sign_btn, .touch .switch_buttons a:not(.selected) {
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.touch .delete_popup .popup_container .cancel_btn, .delete_popup .popup_container .touch .cancel_btn,
.touch .save_popup .popup_container .cancel_btn,
.save_popup .popup_container .touch .cancel_btn, .touch .header .submenu_list a, .header .submenu_list .touch a, .touch .header .profile_menu a, .header .profile_menu .touch a,
.touch .header .profile_menu button,
.header .profile_menu .touch button, .touch .product_block .comics_name {
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.web .header .main_logo a:hover, .header .main_logo .web a:hover {
  opacity: 0.7;
}
.web .header .submenu_list a:hover, .header .submenu_list .web a:hover, .web .header .profile_menu a:hover, .header .profile_menu .web a:hover,
.web .header .profile_menu button:hover,
.header .profile_menu .web button:hover {
  background: #A64AC9;
  color: #ffffff;
  border-color: transparent;
}
.web .paging a:hover, .paging .web a:hover, .web .text_section a:hover, .text_section .web a:hover, .web .breadcrumbs .back_btn:hover, .breadcrumbs .web .back_btn:hover, .web .breadcrumbs ul a:hover, .breadcrumbs ul .web a:hover, .web .faq_list .toggle_btn:hover, .faq_list .web .toggle_btn:hover, .web .faq_list .question_block:hover, .faq_list .web .question_block:hover, .web .header .lg_list a:hover, .header .lg_list .web a:hover, .web .header .main_menu > li > a:hover, .header .web .main_menu > li > a:hover, .web .header .profile_btn:hover, .header .web .profile_btn:hover, .web .footer_menu li a:hover, .footer_menu li .web a:hover, .web .footer_contacts a:hover, .footer_contacts .web a:hover, .web .footer_bottom a:hover, .footer_bottom .web a:hover {
  color: #FBCD0A;
}
.web .paging a:active, .paging .web a:active, .web .text_section a:active, .text_section .web a:active, .web .breadcrumbs .back_btn:active, .breadcrumbs .web .back_btn:active, .web .breadcrumbs ul a:active, .breadcrumbs ul .web a:active, .web .faq_list .toggle_btn:active, .faq_list .web .toggle_btn:active, .web .faq_list .question_block:active, .faq_list .web .question_block:active, .web .header .lg_list a:active, .header .lg_list .web a:active, .web .header .main_menu > li > a:active, .header .web .main_menu > li > a:active, .web .header .profile_btn:active, .header .web .profile_btn:active, .web .footer_menu li a:active, .footer_menu li .web a:active, .web .footer_contacts a:active, .footer_contacts .web a:active, .web .footer_bottom a:active, .footer_bottom .web a:active {
  color: #A64AC9;
}
.web .header .main_menu > li > a:active:after, .header .web .main_menu > li > a:active:after {
  display: block;
  content: "";
  position: absolute;
}
.web .back_to_top:hover, .web .delete_popup .popup_container .save_btn:hover, .delete_popup .popup_container .web .save_btn:hover,
.web .delete_popup .popup_container .delete_btn:hover,
.delete_popup .popup_container .web .delete_btn:hover,
.web .save_popup .popup_container .save_btn:hover,
.save_popup .popup_container .web .save_btn:hover,
.web .save_popup .popup_container .delete_btn:hover,
.save_popup .popup_container .web .delete_btn:hover, .web .header .sign_btn:hover, .header .web .sign_btn:hover {
  background: #FBCD0A;
}
.web .back_to_top:active, .web .delete_popup .popup_container .save_btn:active, .delete_popup .popup_container .web .save_btn:active,
.web .delete_popup .popup_container .delete_btn:active,
.delete_popup .popup_container .web .delete_btn:active,
.web .save_popup .popup_container .save_btn:active,
.save_popup .popup_container .web .save_btn:active,
.web .save_popup .popup_container .delete_btn:active,
.save_popup .popup_container .web .delete_btn:active, .web .header .sign_btn:active, .header .web .sign_btn:active {
  background: #A64AC9;
}
.web .delete_popup .popup_container .cancel_btn:hover, .delete_popup .popup_container .web .cancel_btn:hover,
.web .save_popup .popup_container .cancel_btn:hover,
.save_popup .popup_container .web .cancel_btn:hover {
  color: #FBCD0A;
}
.web .delete_popup .popup_container .cancel_btn:active, .delete_popup .popup_container .web .cancel_btn:active,
.web .save_popup .popup_container .cancel_btn:active,
.save_popup .popup_container .web .cancel_btn:active {
  color: #ffffff;
  background: #A64AC9;
  border-color: transparent;
}

.touch .header .main_logo a:active, .header .main_logo .touch a:active {
  opacity: 0.7;
}
.touch .header .submenu_list a:active, .header .submenu_list .touch a:active, .touch .header .profile_menu a:active, .header .profile_menu .touch a:active,
.touch .header .profile_menu button:active,
.header .profile_menu .touch button:active {
  background: #A64AC9;
  color: #ffffff;
  border-color: transparent;
}
.touch .paging a:active, .paging .touch a:active, .touch .text_section a:active, .text_section .touch a:active, .touch .breadcrumbs .back_btn:active, .breadcrumbs .touch .back_btn:active, .touch .breadcrumbs ul a:active, .breadcrumbs ul .touch a:active, .touch .faq_list .toggle_btn:active, .faq_list .touch .toggle_btn:active, .touch .faq_list .question_block:active, .faq_list .touch .question_block:active, .touch .header .lg_list a:active, .header .lg_list .touch a:active, .touch .header .main_menu > li > a:active, .header .touch .main_menu > li > a:active, .touch .header .profile_btn:active, .header .touch .profile_btn:active, .touch .footer_menu li a:active, .footer_menu li .touch a:active, .touch .footer_contacts a:active, .footer_contacts .touch a:active, .touch .footer_bottom a:active, .footer_bottom .touch a:active {
  color: #FBCD0A;
}
.touch .back_to_top:active, .touch .delete_popup .popup_container .save_btn:active, .delete_popup .popup_container .touch .save_btn:active,
.touch .delete_popup .popup_container .delete_btn:active,
.delete_popup .popup_container .touch .delete_btn:active,
.touch .save_popup .popup_container .save_btn:active,
.save_popup .popup_container .touch .save_btn:active,
.touch .save_popup .popup_container .delete_btn:active,
.save_popup .popup_container .touch .delete_btn:active, .touch .header .sign_btn:active, .header .touch .sign_btn:active {
  background: #FBCD0A;
}
.touch .delete_popup .popup_container .cancel_btn:active, .delete_popup .popup_container .touch .cancel_btn:active,
.touch .save_popup .popup_container .cancel_btn:active,
.save_popup .popup_container .touch .cancel_btn:active {
  color: #ffffff;
  background: #A64AC9;
  border-color: transparent;
}

/*# sourceMappingURL=main.css.map */
