.video_section .video_block > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video_section .video_block > img {
  object-fit: cover;
}

.video_section .video_block iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.video_section .video_block {
  position: relative;
  overflow: hidden;
}
.video_section .video_block:before {
  display: block;
  content: "";
  padding-bottom: 56.25%;
}

.video_section {
  background: #C2C6D1;
}
@media screen and (min-width: 960px) {
  .video_section {
    padding: 26px 0;
  }
  .video_section .video_block {
    max-width: 850px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=methodology.css.map */
