@charset "UTF-8";
.profile_main .socials_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.profile_main .image_inner img, .profile_inner .edit_section .attach_label input, .profile_inner .edit_section .image_block img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.select2-container--default.select2-container--open .select2-selection__arrow {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

.remember_forgot .remember_checkbox span:before, .select2-container--default .select2-selection--single .select2-selection__arrow:before, .field_block .type_switch:before {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile_main .page_btns a.add_btn {
  border: none;
  display: inline-block;
  vertical-align: top;
  padding: 9px 28px;
  color: #ffffff;
  border-radius: 21px 21px 0 21px;
  background: #2E2D84;
  font-size: 190%;
  line-height: 24px;
}
.profile_main .page_btns a.add_btn:disabled, .profile_main .page_btns a.disable.add_btn, .profile_main .page_btns a.inactive.add_btn {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .profile_main .page_btns a.add_btn {
    font-size: 160%;
    line-height: 20px;
    padding: 8px 21px;
  }
}

.form_fields {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.form_fields .field_block {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}
.form_fields .field_block .error_hint {
  right: 15px;
}
.form_fields .field_block .type_switch {
  right: 35px;
}
.form_fields .field_block.full_field {
  flex: 0 0 100%;
  max-width: 100%;
}
.form_fields + .btn_block {
  padding-left: 15px;
}
.form_fields + .btn_block button {
  border: none;
  width: 100%;
  background: #2E2D84;
  padding: 15px 28px;
  color: #ffffff;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.form_fields + .btn_block button:disabled, .form_fields + .btn_block button.disable, .form_fields + .btn_block button.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 575px) {
  .form_fields .field_block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .form_fields + .btn_block {
    padding-left: 0;
  }
}

.field_block {
  margin-bottom: 25px;
}
.field_block ::-webkit-input-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block :-moz-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block ::-moz-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block :-ms-input-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block .static_field,
.field_block .input_block input,
.field_block > input {
  border: 1px solid rgba(40, 40, 40, 0.05) !important;
  background: #EEF0F6;
  padding: 14px 28px;
  color: #2E2D84;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.field_block .static_field[type=password] ~ .type_switch:before,
.field_block .input_block input[type=password] ~ .type_switch:before,
.field_block > input[type=password] ~ .type_switch:before {
  content: "";
  font-size: 110%;
}
.field_block .static_field[type=text] ~ .type_switch:before,
.field_block .input_block input[type=text] ~ .type_switch:before,
.field_block > input[type=text] ~ .type_switch:before {
  content: "";
  font-size: 130%;
}
.field_block .static_field[name*=phone],
.field_block .input_block input[name*=phone],
.field_block > input[name*=phone] {
  font-family: "segoeui";
}
.field_block .static_field:focus,
.field_block .input_block input:focus,
.field_block > input:focus {
  background: rgba(95, 123, 188, 0.1);
}
.field_block textarea {
  border: 1px solid rgba(40, 40, 40, 0.05);
  background: #EEF0F6;
  color: #2E2D84;
  font-size: 160%;
  line-height: 20px;
  padding: 24px 22px;
  border-radius: 25px 25px 0 25px;
  height: 120px;
}
.field_block .input_block {
  position: relative;
}
.field_block .input_block + .input_block {
  margin-top: 20px;
}
.field_block .input_block input {
  padding-right: 50px;
}
.field_block .input_block .field_remove {
  position: absolute;
  right: 15px;
  font-size: 100%;
  bottom: 15px;
  z-index: 3;
  color: #5F7BBC;
  padding: 5px;
  cursor: pointer;
}
.field_block .input_block .field_remove:hover {
  color: #F62D2D;
}
.field_block .input_block .field_remove:before {
  display: block;
}
.field_block .field_name {
  font-size: 160%;
  line-height: 20px;
  margin-bottom: 6px;
  color: #5F7BBC;
}
.field_block .error_hint {
  position: absolute;
  right: 0;
  margin-right: 8px;
  font-size: 0;
  line-height: 18px;
  color: transparent;
  z-index: 3;
  top: 100%;
}
.field_block.has-error ::-webkit-input-placeholder {
  color: #F62D2D;
}
.field_block.has-error :-moz-placeholder {
  color: #F62D2D;
}
.field_block.has-error ::-moz-placeholder {
  color: #F62D2D;
}
.field_block.has-error :-ms-input-placeholder {
  color: #F62D2D;
}
.field_block.has-error .error_hint {
  font-size: 140%;
  color: #F62D2D;
}
.field_block.has-error textarea,
.field_block.has-error input {
  border-color: transparent !important;
  background: rgba(246, 45, 45, 0.1);
  color: #F62D2D;
}
.field_block.has-error .field_name {
  color: #F62D2D;
}
.field_block .type_switch {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(40, 40, 40, 0.45);
  height: 20px;
  bottom: 15px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
}
.field_block .type_switch:disabled, .field_block .type_switch.disable, .field_block .type_switch.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.field_block .type_switch:before {
  display: block;
}

.select2-container .select2-selection--single {
  height: auto;
}
.select2-container .select2-selection__placeholder {
  color: rgba(40, 40, 40, 0.45);
}
.select2-container--default .select2-selection--single {
  background-color: rgba(95, 123, 188, 0.1);
  border: 1px solid rgba(40, 40, 40, 0.05);
  border-radius: 25px 25px 0 25px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: none;
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #2E2D84;
  font-size: 160%;
  line-height: 20px;
  padding: 14px 28px;
  flex: 1;
  width: 50%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
  position: relative;
  top: auto;
  right: auto;
  padding: 14px 28px;
  padding-left: 0;
  width: auto;
  color: rgba(46, 45, 132, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow * {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "";
  font-size: 0.6rem;
  display: block;
}
.select2-container--default.select2-container--open .select2-selection--single {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 10;
}
.select2-container .select2-search--dropdown {
  padding: 0;
}
.select2-container .select2-search--dropdown .select2-search__field {
  border: none;
  border-bottom: 1px solid rgba(40, 40, 40, 0.05);
  padding: 14px 28px;
  font-size: 100%;
  line-height: inherit;
}

.select2-container .select2-dropdown {
  border: 1px solid rgba(95, 123, 188, 0.1);
  font-size: 160%;
  line-height: 20px;
  box-shadow: none;
  position: relative;
  z-index: 5;
}
.select2-container .select2-results__options {
  overflow-x: hidden;
  scrollbar-color: rgba(95, 123, 188, 0.8) #D6DAE4;
  scrollbar-width: thin;
}
.select2-container .select2-results__options::-webkit-scrollbar {
  width: 8px;
  height: auto;
  border-radius: 4px;
  background: #D6DAE4;
}
.select2-container .select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(95, 123, 188, 0.8);
}
.select2-container .select2-results__options li {
  padding: 14px 20px;
}
.select2-container .select2-results__option:not(:last-child) {
  border-bottom: 1px solid transparent;
}
.select2-container .select2-results__option--highlighted.select2-results__option--selectable {
  background: transparent;
  color: #FBCD0A;
}
.select2-container .select2-results__option--selected {
  background: #A64AC9 !important;
  color: #ffffff !important;
  cursor: default;
}

.select2-dropdown {
  border-bottom-left-radius: 25px;
}

.edit_section .btn_block,
.sign_inner .btn_block {
  margin-left: auto;
}
.edit_section .btn_block button,
.sign_inner .btn_block button {
  border: none;
  width: 100%;
  background: #2E2D84;
  padding: 15px 28px;
  color: #ffffff;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.edit_section .btn_block button:disabled, .edit_section .btn_block button.disable, .edit_section .btn_block button.inactive,
.sign_inner .btn_block button:disabled,
.sign_inner .btn_block button.disable,
.sign_inner .btn_block button.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (min-width: 576px) {
  .edit_section .btn_block,
.sign_inner .btn_block {
    width: 50%;
  }
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background: #EEF0F6;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow {
  color: rgba(40, 40, 40, 0.45);
}

.login_error,
.login_success {
  font-size: 200%;
  line-height: 1.75em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 959px) {
  .login_error,
.login_success {
    font-size: 160%;
    margin-bottom: 30px;
  }
}

.login_error {
  color: #F62D2D;
}

.login_success {
  color: #A64AC9;
}

.form_container .login_error,
.form_container .login_success {
  margin-top: -30px;
}

.remember_forgot {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 45px;
  font-size: 190%;
  line-height: 25px;
}
.remember_forgot .remember_checkbox {
  position: relative;
}
.remember_forgot .remember_checkbox input:checked + span {
  color: #A64AC9;
}
.remember_forgot .remember_checkbox input:checked + span:before {
  content: "";
}
.remember_forgot .remember_checkbox span {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #5F7BBC;
  white-space: nowrap;
}
.remember_forgot .remember_checkbox span:disabled, .remember_forgot .remember_checkbox span.disable, .remember_forgot .remember_checkbox span.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.remember_forgot .remember_checkbox span:before {
  display: block;
  content: "";
  margin-right: 10px;
}
.remember_forgot .forgot_pass_link {
  display: inline-block;
  vertical-align: top;
  color: #A64AC9;
  margin-left: 20px;
  text-align: right;
}
.remember_forgot .forgot_pass_link:disabled, .remember_forgot .forgot_pass_link.disable, .remember_forgot .forgot_pass_link.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .remember_forgot {
    font-size: 160%;
    line-height: 20px;
  }
}

.profile_inner .page_title {
  padding-top: 16px;
}
.profile_inner .edit_section {
  display: flex;
  padding-top: 35px;
}
.profile_inner .edit_section .profile_image {
  flex: 0 0 290px;
  max-width: 290px;
  align-self: flex-start;
  position: relative;
}
.profile_inner .edit_section .attach_block {
  position: relative;
}
.profile_inner .edit_section .image_block {
  position: relative;
  overflow: hidden;
  padding-bottom: 150%;
}
.profile_inner .edit_section .image_block img {
  object-fit: cover;
}
.profile_inner .edit_section .image_block.no_image, .profile_inner .edit_section .image_block:empty {
  background: url("images/avatar.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}
.profile_inner .edit_section .image_block.no_image + .attach_label, .profile_inner .edit_section .image_block:empty + .attach_label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  margin: 0;
  padding-top: 150%;
}
.profile_inner .edit_section .image_block.no_image + .attach_label .attach_btn, .profile_inner .edit_section .image_block:empty + .attach_label .attach_btn {
  margin-top: 15px;
}
.profile_inner .edit_section .attach_label {
  position: relative;
  margin-top: 15px;
  color: #2E2D84;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.profile_inner .edit_section .attach_label:disabled, .profile_inner .edit_section .attach_label.disable, .profile_inner .edit_section .attach_label.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.profile_inner .edit_section .attach_label input {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.profile_inner .edit_section .attach_btn {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  font-size: 190%;
  line-height: 25px;
  color: inherit;
}
.profile_inner .edit_section .attach_btn:before {
  display: block;
  margin-right: 8px;
}
.profile_inner .fields_section {
  padding-top: 10px;
  flex: 1;
  width: 50%;
  max-width: 530px;
  margin-left: 70px;
}
.profile_inner .fields_section .fields_label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  padding: 0 15px 9px;
  position: relative;
  margin-left: -15px;
}
.profile_inner .fields_section .fields_label:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #FBCD0A;
  border-radius: 2px;
}
.profile_inner .fields_section .form_fields + .fields_label {
  margin-top: 30px;
}
.profile_inner .fields_label {
  font-size: 200%;
  line-height: 26px;
  color: #2E2D84;
  margin-bottom: 14px;
}
.profile_inner .error_hint:before {
  display: none;
}
.profile_inner .add_field {
  cursor: pointer;
  display: inline-flex;
  vertical-align: top;
  margin-top: 20px;
  align-items: center;
  font-size: 160%;
  line-height: 20px;
  color: #5F7BBC;
  border: none;
  background: transparent;
  padding: 0;
}
.profile_inner .add_field:disabled, .profile_inner .add_field.disable, .profile_inner .add_field.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.profile_inner .add_field:before {
  font-size: 125%;
  margin-right: 5px;
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .profile_inner .fields_section {
    margin-left: 30px;
  }
  .profile_inner .fields_section .fields_label {
    margin-left: 0;
  }
  .profile_inner .edit_section .profile_image {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@media screen and (max-width: 959px) {
  .profile_inner .edit_section .attach_btn,
.profile_inner .fields_label {
    font-size: 160%;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .profile_inner .edit_section {
    flex-wrap: wrap;
  }
  .profile_inner .edit_section .profile_image {
    flex: 0 0 100%;
    max-width: 200px;
  }
  .profile_inner .fields_section {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  .profile_inner .fields_section .fields_label {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.profile_inner {
  position: relative;
  overflow: hidden;
  padding: 24px 0 57px;
}
@media screen and (max-width: 575px) {
  .profile_inner {
    padding-top: 0;
    padding-bottom: 45px;
  }
}

.profile_main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.profile_main .image_socials {
  flex: 0 0 236px;
  max-width: 236px;
  margin-right: 36px;
}
.profile_main .image_block {
  position: relative;
}
.profile_main .image_inner {
  position: relative;
  overflow: hidden;
  padding-bottom: 150%;
}
.profile_main .image_inner img {
  object-fit: cover;
}
.profile_main .image_inner.no_image, .profile_main .image_inner:empty {
  background: url("images/avatar.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.profile_main .edit_btn {
  position: absolute;
  left: 0;
  bottom: 6px;
  right: 0;
  padding: 0 20px;
  z-index: 5;
  text-align: center;
}
.profile_main .edit_btn a {
  position: relative;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  padding: 7px 21px;
  font-size: 190%;
  line-height: 25px;
  border-radius: 20px 20px 0 20px;
  background: rgba(255, 255, 255, 0.5);
  color: #5F7BBC;
  z-index: 3;
}
.profile_main .edit_btn a:before {
  display: block;
  margin-right: 10px;
}
.profile_main .socials_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profile_main .socials_list li {
  padding: 14px 10px 0;
}
.profile_main .socials_list a {
  display: block;
  border-radius: 50%;
  font-size: 300%;
  color: #C2C6D1;
}
.profile_main .socials_list a:before {
  display: block;
}
.profile_main .info_block {
  flex: 1;
  width: 50%;
  padding-bottom: 40px;
}
.profile_main .logout_btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.profile_main .logout_btn a,
.profile_main .logout_btn button {
  border: none;
  background: transparent;
  color: #2E2D84;
  font-size: 190%;
  line-height: 25px;
  padding: 0;
  display: flex;
  align-items: center;
}
.profile_main .logout_btn a:disabled, .profile_main .logout_btn a.disable, .profile_main .logout_btn a.inactive,
.profile_main .logout_btn button:disabled,
.profile_main .logout_btn button.disable,
.profile_main .logout_btn button.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.profile_main .logout_btn a:before,
.profile_main .logout_btn button:before {
  display: block;
  margin-right: 5px;
}
.profile_main .name_block {
  position: relative;
  padding: 2px 0;
  color: #2E2D84;
  margin: 0 0 23px;
  font-size: 300%;
  line-height: 1.3em;
  font-family: "bainsley-bold";
}
.profile_main .name_block:before {
  display: block;
  content: "";
  position: absolute;
  left: -50vw;
  width: 200vw;
  top: 0;
  height: 100%;
  background: #FBCD0A;
  z-index: -1;
}
.profile_main .name_block .nickname {
  margin-right: 13px;
  display: inline-block;
}
.profile_main .name_block .fullname {
  display: inline-block;
  font-size: 80%;
  line-height: 1.25em;
  font-family: "bainsley";
  font-weight: normal;
}
.profile_main .location_block {
  line-height: 1.75em;
  color: #2E2D84;
}
@media screen and (min-width: 960px) {
  .profile_main .short_info {
    font-size: 95%;
  }
}
.profile_main .page_btns {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile_main .page_btns a:not(.add_btn) {
  display: inline-block;
  vertical-align: top;
  color: #5F7BBC;
  margin: 0 19px;
  position: relative;
  font-size: 190%;
  line-height: 25px;
}
.profile_main .page_btns a:not(.add_btn).selected {
  color: #A64AC9;
}
.profile_main .page_btns a:not(.add_btn).selected:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -14px;
  left: -19px;
  right: -19px;
  border-top: 4px solid;
  border-radius: 2px;
}
.profile_main .page_btns a.add_btn {
  margin-left: 26px;
  padding-left: 23px;
  padding-right: 23px;
}
.profile_main .page_btns a.add_btn:before {
  display: inline-block;
  margin-right: 11px;
  font-size: 74.7%;
}
@media screen and (max-width: 959px) {
  .profile_main {
    padding-bottom: 20px;
  }
  .profile_main .image_socials {
    flex: 0 0 200px;
    max-width: 200px;
    margin-right: 20px;
  }
  .profile_main .name_block {
    font-size: 240%;
  }
  .profile_main .info_block {
    padding-bottom: 30px;
  }
  .profile_main .page_btns {
    margin-top: 40px;
  }
  .profile_main .page_btns a:not(.add_btn) {
    margin: 0 15px;
    font-size: 160%;
    line-height: 20px;
  }
  .profile_main .page_btns a:not(.add_btn).selected:after {
    bottom: -10px;
    left: -15px;
    right: -15px;
    border-top-width: 3;
  }
  .profile_main .page_btns a.add_btn {
    margin-left: 15px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .profile_main .page_btns a.add_btn:before {
    margin-right: 8px;
  }
  .profile_main .edit_btn a {
    font-size: 160%;
    line-height: 20px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .profile_main .logout_btn {
    margin-bottom: 10px;
  }
  .profile_main .logout_btn a, .profile_main .logout_btn button {
    font-size: 160%;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .profile_main .page_btns {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
  }
  .profile_main .page_btns a:not(.add_btn) {
    margin: 20px 0 0;
    order: 1;
  }
  .profile_main .page_btns a:not(.add_btn).selected {
    padding-bottom: 7px;
  }
  .profile_main .page_btns a:not(.add_btn).selected:after {
    left: 0;
    right: 0;
    bottom: 0;
    border-top-width: 2px;
  }
}
@media screen and (max-width: 575px) {
  .profile_main .image_socials {
    position: absolute;
    top: 126px;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    flex: none;
  }
  .profile_main .info_block {
    display: flex;
    flex-direction: column;
  }
  .profile_main .name_block {
    text-align: center;
    margin-bottom: 150%;
  }
  .profile_main .name_block .nickname,
.profile_main .name_block .fullName {
    display: block;
    margin: 0;
  }
  .profile_main .description_block {
    padding-top: 120px;
  }
  .profile_main .socials_list li {
    padding-left: 8px;
    padding-right: 8px;
  }
  .profile_main .logout_btn {
    padding: 20px 0;
    margin: 0;
  }
}
@media screen and (max-width: 479px) {
  .profile_main .socials_list li:first-child:nth-last-child(7),
.profile_main .socials_list li:first-child:nth-last-child(7) ~ li,
.profile_main .socials_list li:first-child:nth-last-child(8),
.profile_main .socials_list li:first-child:nth-last-child(8) ~ li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .profile_main .socials_list li:first-child:nth-last-child(7) a,
.profile_main .socials_list li:first-child:nth-last-child(7) ~ li a,
.profile_main .socials_list li:first-child:nth-last-child(8) a,
.profile_main .socials_list li:first-child:nth-last-child(8) ~ li a {
    font-size: 280%;
  }
  .profile_main .socials_list li:first-child:nth-last-child(n+9),
.profile_main .socials_list li:first-child:nth-last-child(n+9) ~ li {
    padding-left: 3px;
    padding-right: 3px;
  }
  .profile_main .socials_list li:first-child:nth-last-child(n+9) a,
.profile_main .socials_list li:first-child:nth-last-child(n+9) ~ li a {
    font-size: 240%;
  }
}

.about_draft {
  max-width: 900px;
  color: #A64AC9;
}
@media screen and (min-width: 960px) {
  .about_draft {
    margin-top: 30px;
  }
  .about_draft .description_block {
    font-size: 180%;
  }
}

.web .edit_btn a:hover {
  background: #ffffff;
  color: #A64AC9;
}

.touch .edit_btn a:active {
  background: #ffffff;
  color: #A64AC9;
}

.products_list .action_btns {
  margin-top: 8px;
  display: flex;
  margin-left: auto;
}
.products_list .comics_edit,
.products_list .delete_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  color: #ffffff;
  background: #5F7BBC;
  margin-left: 15px;
}
.products_list .comics_edit:before,
.products_list .delete_btn:before {
  display: block;
}
.products_list .comics_edit {
  font-size: 120%;
}
.products_list .delete_btn {
  font-size: 160%;
}
.products_list .comics_lg {
  flex: 1;
  width: 10%;
}
.products_list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.products_list .product_block {
  flex: 0 0 100%;
  max-width: 100%;
}

.web .products_list a:hover ~ .action_btns,
.web .products_list .action_btns:hover {
  opacity: 1;
}

.touch .products_list .action_btns {
  opacity: 1;
}

.web .field_block .type_switch, .field_block .web .type_switch, .web .remember_forgot .remember_checkbox span, .remember_forgot .remember_checkbox .web span, .web .remember_forgot .forgot_pass_link, .remember_forgot .web .forgot_pass_link, .web .profile_inner .edit_section .attach_label, .profile_inner .edit_section .web .attach_label, .web .profile_inner .add_field, .profile_inner .web .add_field, .web .profile_main .logout_btn a, .profile_main .logout_btn .web a,
.web .profile_main .logout_btn button,
.profile_main .logout_btn .web button, .web .profile_main .socials_list a, .profile_main .socials_list .web a, .web .profile_main .page_btns a:not(.add_btn), .profile_main .page_btns .web a:not(.add_btn), .field_block .input_block .field_remove {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .form_fields + .btn_block button, .form_fields + .btn_block .web button, .web .edit_section .btn_block button, .edit_section .btn_block .web button,
.web .sign_inner .btn_block button,
.sign_inner .btn_block .web button, .web .profile_main .page_btns a.add_btn, .profile_main .page_btns .web a.add_btn, .web .products_list .comics_edit, .products_list .web .comics_edit,
.web .products_list .delete_btn,
.products_list .web .delete_btn {
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.field_block .static_field,
.field_block .input_block input,
.field_block > input, .field_block textarea, .select2-container .select2-results__options li, .web .edit_btn a {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .field_block .type_switch, .field_block .touch .type_switch, .touch .remember_forgot .remember_checkbox span, .remember_forgot .remember_checkbox .touch span, .touch .remember_forgot .forgot_pass_link, .remember_forgot .touch .forgot_pass_link, .touch .profile_inner .edit_section .attach_label, .profile_inner .edit_section .touch .attach_label, .touch .profile_inner .add_field, .profile_inner .touch .add_field, .touch .profile_main .logout_btn a, .profile_main .logout_btn .touch a,
.touch .profile_main .logout_btn button,
.profile_main .logout_btn .touch button, .touch .profile_main .socials_list a, .profile_main .socials_list .touch a, .touch .profile_main .page_btns a:not(.add_btn), .profile_main .page_btns .touch a:not(.add_btn) {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .form_fields + .btn_block button, .form_fields + .btn_block .touch button, .touch .edit_section .btn_block button, .edit_section .btn_block .touch button,
.touch .sign_inner .btn_block button,
.sign_inner .btn_block .touch button, .touch .profile_main .page_btns a.add_btn, .profile_main .page_btns .touch a.add_btn, .touch .products_list .comics_edit, .products_list .touch .comics_edit,
.touch .products_list .delete_btn,
.products_list .touch .delete_btn {
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.touch .edit_btn a {
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.remember_forgot .remember_checkbox span, .profile_inner .add_field {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remember_forgot .remember_checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}

.web .products_list .comics_edit:hover, .products_list .web .comics_edit:hover,
.web .products_list .delete_btn:hover,
.products_list .web .delete_btn:hover {
  background: #2E2D84;
}
.web .profile_main .socials_list a:hover, .profile_main .socials_list .web a:hover, .web .profile_main .page_btns a:hover:not(.add_btn), .profile_main .page_btns .web a:hover:not(.add_btn) {
  color: #A64AC9;
}
.web .field_block .type_switch:hover, .field_block .web .type_switch:hover, .web .remember_forgot .remember_checkbox span:hover, .remember_forgot .remember_checkbox .web span:hover, .web .remember_forgot .forgot_pass_link:hover, .remember_forgot .web .forgot_pass_link:hover, .web .profile_inner .edit_section .attach_label:hover, .profile_inner .edit_section .web .attach_label:hover, .web .profile_inner .add_field:hover, .profile_inner .web .add_field:hover, .web .profile_main .logout_btn a:hover, .profile_main .logout_btn .web a:hover,
.web .profile_main .logout_btn button:hover,
.profile_main .logout_btn .web button:hover {
  color: #FBCD0A;
}
.web .field_block .type_switch:active, .field_block .web .type_switch:active, .web .remember_forgot .remember_checkbox span:active, .remember_forgot .remember_checkbox .web span:active, .web .remember_forgot .forgot_pass_link:active, .remember_forgot .web .forgot_pass_link:active, .web .profile_inner .edit_section .attach_label:active, .profile_inner .edit_section .web .attach_label:active, .web .profile_inner .add_field:active, .profile_inner .web .add_field:active, .web .profile_main .logout_btn a:active, .profile_main .logout_btn .web a:active,
.web .profile_main .logout_btn button:active,
.profile_main .logout_btn .web button:active {
  color: #A64AC9;
}
.web .form_fields + .btn_block button:hover, .form_fields + .btn_block .web button:hover, .web .edit_section .btn_block button:hover, .edit_section .btn_block .web button:hover,
.web .sign_inner .btn_block button:hover,
.sign_inner .btn_block .web button:hover, .web .profile_main .page_btns a.add_btn:hover, .profile_main .page_btns .web a.add_btn:hover {
  background: #FBCD0A;
}
.web .form_fields + .btn_block button:active, .form_fields + .btn_block .web button:active, .web .edit_section .btn_block button:active, .edit_section .btn_block .web button:active,
.web .sign_inner .btn_block button:active,
.sign_inner .btn_block .web button:active, .web .profile_main .page_btns a.add_btn:active, .profile_main .page_btns .web a.add_btn:active {
  background: #A64AC9;
}
.touch .products_list .comics_edit:active, .products_list .touch .comics_edit:active,
.touch .products_list .delete_btn:active,
.products_list .touch .delete_btn:active {
  background: #2E2D84;
}
.touch .profile_main .socials_list a:active, .profile_main .socials_list .touch a:active, .touch .profile_main .page_btns a:active:not(.add_btn), .profile_main .page_btns .touch a:active:not(.add_btn) {
  color: #A64AC9;
}
.touch .field_block .type_switch:active, .field_block .touch .type_switch:active, .touch .remember_forgot .remember_checkbox span:active, .remember_forgot .remember_checkbox .touch span:active, .touch .remember_forgot .forgot_pass_link:active, .remember_forgot .touch .forgot_pass_link:active, .touch .profile_inner .edit_section .attach_label:active, .profile_inner .edit_section .touch .attach_label:active, .touch .profile_inner .add_field:active, .profile_inner .touch .add_field:active, .touch .profile_main .logout_btn a:active, .profile_main .logout_btn .touch a:active,
.touch .profile_main .logout_btn button:active,
.profile_main .logout_btn .touch button:active {
  color: #FBCD0A;
}
.touch .form_fields + .btn_block button:active, .form_fields + .btn_block .touch button:active, .touch .edit_section .btn_block button:active, .edit_section .btn_block .touch button:active,
.touch .sign_inner .btn_block button:active,
.sign_inner .btn_block .touch button:active, .touch .profile_main .page_btns a.add_btn:active, .profile_main .page_btns .touch a.add_btn:active {
  background: #FBCD0A;
}

/*# sourceMappingURL=profile.css.map */
