@charset "UTF-8";
.select2-container--default.select2-container--open .select2-selection__arrow {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

.remember_forgot .remember_checkbox span:before, .select2-container--default .select2-selection--single .select2-selection__arrow:before, .field_block .type_switch:before {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sign_inner .welcome_block .image_block img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.success_info .homepage_btn {
  border: none;
  display: inline-block;
  vertical-align: top;
  padding: 9px 28px;
  color: #ffffff;
  border-radius: 21px 21px 0 21px;
  background: #2E2D84;
  font-size: 190%;
  line-height: 24px;
}
.success_info .homepage_btn:disabled, .success_info .disable.homepage_btn, .success_info .inactive.homepage_btn {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .success_info .homepage_btn {
    font-size: 160%;
    line-height: 20px;
    padding: 8px 21px;
  }
}

.form_fields {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.form_fields .field_block {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}
.form_fields .field_block .error_hint {
  right: 15px;
}
.form_fields .field_block .type_switch {
  right: 35px;
}
.form_fields .field_block.full_field {
  flex: 0 0 100%;
  max-width: 100%;
}
.form_fields + .btn_block {
  padding-left: 15px;
}
.form_fields + .btn_block button {
  border: none;
  width: 100%;
  background: #2E2D84;
  padding: 15px 28px;
  color: #ffffff;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.form_fields + .btn_block button:disabled, .form_fields + .btn_block button.disable, .form_fields + .btn_block button.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 575px) {
  .form_fields .field_block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .form_fields + .btn_block {
    padding-left: 0;
  }
}

.field_block {
  margin-bottom: 25px;
}
.field_block ::-webkit-input-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block :-moz-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block ::-moz-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block :-ms-input-placeholder {
  color: rgba(40, 40, 40, 0.45);
  font-family: "bainsley";
}
.field_block .static_field,
.field_block .input_block input,
.field_block > input {
  border: 1px solid rgba(40, 40, 40, 0.05) !important;
  background: #EEF0F6;
  padding: 14px 28px;
  color: #2E2D84;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.field_block .static_field[type=password] ~ .type_switch:before,
.field_block .input_block input[type=password] ~ .type_switch:before,
.field_block > input[type=password] ~ .type_switch:before {
  content: "";
  font-size: 110%;
}
.field_block .static_field[type=text] ~ .type_switch:before,
.field_block .input_block input[type=text] ~ .type_switch:before,
.field_block > input[type=text] ~ .type_switch:before {
  content: "";
  font-size: 130%;
}
.field_block .static_field[name*=phone],
.field_block .input_block input[name*=phone],
.field_block > input[name*=phone] {
  font-family: "segoeui";
}
.field_block .static_field:focus,
.field_block .input_block input:focus,
.field_block > input:focus {
  background: rgba(95, 123, 188, 0.1);
}
.field_block textarea {
  border: 1px solid rgba(40, 40, 40, 0.05);
  background: #EEF0F6;
  color: #2E2D84;
  font-size: 160%;
  line-height: 20px;
  padding: 24px 22px;
  border-radius: 25px 25px 0 25px;
  height: 120px;
}
.field_block .input_block {
  position: relative;
}
.field_block .input_block + .input_block {
  margin-top: 20px;
}
.field_block .input_block input {
  padding-right: 50px;
}
.field_block .input_block .field_remove {
  position: absolute;
  right: 15px;
  font-size: 100%;
  bottom: 15px;
  z-index: 3;
  color: #5F7BBC;
  padding: 5px;
  cursor: pointer;
}
.field_block .input_block .field_remove:hover {
  color: #F62D2D;
}
.field_block .input_block .field_remove:before {
  display: block;
}
.field_block .field_name {
  font-size: 160%;
  line-height: 20px;
  margin-bottom: 6px;
  color: #5F7BBC;
}
.field_block .error_hint {
  position: absolute;
  right: 0;
  margin-right: 8px;
  font-size: 0;
  line-height: 18px;
  color: transparent;
  z-index: 3;
  top: 100%;
}
.field_block.has-error ::-webkit-input-placeholder {
  color: #F62D2D;
}
.field_block.has-error :-moz-placeholder {
  color: #F62D2D;
}
.field_block.has-error ::-moz-placeholder {
  color: #F62D2D;
}
.field_block.has-error :-ms-input-placeholder {
  color: #F62D2D;
}
.field_block.has-error .error_hint {
  font-size: 140%;
  color: #F62D2D;
}
.field_block.has-error textarea,
.field_block.has-error input {
  border-color: transparent !important;
  background: rgba(246, 45, 45, 0.1);
  color: #F62D2D;
}
.field_block.has-error .field_name {
  color: #F62D2D;
}
.field_block .type_switch {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(40, 40, 40, 0.45);
  height: 20px;
  bottom: 15px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
}
.field_block .type_switch:disabled, .field_block .type_switch.disable, .field_block .type_switch.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.field_block .type_switch:before {
  display: block;
}

.select2-container .select2-selection--single {
  height: auto;
}
.select2-container .select2-selection__placeholder {
  color: rgba(40, 40, 40, 0.45);
}
.select2-container--default .select2-selection--single {
  background-color: rgba(95, 123, 188, 0.1);
  border: 1px solid rgba(40, 40, 40, 0.05);
  border-radius: 25px 25px 0 25px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: none;
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #2E2D84;
  font-size: 160%;
  line-height: 20px;
  padding: 14px 28px;
  flex: 1;
  width: 50%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
  position: relative;
  top: auto;
  right: auto;
  padding: 14px 28px;
  padding-left: 0;
  width: auto;
  color: rgba(46, 45, 132, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow * {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "";
  font-size: 0.6rem;
  display: block;
}
.select2-container--default.select2-container--open .select2-selection--single {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 10;
}
.select2-container .select2-search--dropdown {
  padding: 0;
}
.select2-container .select2-search--dropdown .select2-search__field {
  border: none;
  border-bottom: 1px solid rgba(40, 40, 40, 0.05);
  padding: 14px 28px;
  font-size: 100%;
  line-height: inherit;
}

.select2-container .select2-dropdown {
  border: 1px solid rgba(95, 123, 188, 0.1);
  font-size: 160%;
  line-height: 20px;
  box-shadow: none;
  position: relative;
  z-index: 5;
}
.select2-container .select2-results__options {
  overflow-x: hidden;
  scrollbar-color: rgba(95, 123, 188, 0.8) #D6DAE4;
  scrollbar-width: thin;
}
.select2-container .select2-results__options::-webkit-scrollbar {
  width: 8px;
  height: auto;
  border-radius: 4px;
  background: #D6DAE4;
}
.select2-container .select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(95, 123, 188, 0.8);
}
.select2-container .select2-results__options li {
  padding: 14px 20px;
}
.select2-container .select2-results__option:not(:last-child) {
  border-bottom: 1px solid transparent;
}
.select2-container .select2-results__option--highlighted.select2-results__option--selectable {
  background: transparent;
  color: #FBCD0A;
}
.select2-container .select2-results__option--selected {
  background: #A64AC9 !important;
  color: #ffffff !important;
  cursor: default;
}

.select2-dropdown {
  border-bottom-left-radius: 25px;
}

.edit_section .btn_block,
.sign_inner .btn_block {
  margin-left: auto;
}
.edit_section .btn_block button,
.sign_inner .btn_block button {
  border: none;
  width: 100%;
  background: #2E2D84;
  padding: 15px 28px;
  color: #ffffff;
  font-size: 160%;
  line-height: 20px;
  border-radius: 25px 25px 0 25px;
}
.edit_section .btn_block button:disabled, .edit_section .btn_block button.disable, .edit_section .btn_block button.inactive,
.sign_inner .btn_block button:disabled,
.sign_inner .btn_block button.disable,
.sign_inner .btn_block button.inactive {
  background: #C2C6D1;
  pointer-events: none;
}
@media screen and (min-width: 576px) {
  .edit_section .btn_block,
.sign_inner .btn_block {
    width: 50%;
  }
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background: #EEF0F6;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow {
  color: rgba(40, 40, 40, 0.45);
}

.login_error,
.login_success {
  font-size: 200%;
  line-height: 1.75em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 959px) {
  .login_error,
.login_success {
    font-size: 160%;
    margin-bottom: 30px;
  }
}

.login_error {
  color: #F62D2D;
}

.login_success {
  color: #A64AC9;
}

.form_container .login_error,
.form_container .login_success {
  margin-top: -30px;
}

.remember_forgot {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 45px;
  font-size: 190%;
  line-height: 25px;
}
.remember_forgot .remember_checkbox {
  position: relative;
}
.remember_forgot .remember_checkbox input:checked + span {
  color: #A64AC9;
}
.remember_forgot .remember_checkbox input:checked + span:before {
  content: "";
}
.remember_forgot .remember_checkbox span {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #5F7BBC;
  white-space: nowrap;
}
.remember_forgot .remember_checkbox span:disabled, .remember_forgot .remember_checkbox span.disable, .remember_forgot .remember_checkbox span.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
.remember_forgot .remember_checkbox span:before {
  display: block;
  content: "";
  margin-right: 10px;
}
.remember_forgot .forgot_pass_link {
  display: inline-block;
  vertical-align: top;
  color: #A64AC9;
  margin-left: 20px;
  text-align: right;
}
.remember_forgot .forgot_pass_link:disabled, .remember_forgot .forgot_pass_link.disable, .remember_forgot .forgot_pass_link.inactive {
  color: #C2C6D1;
  pointer-events: none;
}
@media screen and (max-width: 959px) {
  .remember_forgot {
    font-size: 160%;
    line-height: 20px;
  }
}

.sign_inner {
  display: flex;
  position: relative;
  overflow: hidden;
}
.sign_inner .welcome_block {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 77px;
  text-align: center;
  margin-top: 10px;
}
.sign_inner .welcome_block .image_block {
  display: block;
  white-space: nowrap;
  margin-top: 23px;
}
.sign_inner .welcome_block .image_block img {
  display: block;
  width: 100%;
  -o-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.sign_inner .welcome_block .image_block img:not(.showed) {
  transform: translate3d(-100vw, 0, 0);
  -moz-transform: translate3d(-100vw, 0, 0);
  -ms-transform: translate3d(-100vw, 0, 0);
  -webkit-transform: translate3d(-100vw, 0, 0);
  -o-transform: translate3d(-100vw, 0, 0);
}
.sign_inner .welcome_block .welcome_text {
  max-width: 465px;
  margin: 19px auto 0;
  color: #A64AC9;
  font-size: 200%;
  line-height: 35px;
}
.sign_inner .sign_block {
  flex: 0 0 50%;
  max-width: 605px;
  padding: 0 20px;
}
.sign_inner .sign_block form {
  max-width: 530px;
  margin: 0 auto;
}
.sign_inner .form_container {
  padding-top: 64px;
}
.sign_inner .title_block {
  text-align: center;
  padding-top: 40px;
}
@media screen and (max-width: 1439px) {
  .sign_inner .welcome_block {
    padding: 0 20px;
  }
}
@media screen and (min-width: 960px) {
  .sign_inner {
    padding-top: 60px;
    padding-bottom: 57px;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .sign_inner {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 575px) {
  .sign_inner {
    padding-top: 25px;
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 959px) {
  .sign_inner {
    flex-wrap: wrap;
  }
  .sign_inner .welcome_block {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .sign_inner .welcome_block .image_block {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
  .sign_inner .welcome_block .welcome_text {
    font-size: 180%;
    line-height: 28px;
  }
  .sign_inner .sign_block {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.success_info {
  padding-top: 70px;
  text-align: center;
}
@media screen and (max-width: 959px) {
  .success_info {
    padding-top: 40px;
  }
}

.web .field_block .type_switch, .field_block .web .type_switch, .web .remember_forgot .remember_checkbox span, .remember_forgot .remember_checkbox .web span, .web .remember_forgot .forgot_pass_link, .remember_forgot .web .forgot_pass_link, .field_block .input_block .field_remove {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .form_fields + .btn_block button, .form_fields + .btn_block .web button, .web .edit_section .btn_block button, .edit_section .btn_block .web button,
.web .sign_inner .btn_block button,
.sign_inner .btn_block .web button, .web .success_info .homepage_btn, .success_info .web .homepage_btn {
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.field_block .static_field,
.field_block .input_block input,
.field_block > input, .field_block textarea, .select2-container .select2-results__options li {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .field_block .type_switch, .field_block .touch .type_switch, .touch .remember_forgot .remember_checkbox span, .remember_forgot .remember_checkbox .touch span, .touch .remember_forgot .forgot_pass_link, .remember_forgot .touch .forgot_pass_link {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .form_fields + .btn_block button, .form_fields + .btn_block .touch button, .touch .edit_section .btn_block button, .edit_section .btn_block .touch button,
.touch .sign_inner .btn_block button,
.sign_inner .btn_block .touch button, .touch .success_info .homepage_btn, .success_info .touch .homepage_btn {
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.remember_forgot .remember_checkbox span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remember_forgot .remember_checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}

.web .field_block .type_switch:hover, .field_block .web .type_switch:hover, .web .remember_forgot .remember_checkbox span:hover, .remember_forgot .remember_checkbox .web span:hover, .web .remember_forgot .forgot_pass_link:hover, .remember_forgot .web .forgot_pass_link:hover {
  color: #FBCD0A;
}
.web .field_block .type_switch:active, .field_block .web .type_switch:active, .web .remember_forgot .remember_checkbox span:active, .remember_forgot .remember_checkbox .web span:active, .web .remember_forgot .forgot_pass_link:active, .remember_forgot .web .forgot_pass_link:active {
  color: #A64AC9;
}
.web .form_fields + .btn_block button:hover, .form_fields + .btn_block .web button:hover, .web .edit_section .btn_block button:hover, .edit_section .btn_block .web button:hover,
.web .sign_inner .btn_block button:hover,
.sign_inner .btn_block .web button:hover, .web .success_info .homepage_btn:hover, .success_info .web .homepage_btn:hover {
  background: #FBCD0A;
}
.web .form_fields + .btn_block button:active, .form_fields + .btn_block .web button:active, .web .edit_section .btn_block button:active, .edit_section .btn_block .web button:active,
.web .sign_inner .btn_block button:active,
.sign_inner .btn_block .web button:active, .web .success_info .homepage_btn:active, .success_info .web .homepage_btn:active {
  background: #A64AC9;
}
.touch .field_block .type_switch:active, .field_block .touch .type_switch:active, .touch .remember_forgot .remember_checkbox span:active, .remember_forgot .remember_checkbox .touch span:active, .touch .remember_forgot .forgot_pass_link:active, .remember_forgot .touch .forgot_pass_link:active {
  color: #FBCD0A;
}
.touch .form_fields + .btn_block button:active, .form_fields + .btn_block .touch button:active, .touch .edit_section .btn_block button:active, .edit_section .btn_block .touch button:active,
.touch .sign_inner .btn_block button:active,
.sign_inner .btn_block .touch button:active, .touch .success_info .homepage_btn:active, .success_info .touch .homepage_btn:active {
  background: #FBCD0A;
}

/*# sourceMappingURL=sign.css.map */
