.listing_inner {
    padding: 39px 0 57px;
}
.category_filter {
    margin-top: 30px;
    display: flex;
    position: relative;
    z-index: 10;
    &:after {
        @include psevdoAbs;
        left: 0;
        width: 100%;
        bottom: 0;
        border-bottom: 1px solid $lightText;
        z-index: -1;
    }
    ul {
        @extend %standardList;
        flex: 1;
        width: 50%;
        height: 45px;
        display: flex;
        flex-wrap: wrap;
        a {
            display: block;
            color: $lightText;
            @include overHidden;
            padding: 10px 21px;
            position: relative;
            span {
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
            }
            &.selected {
                background: $lightText;
                color: $white;
                pointer-events: none;
            }
        }
        li {
            &:not(:first-child):not(.in_drop) {
                margin: 0 auto !important;
            }
            &:not(.in_drop) a {
                @include standardHover;
            }
            &.in_drop a {
                @include secondLightRHover;
            }
        } 
        
    }
    .more_btn {
        @include standardHover;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        line-height: inherit;
        &:before {
            order: 2;
            font-size: 0.6rem;
            margin-left: 16px;
        }
        span {
            display: block;
            line-height: inherit;
        }
    }
    &.opened .more_btn:before {
        @extend %horizontalRotate;
    }
    @include mediaFrom($size1200) {
        font-size: 190%;
        line-height: 25px;
        ul {
            height: 45px;
        }
        .in_drop {
            width: 220px;
            min-width: 220px;
        }
    }
    @include mediaTo($size1200) {
        font-size: 160%;
        line-height: 20px;
    }
    @include mediaRange($size576,$size1200) {
        .in_drop {
            width: 180px;
            min-width: 180px;
        }
        ul,
        .more_btn {
            height: 40px;
        }
        .more_btn:before {
            margin-left: 10px;
        }
    }
    @include mediaFrom($size576) {
        .more_btn {
            padding: 10px 0;
            border: none;
            margin-left: 21px;
            color: $lightText;
            background: transparent;
        }
        .in_drop {
            height: 0;
            @include overHidden;
            border-left: 1px solid rgba($menuBorder,0.05);
            border-right: 1px solid rgba($menuBorder,0.05);
            background: $white;
            z-index: 5;
            position: relative;
            @include animStyle(opacity 0.3s);
            &:last-child {
                border-radius: 0 0 14px 14px;
                border-bottom: 1px solid rgba($menuBorder,0.05);
            }
            a {
                span {
                    height: 0;
                    position: absolute;
                    overflow: hidden;
                    visibility: hidden;
                }
                &:before {
                    display: block;
                    content: attr(data-text);
                }
            }
        }
        li:not(.in_drop) + .in_drop {
            border-top-left-radius: 15px;
        }
        &.opened {
            .in_drop {
                height: auto;
                opacity: 1;
            }
        }
    }
    @include mediaTo($size576) {
        &:after {
            display: none;
        }
        .more_btn {
            margin-left: auto;
            border-radius: 24px 24px 0 24px;
            background: rgba($lightText,0.1);
            color: $siteColor;
            width: 250px;
            padding: 0 27px;
            border: none;
            height: 48px;
            span {
                flex: 1;
                width: 50%;
                white-space: nowrap;
                @include overHidden;
                text-overflow: ellipsis;
            }
        }
        ul {
            position: absolute;
            overflow: hidden;
            display: block;
            right: 0;
            height: auto;
            top: 100%;
            width: 250px;
            background: $white;
            z-index: 5;
            border: 1px solid rgba($menuBorder,0.05);
            border-bottom-left-radius: 15px;
            max-height: 0;
            opacity: 0;
            @include animStyle(opacity 0.3s);
            li {
                margin: 0 !important;
                width: 100% !important;
            }
            a {
                padding: 14px 27px;
                color: $siteColor;
                &.selected {
                    background: $secondColor;
                }
                &:not(.selected):active {
                    background: transparent !important;
                    color: $hoverColor !important;
                }
                span {
                    white-space: normal;
                }
            }
        }
        &.opened {
            .more_btn {
                border-bottom-left-radius: 0;
            }
            ul {
                max-height: 360px;
                overflow-y: auto;
                opacity: 1;
            }
        }
    }
}
.products_list {
    @extend %standardRowList;
    li {
        @include standardCol(3);
        
    }
    @include mediaFrom($size960) {
        li {
            margin-top: 65px;
        }
    }
    @include mediaTo($size960) {
        li {
            margin-top: 50px;
        }
    }
    @include mediaRange($size720,$size960) {
        li {
            @include colSize(4);
        }
    }
    @include mediaRange($size480,$size720) {
        li {
            @include colSize(6);
        }
    }
    @include mediaTo($size480) {
        li {
            flex: 0 0 100%;
            max-width: 290 + $colPadding;
            margin-left: auto;
            margin-right: auto;
        }
    }
}