.profile_inner {
    .page_title {
        padding-top: 16px;
    }
    .edit_section {
        display: flex;
        padding-top: 35px;
        .profile_image {
            flex: 0 0 290px;
            max-width: 290px;
            align-self: flex-start;
            position: relative;
        }
        .attach_block {
            position: relative;
        }
        .image_block {
            @include overHidden;
            padding-bottom: 150%;
            img {
                @extend %coverLayer;
                object-fit: cover;
            }
            &.no_image,
            &:empty {
                background: url('images/avatar.jpg') no-repeat;
                background-size: cover;
                background-position: center;
                margin-bottom: 40px;
                + .attach_label {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 0;
                    margin: 0;
                    padding-top: 150%;
                    .attach_btn {
                        margin-top: 15px;
                    }
                }
            }
        }
        .attach_label {
            position: relative;
            margin-top: 15px;
            color: $siteColor;
            @include standardHover;
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
            input {
                @extend %coverLayer;
                opacity: 0;
                z-index: 1;
                cursor: pointer;
            }
        }
        .attach_btn {
            display: inline-flex;
            vertical-align: top;
           
            align-items: center;
            font-size: 190%;
            line-height: 25px;
            color: inherit;
            &:before {
                display: block;
                margin-right: 8px;
            }
        }
    }
    .fields_section {
        padding-top: 10px;
        flex: 1;
        width: 50%;
        max-width: 530px;
        margin-left: 70px;
        .fields_label {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 30px;
            padding: 0 15px 9px;
            position: relative;
            margin-left: -$colPadding;
            &:after {
                @include psevdoAbs;
                bottom: 0;
                left: 0;
                width: 100%;
                border-top: 2px solid $hoverColor;
                border-radius: 2px;
            }
        }
        .form_fields + .fields_label {
            margin-top: 30px;
        }
    }
    .fields_label {
        font-size: 200%;
        line-height: 26px;
        color: $siteColor;
        margin-bottom: 14px;
    }
    .error_hint:before {
        display: none;
    }
    .add_field {
        cursor: pointer;
        @extend %textUnSelect;
        display: inline-flex;
        vertical-align: top;
        margin-top: 20px;
        align-items: center;
        font-size: 160%;
        line-height: 20px;
        color: $lightText;
        @include standardHover;
        border: none;
        background: transparent;
        padding: 0;
        &:before {
            font-size: 125%;
            margin-right: 5px;
            display: block;
        }
    }
    @include mediaRange($size768, $size960) {
        .fields_section {
            margin-left: 30px;
            .fields_label {
                margin-left: 0;
            }
        }
        .edit_section .profile_image {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }
    @include mediaTo($size960) {
        .edit_section .attach_btn,
        .fields_label {
            font-size: 160%;
            line-height: 20px;
        }

    }
    @include mediaTo($size768) {
        .edit_section {
            flex-wrap: wrap;
            .profile_image {
                flex: 0 0 100%;
                max-width: 200px;
            }
        }
        .fields_section {
            margin-left: 0;
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 20px;
            .fields_label {
                margin-left: 0;
                margin-bottom: 20px;
            }
        }
    }
}