.profile_inner {
    @include overHidden;
    padding: 24px 0 57px;
    @include mediaTo($size576) {
        padding-top: 0;
        padding-bottom: 45px;
    }
}
.profile_main {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    .image_socials {
        flex: 0 0 236px;
        max-width: 236px;
        margin-right: 36px;
    }
    .image_block {
        position: relative;
    }
    .image_inner {
        @include overHidden;
        padding-bottom: 150%;
        img {
            @extend %coverLayer;
            object-fit: cover;
        }
        &.no_image,
        &:empty {
            background: url('images/avatar.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .edit_btn {
        position: absolute;
        left: 0;
        bottom: 6px;
        right: 0;
        padding: 0 20px;
        z-index: 5;
        text-align: center;
        a {
            position: relative;
            display: inline-flex;
            vertical-align: top;
            align-items: center;
            padding: 7px 21px;
            font-size: 190%;
            line-height: 25px;
            border-radius: 20px 20px 0 20px;
            background: rgba($white,0.5);
            color: $lightText;
            z-index: 3;
            &:before {
                display: block;
                margin-right: 10px;
            }
        }
    }
    .socials_list {
        @extend %standardList;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            padding: 14px 10px 0;
        }
        a {
            display: block;
            border-radius: 50%;
            font-size: 300%;
            color: $disable;
            @include secondColorHover;
            &:before {
                display: block;
            }
        }
    }
    .info_block {
        flex: 1;
        width: 50%;
        padding-bottom: 40px;
    }
    .logout_btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        a,
        button {
            border: none;
            background: transparent;
            color: $siteColor;
            font-size: 190%;
            line-height: 25px;
            padding: 0;
            display: flex;
            align-items: center;
            @include standardHover;
            &:before {
                display: block;
                margin-right: 5px;
            }
        }
    }
    .name_block {
        position: relative;
        padding: 2px 0;
        color: $siteColor;
        margin: 0 0 23px;
        font-size: 300%;
        line-height: 1.3em;
        font-family: $bold;
        &:before {
            @include psevdoAbs;
            left: -50vw;
            width: 200vw;
            top: 0;
            height: 100%;
            background: $hoverColor;
            z-index: -1;
        }
        .nickname {
            margin-right: 13px;
            display: inline-block;
        }
        .fullname {
            display: inline-block;
            font-size: 80%;
            line-height: 1.25em;
            font-family: $regular;
            font-weight: normal;
        }
    }
    .location_block {
        line-height: 1.75em;
        color: $siteColor;
    }
    .short_info {
        @include mediaFrom($size960) {
            font-size: 95%;
        }
    }
    .page_btns {
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            &:not(.add_btn) {
                display: inline-block;
                vertical-align: top;
                color: $lightText;
                margin: 0 19px;
                position: relative;
                font-size: 190%;
                line-height: 25px;
                @include secondColorHover;
                &.selected {
                    color: $secondColor;
                    &:after {
                        @include psevdoAbs;
                        bottom: -14px;
                        left: -19px;
                        right: -19px;
                        border-top: 4px solid;
                        border-radius: 2px;
                    }
                }
            }
            &.add_btn {
                @extend %standardBtn;
                margin-left: 26px;
                padding-left: 23px;
                padding-right: 23px;
                &:before {
                    display: inline-block;
                    margin-right: 11px;
                    font-size: 74.7%;
                }
            }
        }
    }
    @include mediaTo($size960) {
        padding-bottom: 20px;
        .image_socials {
            flex: 0 0 200px;
            max-width: 200px;
            margin-right: 20px;
        }
        .name_block {
            font-size: 240%;
        }
        .info_block {
            padding-bottom: 30px;
        }
        .page_btns {
            margin-top: 40px;
            a {
                &:not(.add_btn) {
                    margin: 0 15px;
                    font-size: 160%;
                    line-height: 20px;
                    &.selected {
                        &:after {
                            bottom: -10px;
                            left: -15px;
                            right: -15px;
                            border-top-width: 3;
                        }
                    }
                }
                &.add_btn {
                    margin-left: 15px;
                    padding-left: 18px;
                    padding-right: 18px;
                    &:before {
                        margin-right: 8px;
                    }
                }
            }
        }
        .edit_btn a {
            font-size: 160%;
            line-height: 20px;
            padding-left: 18px;
            padding-right: 18px;
        }
        .logout_btn {
            margin-bottom: 10px;
            a,button {
                font-size: 160%;
                line-height: 20px;
            }
        }
    }
    @include mediaTo($size768) {
        .page_btns {
            flex-direction: column;
            align-items: flex-end;
            margin-top: 30px;
            a {
                &:not(.add_btn) {
                   margin: 20px 0 0;
                   order: 1;
                   &.selected {
                       padding-bottom: 7px;
                       &:after {
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-top-width: 2px;
                       }
                   }
                }
            }
        }
    }
    @include mediaTo($size576) {
        .image_socials {
            position: absolute;
            top: 126px;
            left: 0;
            width: 100%;
            max-width: 100%;
            margin-right: 0;
            flex: none;
        }
        .info_block {
            display: flex;
            flex-direction: column;
        }
        .name_block {
            text-align: center;
            margin-bottom: 150%;
            .nickname,
            .fullName {
                display: block;
                margin: 0;
            }
        }
       
        .description_block {
            padding-top: 120px;
        }
        .socials_list {
            li {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        .logout_btn {
            padding: 20px 0;
            margin: 0;
        }
    }
    @include mediaTo($size480) {
        .socials_list {
            li:first-child:nth-last-child(7),
            li:first-child:nth-last-child(7) ~ li,
            li:first-child:nth-last-child(8),
            li:first-child:nth-last-child(8) ~ li {
                padding-left: 5px;
                padding-right: 5px;
                a {
                    font-size: 280%;
                }
            }
            li:first-child:nth-last-child(n+9),
            li:first-child:nth-last-child(n+9) ~ li {
                padding-left: 3px;
                padding-right: 3px;
                a {
                    font-size: 240%;
                }
            }
            
        }
    }
}

.about_draft {
    max-width: 900px;
   
    color: $secondColor;
    
    @include mediaFrom($size960) {
        margin-top: 30px;
        .description_block {
            font-size: 180%;
        }
        
    }
}
.web .edit_btn a {
    @extend %all300;
    &:hover {
        background: $white;
        color: $secondColor;
    }
}

.touch .edit_btn a {
    @extend %all150;
    &:active {
        background: $white;
        color: $secondColor;
    }
}

.products_list {
    .action_btns {
        margin-top: 8px;
        display: flex;
        margin-left: auto;
    }
    .comics_edit,
    .delete_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: none;
        padding: 0;
        color: $white;
        background: $lightText;
        @include siteBgHover;
        margin-left: 15px;
        &:before {
            display: block;
        }
    }
    .comics_edit {
        font-size: 120%;
    }
    .delete_btn {
        font-size: 160%;
    }
    .comics_lg {
        flex: 1;
        width: 10%;
    }
    li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .product_block {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.web .products_list {
    a:hover ~ .action_btns,
    .action_btns:hover {
        opacity: 1;
    }
}

.touch .products_list .action_btns {
    opacity: 1;
}

