%standardList {
	@include standardList();
}

%standardRowList {
	@include standardRowList();
}

%coverLayer {
	@include coverLayer();
}

%verticalRotate {
	@include transStyle(scaleX(-1));
}

%horizontalRotate {
	@include transStyle(scaleY(-1));
}

%centeredImage {
	> img {
		@extend %coverLayer;
		object-fit: cover;
	}
}

%coverVideo {
	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

%square {
	@include overHidden();
	@extend %centeredImage;
	@extend %coverVideo;
	&:before {
		display: block;
		content: "";
		padding-bottom: 100%;
	}
}

%almostSquare {
	@include overHidden();
	@extend %centeredImage;
	@extend %coverVideo;
	&:before {
		display: block;
		content: "";
		padding-bottom: 75%;
	}
}

%lessWide {
	@include overHidden();
	@extend %centeredImage;
	@extend %coverVideo;
	&:before {
		display: block;
		content: "";
		padding-bottom: 62.5%;
	}
}

%standardWide {
	@include overHidden();
	@extend %centeredImage;
	@extend %coverVideo;
	&:before {
		display: block;
		content: "";
		padding-bottom: 56.25%;
	}
}

%halfWide {
	@include overHidden();
	@extend %centeredImage;
	@extend %coverVideo;
	&:before {
		display: block;
		content: "";
		padding-bottom: 50%;
	}
}

%superWide {
	@include overHidden();
	@extend %centeredImage;
	@extend %coverVideo;
	&:before {
		display: block;
		content: "";
		padding-bottom: 25%;
	}
}

%standardNarrow {
	@include overHidden();
	@extend %centeredImage;
	&:before {
		display: block;
		content: "";
		padding-bottom: 177.78%;
	}
}

%lessNarrow {
	@include overHidden();
	@extend %centeredImage;
	&:before {
		display: block;
		content: "";
		padding-bottom: 133.33%;
	}
}

%iconElement {
	&:before,
	&:after {
		font-family: 'icon' !important;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%noBlink {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

%standardBtn {
	border: none;
	display: inline-block;
	vertical-align: top;
	padding: 9px 28px;
	color: $white;
	border-radius: 21px 21px 0 21px;
	background: $siteColor;
	font-size: 190%;
	line-height: 24px;
	@include standardBgHover;
	@include mediaTo($size960) {
		font-size: 160%;
		line-height: 20px;
		padding: 8px 21px;
	}
}
%emptyBtn {
	border: 1px solid;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 8px 27px;
	color: $siteColor;
	border-radius: 21px 21px 0 21px;
	background: transparent;
	font-size: 190%;
	line-height: 24px;
	@include standardMixHover;
	@include mediaTo($size960) {
		font-size: 160%;
		line-height: 20px;
		padding: 8px 21px;
	}
}

%largeText {
	line-height: 1.17em;
	font-family: $bold;
	@include mediaFrom($size1200) {
		font-size: 420%;
	}
	@include mediaRange($size960,$size1200) {
		font-size: 360%;
	}
	@include mediaRange($size768,$size960) {
		font-size: 320%;
	}
	@include mediaRange($size576,$size768) {
		font-size: 280%;
	}
	@include mediaTo($size576) {
		font-size: 240%;
	}
}

%middleText {
	@include mediaFrom($size960) {
		font-size: 240%;
		line-height: 30px;
	}
	@include mediaRange($size768,$size960) {
		font-size: 210%;
		line-height: 27px;
	}
	@include mediaRange($size576,$size768) {
		font-size: 180%;
		line-height: 24px;
	}
	@include mediaTo($size576) {
		font-size: 150%;
		line-height: 19px;
	}
}