@font-face {
    font-family: 'segoeui';
    src: url('../fonts/SegoeUI/SegoeUI.eot');
    src: url('../fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'segoeui-bold';
    src: url('../fonts/SegoeUI-Bold/SegoeUI-Bold.eot');
    src: url('../fonts/SegoeUI-Bold/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-Bold/SegoeUI-Bold.woff') format('woff'),
        url('../fonts/SegoeUI-Bold/SegoeUI-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bainsley';
    src: url('../fonts/Bainsley/Bainsley.eot');
    src: url('../fonts/Bainsley/Bainsley.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bainsley/Bainsley.woff') format('woff'),
        url('../fonts/Bainsley/Bainsley.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bainsley-bold';
    src: url('../fonts/Bainsley-Bold/Bainsley-Bold.eot');
    src: url('../fonts/Bainsley-Bold/Bainsley-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bainsley-Bold/Bainsley-Bold.woff') format('woff'),
        url('../fonts/Bainsley-Bold/Bainsley-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icon';
    font-display: 'auto';
    src: url('../fonts/icons/icomoon.eot?bjgc5x');
    src: url('../fonts/icons/icomoon.eot?bjgc5x#iefix') format('embedded-opentype'),
         url('../fonts/icons/icomoon.ttf?bjgc5x') format('truetype'),
         url('../fonts/icons/icomoon.woff?bjgc5x') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class*="icon_"] {
    @extend %iconElement;
}

//social icons
.icon_facebook_round:before {
    content: "\e92a";
}
.icon_instagram_round:before {
    content: "\e92b";
}
.icon_linkedin_round:before {
    content: "\e92c";
}
.icon_twitter_round:before {
    content: "\e92d";
}
.icon_youtube_round:before {
    content: "\e92e";
}
.icon_behance_round:before {
    content: "\e92f";
}
.icon_facebook:before {
    content: "\e90a";
}
.icon_instagram:before {
    content: "\e90b";
}
.icon_linkedin:before {
    content: "\e90c";
}
.icon_twitter:before {
    content: "\e90d";
}
.icon_pinterest:before {
    content: "\e90e";
}
.icon_youtube:before {
    content: "\e90f";
}
.icon_telegram:before {
    content: "\e91a";
}
.icon_ok:before {
    content: "\e91b";
}
.icon_vk:before {
    content: "\e91c";
}
.icon_google:before {
    content: "\e91d";
}
.icon_tiktok:before {
    content: "\e91e";
}
.icon_flickr:before {
    content: "\e91f";
}

//other icons
.icon_arrow:before {
    content: "\e900";
}
.icon_down:before {
    content: "\e901";
}
.icon_left:before {
    content: "\e902";
}
.icon_right:before {
    content: "\e903";
}
.icon_close:before {
    content: "\e904";
}
.icon_clear:before {
    content: "\e905";
}
.icon_delete:before {
    content: "\e906";
}
.icon_globe:before {
    content: "\e907";
}
.icon_eye:before {
    content: "\e908";
}
.icon_eye_close:before {
    content: "\e909";
}
.icon_layout:before {
    content: "\e910";
}
.icon_location:before {
    content: "\e911";
}
.icon_phone:before {
    content: "\e912";
}
.icon_pen:before {
    content: "\e913";
}
.icon_edit:before {
    content: "\e914";
}
.icon_plus:before {
    content: "\e915";
}
.icon_add:before {
    content: "\e916";
}
.icon_refresh:before {
    content: "\e917";
}
.icon_uncheck:before {
    content: "\e918";
}
.icon_check:before {
    content: "\e919";
}
.icon_exit:before {
    content: "\e920";
}
.icon_upload:before {
    content: "\e921";
}
.icon_upload_image:before {
    content: "\e922";
}
.icon_video:before {
    content: "\e923";
}