html {
    height: 100%;
    font-size: 10px;
    line-height: 1.4286em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    &:not(.loaded) {
        overflow: hidden;
        body {
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        .loader {
            &:before,
            img {
                opacity: 1;
            }
            @include animDelay(0s);
            width: 100%;
            height: 100%;
        }
    }
}
 
body {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    color: $textColor;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    font-family: $regular;
    background: $bgColor;
    @include popupBody($textColor, 0.6, 0.5s);
}

*,
*:before,
*:after {
    box-sizing: border-box; 
}

input, 
select, 
textarea, 
button, 
a, 
.slick-slide {
   outline: none !important;
}

a,
a:focus,
a:hover,
button:hover {
    text-decoration: none;
}

a {
    color: $siteColor;
}

button {
    cursor: pointer;
    display: block;
}

img	{
    max-height: none;
    border: none;
}

textarea,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input,
textarea,
button {
    font-family: inherit;
    font-size: 100%;
}

.page_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: $rowMargin;
    margin-right: $rowMargin;
    .cb {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.page_container {
    width: 100%;
    max-width: $containerWidth + 2*$containerPadding;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
    margin: 0 auto;
}

.phone_link {
    font-family: $regularS;
    &:not(.clickable) {
        color: inherit;
        cursor: default;
        pointer-events: none;
    }
}

.individual_hint,
.drop_list {
    display: none;
}
.help-block.form-error {
    display: none !important;
}
.has-error {
    .error_hint,
    + .error_hint {
        max-height: 60px;
   }
}

.field_block {
    position: relative;
    input,
    textarea {
        width: 100%;

   }
    textarea {
        resize: none;
        display: block;
   }
}
.cb {
    display: block;
    clear: both;
}


.loader {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    @include animStyle(all 0.1s);
    @include animDelay(1s);
    &:before {
        @extend %coverLayer;
        content: "";
        background: rgba($white,0.75);
        @include animStyle(opacity 0.5s);
        opacity: 0;
    }
    img {
        position: relative;
        z-index: 2;
        display: block;
        width: 120px;
	    animation: storm 1.5s infinite;
        @include animStyle(opacity 0.5s);
        opacity: 0;
    }
}

@keyframes storm {
    to {transform: rotateY(360deg)}
}

.large_title {
    line-height: 1.28em;
    font-family: $bold;
    color:$siteColor;
    margin: 0;
    @include mediaFrom($size1200) {
        font-size: 640%;
    }
    @include mediaRange($size960,$size1200) {
        font-size: 560%;
    }
    @include mediaRange($size768,$size960) {
        font-size: 480%;
    }
    @include mediaRange($size576,$size768) {
        font-size: 400%;
    }
    @include mediaTo($size576) {
        font-size: 320%;
    }
}

.page_title {
    margin: 0;
    color: $siteColor;
    font-family: $bold;
    line-height: 1.29em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    &:after {
        @include psevdoAbs;
        left: 0;
        width: 100%;
        bottom: 0;
        border-radius: 6px;
        background: $hoverColor;
    }
    @include mediaFrom($size1200) {
        font-size: 380%;
        padding: 0 30px 20px;
        &:after {
            height: 6px;
        }
    }
    @include mediaRange($size960,$size1200) {
        font-size: 320%;
        padding: 0 25px 18px;
        &:after {
            height: 5px;
        }
    }
    @include mediaRange($size768,$size960) {
        font-size: 280%;
        padding: 0 20px 16px;
        &:after {
            height: 4px;
        }
    }
    @include mediaRange($size576,$size768) {
        font-size: 240%;
        padding: 0 15px 13px;
        &:after {
            height: 3px;
        }
    }
    @include mediaTo($size576) {
        font-size: 220%;
        padding: 0 10px 12px;
        &:after {
            height: 2px;
        }
    }
}

.section_title {
    margin: 0;
    color: inherit;
    font-family: $bold;
    line-height: 1.3em;
    @include mediaFrom($size1200) {
        font-size: 480%;
    }
    @include mediaRange($size960,$size1200) {
        font-size: 420%;
    }
    @include mediaRange($size768,$size960) {
        font-size: 360%;
    }
    @include mediaRange($size576,$size768) {
        font-size: 280%;
    }
    @include mediaTo($size576) {
        font-size: 220%;
    }
}

.description_block {
    @include mediaFrom($size960) {
        font-size: 200%;
        line-height: 30px;
    }
    @include mediaRange($size768,$size960) {
        font-size: 180%;
        line-height: 28px;
    }
    @include mediaRange($size576,$size768) {
        font-size: 160%;
        line-height: 26px;
    }
    @include mediaTo($size576) {
        font-size: 140%;
        line-height: 25px;
    }
}

.product_block {
    display: block;
    .image_block {
        display: block;
        padding-bottom: 138.88%;
        position: relative;
        z-index: 2;
        img {
            @extend %coverLayer;
            object-fit: cover;
        }
        &:empty,
        &.no_image {
            background: url('images/no_image.svg') no-repeat $disable;
            background-position: center;
            background-size: 35% auto;
        }
    }
    .comics_name {
        display: flex;
        min-height: 83px;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 200%;
        line-height: 25px;
        padding: 4px 10px;
        box-shadow: 0 4px 20px rgba($black,0.05);
        background: $nameBg;
    }
    ~ .comics_lg {
        margin-top: 8px;
        font-size: 160%;
        line-height: 20px;
        color: $secondColor;
        .lg_label {
            color: $lightText;
        }
    }
    @include mediaRange($size576,$size960) {
        .comics_name {
            font-size: 160%;
            line-height: 20px;
            min-height: 68px;
        }
        ~ .comics_lg {
            font-size: 140%;
            line-height: 18px;
        }
    }
    @include mediaTo($size576) {
        .comics_name {
            font-size: 130%;
            line-height: 17px;
            min-height: 65px;
        }
        ~ .comics_lg {
            font-size: 120%;
            line-height: 15px;
        }
    }
}

.paging {
    margin-top: 40px;
    ul {
        @extend %standardRowList;
        align-items: center;
        justify-content: center;
        color: $lightText;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        @include standardHover;
        &:not(.prev_page):not(.next_page) {
            font-size: 260%;
            font-family: $regularS;
        }
        &.current_page {
            width: 44px;
            height: 44px;
            pointer-events: none;
            border-radius: 50%;
            background: $lightText;
            color: $white;
        }
        &.prev_page,
        &.next_page {
            font-size: 180%;
            line-height: 23px;
            &:before {
                display: block;
                font-size: 1.2rem;
                margin: 0 10px;
            }
        }
        &.next_page:before {
            order: 2;
        }
    }
    li {
        padding: 0 $colPadding;
    }
    span {
        display: block;
        font-size: 300%;
        font-family: $regularS;
    }
    @include mediaRange($size960,$size1200) {
        a {
            &:not(.prev_page):not(.next_page) {
                font-size: 220%;
            }
            &.current_page {
                width: 38px;
                height: 38px;
            }
            &.prev_page,
            &.next_page {
                font-size: 160%;
                line-height: 20px;

            }
        }
        span {
            font-size: 260%;
        }
    }
    @include mediaRange($size576,$size960) {
        a {
            &:not(.prev_page):not(.next_page) {
                font-size: 200%;
            }
            &.current_page {
                width: 36px;
                height: 36px;
            }
            &.prev_page,
            &.next_page {
                font-size: 140%;

            }
        }
        span {
            font-size: 220%;
        }
    }
    @include mediaTo($size576) {
        padding: 0 5px;
        a {
            &:not(.prev_page):not(.next_page) {
                font-size: 180%;
            }
            &.current_page {
                width: 32px;
                height: 32px;
            }
            &.prev_page,
            &.next_page {
                font-size: 0;
                &:before {
                    margin: 0;
                    font-size: 1.4rem;
                }
            }
        }
        li {
            padding: 0 10px;
        }
        span {
            font-size: 200%;
        }
    }
}

.web .product_block {
    .comics_name {
        @extend %all300;
    }
    &:hover .comics_name {
        color: $white;
        background: $lightText;
    }
}

.touch .product_block {
    .comics_name {
        @extend %all150;
    }
    &:active .comics_name {
        color: $white;
        background: $lightText;
    }
}


.text_section {
    padding-top: 42px;
    padding-bottom: 57px;
    word-break: break-word;
    a {
        color: $secondColor;
        @include standardHover;
    }
    .description_block {
        margin-top: 30px;
        text-align: justify;
        @include mediaFrom($size960) {
            font-size: 190%;
        }
    }
    @include mediaFrom($size1200) {
        .description_block {
            @include colGap(100px);
        }
    }
    @include mediaRange($size960,$size1200) {
        .description_block {
            @include colGap(60px);
        }
    }
    @include mediaRange($size768,$size960) {
        padding-top: 30px;
        padding-bottom: 50px;
        .description_block {
            @include colGap(40px);
        }
    }
    @include mediaFrom($size768) {
        .description_block {
            @include colCount(2);
        }
    }
    @include mediaTo($size768) {
        padding-top: 25px;
        padding-bottom: 45px;
    }
}

.tab_block {
    @include animStyle(opacity 0.5s);
    position: relative;
    &:not(.selected) {
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
}

.switch_buttons {
    @extend %standardList;
    display: flex;
    justify-content: center;
    color: $lightText;
    li {
        border-bottom: 1px solid;
        &:first-child {
            padding-left: 30px;
        }
        &:last-child {
            padding-right: 30px;
        }
        @include mediaTo($size960) {
            &:first-child {
                padding-left: 15px;
            }
            &:last-child {
                padding-right: 15px;
            }
        }
    }
    a {
        display: block;
        padding: 10px 18px;
        min-width: 126px;
        font-size: 190%;
        line-height: 25px;
        color: inherit;
        text-align: center;
        &.selected {
            pointer-events: none;
            background: $lightText;
            color: $white;
        }
        @include mediaTo($size960) {
            font-size: 160%;
            line-height: 20px;
        }
    }
}

.web .switch_buttons a:not(.selected) {
    @extend %back300;
    &:hover {
        background: rgba($lightText,0.2);
    }
}

.touch .switch_buttons a:not(.selected) {
    @extend %back150;
    &:active {
        background: rgba($lightText,0.2);
    }
}

.popup_block {
    @include popupBlock(0.5s);
}

.popup_inner {
    @include popupInner(20px $containerPadding);
}

.back_to_top {
    position: fixed;
    bottom: 40px;
    right: 7.5%;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $lightText;
    color: $white;
    font-size: 100%;
    z-index: 50;
    @include standardBgHover;
    &:before {
        display: block;
        @extend %horizontalRotate;
        @extend %noBlink;
    }
    &:not(.active) {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
    @include mediaRange($size1440,$size1600) {
        right: 5%;
    }
    @include mediaTo($size1440) {
        right: $containerPadding;
    }
}

.delete_popup .popup_container,
.save_popup .popup_container {
    @include popupContainer($white, 478px, 32px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 290px;
    border-radius: 14px;
    box-shadow: 0 10px 15px rgba($black,0.1);
    text-align: center;
    .description_block {
        line-height: 1.75em;
        color: $lightText;
        max-width: 310px;
        margin: 0 auto 42px;
    }
    .btns_block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;
        white-space: nowrap;
    }
    .save_btn,
    .delete_btn {
        @extend %standardBtn;
        margin: 0 12px 23px;
        flex: 1;
    }
    .cancel_btn {
        @extend %emptyBtn;
        margin: 0 12px 23px;
        flex: 1;
        cursor: pointer;
    }
    @include mediaTo($size480) {
        padding: 20px $containerPadding;
        min-height: 240px;
        .description_block {
            margin-bottom: 30px;
        }
    }
}

.large_container {
    max-width: $headerWidth + 2 * $containerPadding;
    padding: 0 $containerPadding;
    margin: 0 auto;
    width: 100%;
}

.num404 {
    display: block;
    font-size: 8rem;
    line-height: 1.1em;
    letter-spacing: 0.1em;
}

.breadcrumbs {
    padding: 30px 0;
    font-size: 180%;
    line-height: 23px;
    .page_container {
        display: flex;
        align-items: center;
    }
    .back_btn {
        display: inline-block;
        vertical-align: top;
        position: relative;
        color: $siteColor;
        padding: 0 10px 3px;
        margin-right: 40px;
        @include standardHover;
        &:before {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            font-size: 0.8rem;
            height: 8px;
            overflow: hidden;
            @extend %verticalRotate;
        }
    }
    ul {
        @extend %standardList;
        display: flex;
        li {
            display: flex;
            align-items: center;
            color: $siteColor;
            &:not(:first-child):before {
                @extend %iconElement;
                display: block;
                content: "\E903";
                font-size: 1rem;
                margin: 0 15px;
            }
        }
        a {
            display: inline-block;
            vertical-align: top;
            color: inherit;
            @include standardHover;
        }
        div {
            color: $secondColor;
            max-width: 300px;
            @include overHidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    @include mediaTo($size768) {
        display: none;
    }
}

.faq_list {
    @include customList(0 auto,0, none);
    max-width: 773px;
    > li {
        margin-top: 65px;
        border: 1px solid;
        padding: 40px 50px;
        position: relative;
        color: $lightText;
        &.opened .toggle_btn {
            color: $secondColor;
            &:before {
                @extend %horizontalRotate;
            }
        }
    }
    .toggle_btn {
        position: absolute;
        border: none;
        background: transparent;
        padding: 0;
        font-size: 190%;
        line-height: 24px;
        bottom: 15px;
        right: 15px;
        color: inherit;
        @include standardHover;
        display: flex;
        align-items: center;
        &:before {
            display: block;
            font-size: 0.6rem;
            margin-left: 11px;
            order: 2;
        }
    }
    .answer_block,
    .question_block {
        font-size: 240%;
        line-height: 35px;
    }
    .question_block {
        cursor: pointer;
        @include standardHover;
        font-family: $bold;
    }
    .answer_block {
        color: $siteColor;
        display: none;
        text-align: justify;
        &:before {
            display: block;
            content: "";
            height: 21px;
        }
    }
    .num_block {
        position: absolute;
        font-size: 300%;
        font-family: $regularS;
        color: $white;
        background: $lightText;
        border-radius: 50%;
        left: -11px;
        top: -26px;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include mediaRange($size576,$size960) {
        max-width: 680px;
        > li {
            margin-top: 50px;
            padding: 30px 40px;
        }
        .toggle_btn {
            font-size: 160%;
            line-height: 20px;
            bottom: 10px;
            right: 10px;
            &:before {
                margin-left: 8px;
            }
        }
        .answer_block,
        .question_block {
            font-size: 200%;
            line-height: 30px;
        }
        .num_block {
            font-size: 240%;
            top: -23px;
            width: 45px;
            height: 45px;
        }
    }
    @include mediaTo($size576) {
        > li {
            margin-top: 45px;
            padding: 20px;
        }
        .toggle_btn {
            font-size: 140%;
            line-height: 18px;
            bottom: auto;
            right: auto;
            position: relative;
            margin-left: auto;
            margin-top: 5px;
            margin-bottom: -5px;
            margin-right: -5px;
            &:before {
                margin-left: 7px;
            }
        }
        .answer_block,
        .question_block {
            font-size: 180%;
            line-height: 28px;
        }
        .num_block {
            font-size: 200%;
            top: -22px;
            width: 36px;
            height: 36px;
        }
    }
}