.header {
    position: relative;
    z-index: 100;
    padding: 0 $containerPadding;
    background: $white;
    box-shadow: 0 4px 15px rgba($black,0.05);
    &_inner {
        max-width: $headerWidth;
        margin: 0 auto;
        display: flex;
        height: 100px;
        align-items: center;
    }
    .main_logo {
        a {
            display: block;
            @include opacityHover;
        }
        img {
            display: block;
            @extend %noBlink;
            height: 89px;
            width: auto;
        }
    }
    .sign_block {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    }
    .sign_btn {
        @extend %standardBtn;
        &.current_page {
            background: $secondColor;
        }
    }
    .lg_list {
        @extend %standardList;
        display: flex;
        color: $lightText;
        li {
            display: flex;
            align-items: center;
            &:not(:first-child):before {
                display: block;
                height: 14px;
                border-left: 1px solid;
                content: "";
                margin: 0 15px;
            }
        }
        a {
            display: block;
            color: inherit;
            @include standardHover;
            &.current_lg {
                color: $secondColor;
                pointer-events: none;
            }
        }
    }
    .main_menu {
        @extend %standardList;
        color: $siteColor;
        >li {
            display: flex;
            align-items: center;
            position: relative;
            > a {
                display: flex;
                align-items: center;
                position: relative;
                @include standardHover;
                @extend %standardHoverWithBorder;
                &.current_page {
                    color: $secondColor;
                    &:after {
                        @include psevdoAbs;
                        
                    }
                }
                &:after {
                    border-top: 3px solid;
                    bottom: -17px;
                }
            }
            &.opened > a.submenu_btn {
                color: $secondColor !important;
                &:before {
                    @extend %horizontalRotate;
                }
            }
        }
        a {
            color: inherit;
        }
        .submenu_btn:before {
            order: 2;
            display: block;
            font-size: 0.6rem;
            margin-left: 10px;
        }
    }
    .submenu_list {
        display: none;
        @extend %standardList;
        z-index: 10;
        a {
            @include secondLightRHover;
        }
    }
    .profile_menu {
        display: none;
        position: absolute;
        overflow: hidden;
        top: 100%;
        right: 0;
        background: $bgColor;
        border-radius: 14px 0 14px 14px;
        border: 1px solid rgba($black,0.05);
        box-shadow: 0 10px 15px rgba($black,0.05);
        @extend %standardList;
        color: $siteColor;
        z-index: 10;
        a,
        button {
            display: block;
            border: none;
            color: inherit;
            background: transparent;
            @include secondLightRHover;
            width: 100%;
            text-align: left;
        }
    }
    .profile_btn {
        width: 36px;
        height: 36px;
        color: $secondColor;
        border: 3px solid;
        background: transparent;
        border-radius: 50%;
        padding: 0;
        @include standardHover;
        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .menu_inner {
        display: flex;
    }
    @include mediaFrom($size1600) {
        .sign_block {
            margin-left: 40px;
        }
        .lg_list {
            margin-left: 50px;
            font-size: 160%;
            line-height: 20px;
        }
        .main_menu {
            font-size: 190%;
            line-height: 24px;
            > li {
                padding: 0 35px;
                height: 100px;
                > a:after {
                    left: -25px;
                    right: -25px;
                }
            }
            
        }
        .submenu_list {
            left: 10px;
            width: 225px;
            a {
                padding: 13px 24px;
            }
        }
        .profile_menu {
            width: 225px;
            button,
            a {
                padding: 13px 60px;
                font-size: 190%;
                line-height: 24px;
            }
        }
        
    }
    @include mediaRange($size1440, $size1600) {
        .sign_block {
            margin-left: 30px;
        }
        .lg_list {
            margin-left: 40px;
            font-size: 160%;
            line-height: 20px;
        }
        .main_menu {
            font-size: 160%;
            line-height: 20px;
            color: $siteColor;
            > li {
                padding: 0 30px;
                height: 100px;
                > a:after {
                    left: -20px;
                    right: -20px;
                }
            }
        }
        .submenu_list {
            left: 10px;
            width: 200px;
            a {
                padding: 12px 20px;
            }
        }
        .profile_menu {
            width: 200px;
            button,
            a {
                padding: 13px 40px;
                font-size: 160%;
                line-height: 20px;
            }
        }
    }
    @include mediaRange($size1200, $size1440) {
        &_inner {
            height: 80px;
        }
        .sign_block {
            margin-left: 20px;
        }
        .lg_list {
            margin-left: 30px;
            font-size: 140%;
            line-height: 18px;
        }
        .main_menu {
            font-size: 140%;
            line-height: 18px;
            color: $siteColor;
            > li {
                padding: 0 20px;
                height: 70px;
                > a:after {
                    left: -15px;
                    right: -15px;
                    bottom: -13px;
                }
            }
        }
        .main_logo img {
            height: 70px;
        }
        .sign_btn {
            font-size: 160%;
            line-height: 20px;
            padding: 8px 20px;
        }
        .submenu_list {
            left: 0px;
            width: 180px;
            a {
                padding: 12px 20px;
            }
        }
        .profile_menu {
            width: 180px;
            button,
            a {
                padding: 13px 20px;
                font-size: 140%;
                line-height: 18px;
            }
        }
    }
    @include mediaRange($size960, $size1200) {
        &_inner {
            height: 60px;
        }
        .sign_block {
            margin-left: 20px;
        }
        .lg_list {
            margin-left: 12px;
            font-size: 140%;
            line-height: 18px;
            li:not(:first-child):before {
                margin: 0 10px;
            }
        }
        .main_menu {
            font-size: 140%;
            line-height: 18px;
            color: $siteColor;
            > li {
                padding: 0 12px;
                height: 60px;
                > a:after {
                    left: -5px;
                    right: -5px;
                    border-top-width: 2px;
                    bottom: -7px;
                }
            }
            .submenu_btn:before {
                font-size: 0.4rem;
                margin-left: 5px;
            }
        }
        .main_logo img {
            height: 70px;
        }
        .main_logo {
            height: 50px;
            width: 120px;
        }
        .submenu_list {
            left: 0;
            width: 180px;
            a {
                padding: 10px 12px;
            }
        }
        .profile_menu {
            width: 180px;
            button,
            a {
                padding: 10px 12px;
                font-size: 140%;
                line-height: 18px;
            }
        }
    }
    @include mediaFrom($size960) {
        .menu_btn {
            display: none;
        }
        .menu_inner {
            align-items: center;
            justify-content: flex-end;
        }
        .main_menu {
            display: flex;
        }
        .submenu_list {
            position: absolute;
            overflow: hidden;
            top: 100%;
            background: $bgColor;
            border-radius: 0 14px 14px 14px;
            border: 1px solid rgba($black,0.05);
            box-shadow: 0 10px 15px rgba($black,0.05);
            min-width: 100%;
            a {
                display: block;
            }
        }
        .menu_block {
            flex: 1;
            width: 50%;
        }
    }
    @include mediaTo($size1200) {
        &_inner {
            height: 50px;
        }
        .main_logo {
            display: flex;
            @include overHidden;
            align-items: center;
            justify-content: flex-end;
        }
        .sign_btn {
            font-size: 140%;
            line-height: 18px;
            padding: 6px 16px;
        }
    }
    @include mediaTo($size960) {
        .main_logo {
            width: 116px;
            height: 45px;
            margin-right: auto;
            img {
                height: 68px;
            }
        }
        .menu_block {
            position: fixed;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            @include animStyle(width 0.5s);
            z-index: 99;
            background: rgba($textColor,0.6);
        }
        .menu_inner {
            background: $white;
            border-radius: 15px 0 0 15px;
            width: 320px;
            max-height: 100%;
            position: relative;
            overflow: hidden;
            border: 1px solid rgba($menuBorder, 0.05);
            margin-left: auto;    
            flex-direction: column;
            padding: 15px 30px;
        }
        .main_menu {
            flex: 1;
            order: 2;
            height: 50%;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            font-size: 160%;
            line-height: 20px;
            
            > li {
                padding: 14px 0;
                flex-wrap: wrap;
            }
        }
        .submenu_list {
            flex: 0 0 100%;
            color: $lightText;
            li {
                padding-top: 28px;
                padding-left: 28px;
            }
            a {
                background: transparent !important;
                &:hover,
                &:active {
                    color: $hoverColor !important;
                }
            }
        }
        .submenu_btn:before {
            margin-left: 18px;
        }
        .menu_btn {
            margin-right: 2px;
            margin-left: 22px;
            @include menuBtn(22px, 16px, $siteColor, 7px 0, 2px, 50px, 1px, -20px, 0.5s);
            span {
                margin-right: 5px;
            }
        }
        .lg_list {
            font-size: 160%;
            line-height: 20px;
            margin-bottom: 14px;
        }
        .profile_menu {
            width: 180px;
            button,
            a {
                padding: 13px 20px;
                font-size: 160%;
                line-height: 20px;
            }
        }
    }
}

@include mediaTo($size960) {
    .menu_opened {
        overflow: hidden;
        &.ios_device {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .menu_block {
            width: 100%;
        }
        .menu_btn {
            @include menuClose(45deg);
        }
        
    }
}