@mixin standardList() {
    padding: 0;
	margin: 0;
	list-style-type: none;
}

@mixin standardRowList() {
    padding: 0;
	margin: 0 $rowMargin;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

@mixin customList($margin, $padding, $type) {
	padding: $padding;
	margin: $margin;
	list-style-type: $type;
}

@mixin slider() {
	position: relative;
	white-space: nowrap;
	font-size: 0;
	overflow: hidden;
}

@mixin slide($width, $position) {
	display: inline-block;
	white-space: normal;
	font-size: 1rem;
	width: $width;
	vertical-align: $position;
}

@mixin centerCover() {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin animStyle($parameters) {
  	-o-transition: $parameters;
	-ms-transition: $parameters;
	-moz-transition: $parameters;
	-webkit-transition: $parameters;
	transition: $parameters;
}

@mixin animStyles($param1,$param2) {
	-o-transition: $param1,$param2;
  -ms-transition: $param1,$param2;
  -moz-transition: $param1,$param2;
  -webkit-transition: $param1,$param2;
  transition: $param1,$param2;
}

@mixin transStyle($parameters) {
	transform: $parameters;
	-moz-transform: $parameters;
    -ms-transform: $parameters;
    -webkit-transform: $parameters;
    -o-transform: $parameters;
}

@mixin torigin($parameters) {
	transform-origin: $parameters;
	-webkit-transfrom-origin: $parameters;
}

@mixin animDelay($parameters) {
	-o-transition-delay: $parameters;
	-ms-transition-delay: $parameters;
	-moz-transition-delay: $parameters;
	-webkit-transition-delay: $parameters;
	transition-delay: $parameters;
}

@mixin overHidden() {
	position: relative;
	overflow: hidden;
}

@mixin psevdoAbs() {
	display: block;
	content: "";
	position: absolute;
}

@mixin coverLayer() {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@mixin fixCoverLayer() {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@mixin maskedInput() {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	visibility: hidden;
}

@mixin colCount($col) {
	-moz-column-count: $col;
    -webkit-column-count: $col;
    column-count: $col;
}

@mixin colGap($gap) {
    -webkit-column-gap: $gap;
    -moz-column-gap: $gap;
    column-gap: $gap;
}

@mixin customScroll($width, $height, $mozWidth, $trackRadius, $barRadius, $trackBg, $barBg) {
	scrollbar-color: $barBg $trackBg;
	scrollbar-width: $mozWidth;
	&::-webkit-scrollbar {
		width: $width;
		height: $height;
		border-radius: $trackRadius;
		background:  $trackBg;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: $barRadius;
		background: $barBg;
	}
}

@mixin textOverflow($rowCount,$position) {
	position: $position;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $rowCount;
	-webkit-box-orient: vertical;
}

@mixin popupBody($background,$opacity, $transition) {
	&:before {
		display: block;
		position: fixed;
		content: "";
		z-index: 999;
		top: 0;
		left: 0;
		width: 100%;
		background: $background;
		opacity: 0;
		height: 0;
		@include animStyles(height 0.05s, opacity $transition);
		@include animDelay($transition);
   }
   &.popup_opened {
	   overflow: hidden;
	   &:before {
			height: 100%;
			opacity: $opacity;
			@include animDelay(0s);
	   }
   }
}

@mixin popupBlock($transition) {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	top: 100%;
	overflow: hidden;
	z-index: 1000;
	@include animStyle(top $transition);
	&.showed {
		top: 0;
		overflow-y: auto;
	}
}

@mixin popupInner($padding) {
	display: flex;
	width: 100%;
	min-height: 100%;
	justify-content: center;
	align-items: center;
	padding: $padding;
}

@mixin popupContainer($background,$maxWidth, $padding) {
	background: $background;
	width: 100%;
	max-width: $maxWidth;
	padding: $padding;
	position: relative;
}

@mixin menuBtn($width, $height, $color, $padding, $lineSize, $lineWidth, $lineEdge, $lineLeft, $transition) {
	border: none;
	background: transparent;
	color: $color;
	padding: $padding;
	width: $width;
	height: $height;
	position: relative;
	overflow: hidden;
	z-index: 100;
	&:before,
	&:after {
		@include psevdoAbs;
		@include animStyle(all $transition);
		border-top: $lineSize solid;
		left: $lineLeft;
		width: $lineWidth;
	}
	&:before {
		top: $lineEdge;
	}
	&:after {
		bottom: $lineEdge;
	}
	span {
		display: block;
		border-top: $lineSize solid;
		@include animStyle(opacity 0.2s);
		@include animDelay($transition - 0.2s);
	}
}
@mixin menuClose($rotateSize) {
	&:before {
		@include transStyle(rotate($rotateSize));
	}
	&:after {
		@include transStyle(rotate(-$rotateSize));
	}
	span {
		opacity: 0;
		@include animDelay(0s);
	}
}

@mixin standardCol($col) {
	flex: 0 0 $col / 12 * 100%;
	max-width: $col / 12 * 100%;
	padding-left: $colPadding;
	padding-right: $colPadding;
}

@mixin colSize($col) {
	flex: 0 0 $col / 12 * 100%;
	max-width: $col / 12 * 100%;
}

@mixin customCol($col, $maxWidth, $padding) {
	flex: 0 0 $col / 12 * 100%;
	max-width: $maxWidth;
	padding-left: $padding;
	padding-right: $padding;
}

@mixin mobileMenu($position, $top, $background, $transition) {
	position: $position;
	overflow: hidden;
	top: $top;
	background: $background;
	left: 0;
	width: 100%;
	height: 0;
	@include animStyle(height $transition);
}

@mixin tabBlock($transition) {
	position: relative;
	@include animStyle(opacity $transition);
	&:not(.selected) {
		height: 0;
		opacity: 0;
		overflow: hidden;
	}
}

@mixin videoIcon($background, $color) {
	&:before {
		@include psevdoAbs;
		left: 50%;
		top: 50%;
		border-radius: 50%;
		background: $background;
		@include transStyle(translate3d(-50%,-50%,0));
	}
	&:after {
		@include psevdoAbs;
		left: 50%;
		top: 50%;
		border-style: solid;
		border-color: transparent $color;
		@include transStyle(translate3d(-50%,-50%,0));
	}
}

@mixin videoIconSize($size, $innerWidth, $innerHeight) {
	&:before {
		width: $size;
		height: $size;
	}
	&:after {
		width: $innerWidth;
		height: $innerHeight;
		border-width: $innerHeight /2 0 $innerHeight /2 $innerWidth;
	}
}

@mixin selectStyle($color, $placeholder, $borderColor, $background, $radius, $fontSize, $lineHeight, $padding, $arrowSize, $arrowColor) {
	.select2-container {
		.select2-selection--single {
			height: auto;
		}
		.select2-selection__placeholder {
			color: $placeholder;
		}
		&--default {
			.select2-selection--single {
				background-color: $background;
				border: 1px solid $borderColor;
				border-radius: $radius;
				display: flex;
				align-items: center;
				position: relative;
				box-shadow: none;
				outline: none;
				.select2-selection__rendered {
					color: $color;
					font-size: $fontSize;
					line-height: $lineHeight;
					padding: $padding;
					flex: 1;
					width: 50%;
				}
				.select2-selection__arrow {
					height: auto;
					position: relative;
					top: auto;
					right: auto;
					padding: $padding;
					padding-left: 0;
					width: auto;
					color: $arrowColor;
					display: flex;
					align-items: center;
					justify-content: center;
					* {
						display: none;
					}
					&:before {
						@extend %iconElement;
						content: "\e901";
						font-size: $arrowSize;
						display: block;
					}
				}
			}
			&.select2-container--open {
				.select2-selection__arrow {
					@extend %horizontalRotate;
				}
				.select2-selection--single {
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
					z-index: 10;
				}
			} 
		}
		.select2-search--dropdown {
			padding: 0;
			.select2-search__field {
				border: none;
				border-bottom: 1px solid $borderColor;
				padding: $padding;
				font-size: 100%;
				line-height: inherit;
			}
		}
	}
}

@mixin selectDrop($border, $itemBorder,  $fontSize, $lineHeight, $padding, $shadow, $scrollWidth, $scrollRadius, $scrollTrack, $scrollBar, $selectedBg, $selectedColor, $highlightBg, $highlightColor) {
	.select2-container {
		.select2-dropdown {
			border: 1px solid $border;
			font-size: $fontSize;
			line-height: $lineHeight;
			box-shadow: $shadow;
			position: relative;
			z-index: 5;
		}
		.select2-results__options {
			overflow-x: hidden;
			@include customScroll($scrollWidth, auto, thin, $scrollRadius, $scrollRadius, $scrollTrack, $scrollBar);
			li {
				@extend %all300;
				padding: $padding;
			}
		}
		.select2-results__option {
			&:not(:last-child) {
				border-bottom: 1px solid $itemBorder;
			}
			&--highlighted.select2-results__option--selectable {
				background: $highlightBg;
				color: $highlightColor;
			}
			&--selected {
				background: $selectedBg !important;
				color: $selectedColor !important;
				cursor: default;
			}
		}
	}
	
}

@mixin siteColorHover() {
	@extend %siteColorHover;
	@extend %siteColorActive;
}

@mixin siteBgHover() {
	@extend %siteBgHover;
	@extend %siteBgActive;
}

@mixin siteColorAlfaHover() {
	@extend %siteColorAlfaHover;
	@extend %siteColorAlfaActive;
}

@mixin siteBgAlfaHover() {
	@extend %siteBgAlfaHover;
	@extend %siteBgAlfaActive;
}

@mixin secondColorHover() {
	@extend %secondColorHover;
	@extend %secondColorActive;
}

@mixin secondBgHover() {
	@extend %secondBgHover;
	@extend %secondBgActive;
}

@mixin secondColorAlfaHover() {
	@extend %secondColorAlfaHover;
	@extend %secondColorAlfaActive;
}

@mixin secondBgAlfaHover() {
	@extend %secondBgAlfaHover;
	@extend %secondBgAlfaActive;
}

@mixin darkReverseHover() {
	@extend %darkReverseHover;
	@extend %darkReverseActive;
}

@mixin lightReverseHover() {
	@extend %lightReverseHover;
	@extend %lightReverseActive;
}

@mixin opacityHover() {
	@extend %opacityHover;
	@extend %opacityActive;
}

@mixin siteDarkRHover() {
	@extend %siteDarkRHover;
	@extend %siteDarkRActive;
}

@mixin siteLightRHover() {
	@extend %siteLightRHover;
	@extend %siteLightRActive;
}

@mixin secondDarkRHover() {
	@extend %secondDarkRHover;
	@extend %secondDarkRActive;
}

@mixin secondLightRHover() {
	@extend %secondLightRHover;
	@extend %secondLightRActive;
}

@mixin standardHover() {
	@extend %standardHover;
	@extend %standardActive;
	&:disabled,
	&.disable,
	&.inactive {
		color: $disable;
		pointer-events: none;
	}
}

@mixin standardBgHover() {
	@extend %standardBgHover;
	@extend %standardBgActive;
	&:disabled,
	&.disable,
	&.inactive {
		background: $disable;
		pointer-events: none;
	}
}

@mixin standardMixHover() {
	@extend %standardMixHover;
	@extend %standardMixActive;
	&:disabled,
	&.disable,
	&.inactive {
		color: $disable;
		pointer-events: none;
	}
}



@mixin mediaRange($from,$to) {
	@media screen and (min-width: $from) and (max-width: $to - 1) {
		@content
	} 
} 

@mixin mediaFrom($from) {
	@media screen and (min-width: $from) {
		@content
	} 
} 

@mixin mediaTo($to) {
	@media screen and (max-width: $to - 1) {
		@content
	} 
} 

@mixin mediaVRange($from,$to) {
	@media screen and (min-height: $from) and (max-height: $to - 1) {
		@content
	} 
} 

@mixin mediaVFrom($from) {
	@media screen and (min-height: $from) {
		@content
	} 
} 
@mixin mediaVTo($to) {
	@media screen and (max-height: $to - 1) {
		@content
	} 
} 

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

