.form_fields {
    margin: 0 $rowMargin;
    display: flex;
    flex-wrap: wrap;
    .field_block {
        @include standardCol(6);
        margin-bottom: 40px;
        .error_hint {
            right: $colPadding;
        }
        .type_switch {
            right: $colPadding + 20;
        }
        &.full_field {
            @include colSize(12);
        }
    }
    + .btn_block {
        padding-left: $colPadding;
        button {
            border: none;
            width: 100%;
            background: $siteColor;
            padding: 15px 28px;
            color: $white;
            font-size: 160%;
            line-height: 20px;
            border-radius: 25px 25px 0 25px;   
            @include standardBgHover;
        }
    }
    @include mediaTo($size576) {
        .field_block {
            @include colSize(12);
        }
        + .btn_block {
            padding-left: 0;
        }
    }
}
.field_block {
    margin-bottom: 25px;
    @include placeholder {
        color: rgba($textColor,0.45);
        font-family: $regular;
    }
    .static_field,
    .input_block input,
    > input {
        border:1px solid rgba($textColor,0.05) !important;
        background: $fieldBg;
        @extend %all300;
        padding: 14px 28px;
        color: $siteColor;
        font-size: 160%;
        line-height: 20px;
        border-radius: 25px 25px 0 25px;   
        &[type="password"] ~ .type_switch:before {
            content: "\e908";
            font-size: 110%;
        }
        &[type="text"] ~ .type_switch:before {
            content: "\e909";
            font-size: 130%;
        }
        &[name*="phone"] {
            font-family: $regularS;
        }
        &:focus {
            background: rgba($lightText,0.1);
        }
    }
    textarea {
        border:1px solid rgba($textColor,0.05);
        background: $fieldBg;
        @extend %all300;
        color: $siteColor;
        font-size: 160%;
        line-height: 20px;
        padding: 24px 22px;
        border-radius: 25px 25px 0 25px; 
        height: 120px;
    }
    .input_block {
        position: relative;
        +.input_block {
            margin-top: 20px;
        }
        input {
            padding-right: 50px;
        }
        .field_remove {
            position: absolute;
            right: 15px;
            font-size: 100%;
            bottom: 15px;
            z-index: 3;
            color: $lightText;
            padding: 5px;
            cursor: pointer;
            @extend %color300;
            &:hover {
                color: $error;
            }
            &:before {
                display: block;
            }
        }
    }
    .field_name {
        font-size: 160%;
        line-height: 20px;
        margin-bottom: 6px;
        color: $lightText;
    }
    .error_hint {
        position: absolute;
        right: 0;
        margin-right: 8px;
        font-size: 0;
        line-height: 18px;
        color: transparent;
        z-index: 3;
        top: 100%;
    }
    &.has-error {
        @include placeholder {
            color: $error;
        }
        .error_hint {
            font-size: 140%;
            color: $error;
        }
        textarea,
        input {
            border-color: transparent !important;
            background: rgba($error,0.1);
            color: $error;
        }
        .field_name {
            color: $error;
        }
    }
    .type_switch {
        position: absolute;
        display: flex;
        align-items: center; 
        justify-content: center;   
        color: rgba($textColor,0.45);
        height: 20px;
        bottom: 15px;
        right: 20px;
        z-index: 3;
        cursor: pointer;
        @include standardHover;
        &:before {
            display: block;
            @extend %iconElement;
        }
    }
}

@include selectStyle($siteColor, rgba($textColor,0.45), rgba($textColor,0.05), rgba($lightText,0.1), 25px 25px 0 25px, 160%, 20px, 14px 28px, 0.6rem, rgba($siteColor,0.6));
@include selectDrop(rgba($lightText,0.1), transparent,  160%, 20px, 14px 20px, none, 8px, 4px, $lightest, rgba($lightText,0.8), $secondColor, $white, transparent, $hoverColor);

.select2-dropdown {
    border-bottom-left-radius: 25px;
}

.edit_section .btn_block,
.sign_inner .btn_block {
    
    margin-left: auto;
    button {
        border: none;
        width: 100%;
        background: $siteColor;
        padding: 15px 28px;
        color: $white;
        font-size: 160%;
        line-height: 20px;
        border-radius: 25px 25px 0 25px;   
        @include standardBgHover;
    }
    @include mediaFrom($size576) {
        width: 50%;
    }
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background: #EEF0F6;
    .select2-selection__arrow {
        color: rgba($textColor,0.45);
    }
}


.login_error,
.login_success {
    font-size: 200%;
    line-height: 1.75em;
    text-align: center;
    margin-bottom: 50px;
    @include mediaTo($size960) {
        font-size: 160%;
        margin-bottom: 30px;
    }
}
.login_error {
    color: $error;
}
.login_success {
    color: $secondColor;
}
.form_container {
    .login_error,
    .login_success {
        margin-top: -30px;
    }
}
.remember_forgot {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 45px;
    font-size: 190%;
    line-height: 25px;
    .remember_checkbox {
        position: relative;
        input {
            @extend %maskedInput;
            &:checked + span {
                color: $secondColor;
                &:before {
                    content: "\e919";
                }
            }
        }
        span {
            display: flex;
            align-items: center;
            @extend %textUnSelect;
            cursor: pointer;
            color: $lightText;
            @include standardHover;
            white-space: nowrap;
            &:before {
                @extend %iconElement;
                display: block;
                content: "\e918";
                margin-right: 10px;
            }
        }
    }
    .forgot_pass_link {
        display: inline-block;
        vertical-align: top;
        color: $secondColor;
        @include standardHover;
        margin-left: 20px;
        text-align: right;
    }
    @include mediaTo($size960) {
        font-size: 160%;
        line-height: 20px;
    }
}
 
