.sign_inner {
    display: flex;
    @include overHidden;
    .welcome_block {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 77px;
        text-align: center;
        margin-top: 10px;
        .image_block {
            display: block;
            white-space: nowrap;
            margin-top: 23px;
            img {
                display: block;
                width: 100%;
                
                @extend %noBlink;
                @include animStyle(all 1.5s);
                &:not(.showed) {
                    @include transStyle(translate3d(-100vw,0,0));
                }
            }
        }
        
        .welcome_text {
            max-width: 465px;
            margin: 19px auto 0;
            color: $secondColor;
            font-size: 200%;
            line-height: 35px;
        }
    }
    
    .sign_block {
        flex: 0 0 50%;
        max-width: $containerWidth/2 + $containerPadding;
        padding: 0 $containerPadding;
        form {
            max-width: 530px;
            margin: 0 auto;
        }
    }
    
    .form_container {
        padding-top: 64px;
    }
    .title_block {
        text-align: center;
        padding-top: 40px;
    }
    @include mediaTo($size1440) {
        .welcome_block {
            padding: 0 $containerPadding;
        }
    }
    @include mediaFrom($size960) {
        padding-top: 60px;
        padding-bottom: 57px;
    }
    @include mediaRange($size576,$size960) {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    @include mediaTo($size576) {
        padding-top: 25px;
        padding-bottom: 45px;
    }
    @include mediaTo($size960) {
        flex-wrap: wrap;
        .welcome_block {
            @include colSize(12);
            margin-bottom: 40px;
            .image_block {
                max-width: 640px;
                margin-left: auto;
                margin-right: auto;
            }
            .welcome_text {
                font-size: 180%;
                line-height: 28px;
            }
        }
        .sign_block {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.success_info {
    padding-top: 70px;
    text-align: center;
    .homepage_btn {
        @extend %standardBtn;
    }
    @include mediaTo($size960) {
        padding-top: 40px;
    }
}
