.about_section {
    padding: 65px 0 57px;
    text-align: center;
    .section_title {
        color: $secondColor;
        max-width: 675px;
        margin: 0 auto;
    }
    .description_block {
        max-width: 675px;
        margin: 0 auto;
    }
    .steps_list {
        @extend %standardRowList;
        justify-content: space-around;
        counter-reset: serialNum;
        li {
            flex: 1;
            padding: 0 $colPadding 50px;
            max-width: 240px;
            counter-increment: serialNum;
            display: flex;
            flex-direction: column;
            &:before {
                display: flex;
                margin: 0 auto 7px;
                align-items: center;
                justify-content: center;
                font-family: $regularS;
                color: $white;
                background: $lightText;
                border-radius: 50%;
                content: counter(serialNum);
            }
            &:nth-child(2) img {
                @include transStyle(translate3d(0,-10%,0));
            }
        }
        .step_name {
            @extend %middleText;
            color: $lightText;
        }
        img {
            @extend %noBlink;
        }
        a {
            display: inline-block;
            vertical-align: top;
            margin-top: auto;
            @include opacityHover;
        }

    }
    .about_join {
        a {
            display: inline-block;
            position: relative;
            margin-bottom: 28px;
            @include standardHover;
            @extend %largeText;
            &:after {
                @include psevdoAbs;
                left: -25px;
                right: -25px;
                bottom: -17px;
                border-top: 3px solid;
            }
        }
        .text_block {
            color: $lightText;
            @extend %middleText;
        }
    }
    @include mediaFrom($size960) {
        .description_block {
            padding-top: 37px;
        }
        .steps_list {
            padding-top: 74px;
            li:before {
                width: 60px;
                height: 60px;
                font-size: 380%;
            }
            img {
                height: 150px;
            }
            .step_name {
                margin-bottom: 55px;
            }
        }
    }
    @include mediaTo($size960) {
        padding-bottom: 45px;
        .steps_list li {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @include mediaRange($size768,$size960) {
        padding-top: 50px;
        .description_block {
            padding-top: 30px;
        }
        .steps_list {
            padding-top: 55px;
            li:before {
                width: 48px;
                height: 48px;
                font-size: 320%;
            }
            img {
                height: 135px;
            }
            .step_name {
                margin-bottom: 45px;
            }
        }
    }
    @include mediaRange($size576,$size768) {
        padding-top: 35px;
        .description_block {
            padding-top: 24px;
        }
        .steps_list {
            padding-top: 40px;
            li:before {
                width: 40px;
                height: 40px;
                font-size: 280%;
                margin-bottom: 10px;
            }
            img {
                height: 120px;
            }
            .step_name {
                margin-bottom: 35px;
            }
        }
    }
    @include mediaTo($size576) {
        padding-top: 22px;
        .description_block {
            padding-top: 18px;
        }
        .steps_list {
            padding-top: 25px;
            li:before {
                width: 32px;
                height: 32px;
                font-size: 200%;
                margin-bottom: 15px;
            }
            img {
                height: 102px;
            }
            .step_name {
                margin-bottom: 25px;
            }
        }
    }
}