.create_page {
    padding-top: 18px;
    padding-bottom: 57px;
    .steps_block {
        padding-bottom: 50px;
       
    }
    .steps_list {
        @extend %standardList;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        justify-content: flex-end;
        padding: 0 13px;
        &:before {
            @include psevdoAbs;
            left: 0;
            width: 26px;
            height: 26px;
            bottom: -9px;
            border-radius: 50%;
            background: $lightText;
            z-index: 2;
        }
        li {
            flex: 1;
            max-width: 235px;
            padding-bottom: 23px;
            position: relative;
            @extend %middleText;
            color: $disable;
            text-align: center;
            &:before {
                @include psevdoAbs;
                left: 0;
                width: 100%;
                bottom: 0;
                height: 8px;
                background: $disable;
            }
            &:after {
                @include psevdoAbs;
                right: -13px;
                width: 26px;
                height: 26px;
                bottom: -9px;
                border-radius: 50%;
                z-index: 1;
                border: 1px solid $disable;
                background: $bgColor;
            }
            &.current_step,
            &.current_step ~ li {
                color: $lightText;
                &:after,
                &:before {
                    background: $lightText;
                    border: none;
                }
            }
            .step_num {
                font-family: $regularS;
            }
        }
        @include mediaRange($size768,$size960) {
            padding: 0 11px;
            &:before {
                width: 22px;
                height: 22px;
                bottom: -8px;
            }
            li {
                max-width: 210px;
                padding-bottom: 20px;
                &:before {
                    height: 6px;
                }
                &:after {
                    right: -11px;
                    width: 22px;
                    height: 22px;
                    bottom: -8px;
                }
            }
        }
        @include mediaRange($size576,$size768) {
            padding: 0 10px;
            &:before {
                width: 20px;
                height: 20px;
                bottom: -7px;
            }
            li {
                max-width: 180px;
                padding-bottom: 18px;
                &:before {
                    height: 6px;
                }
                &:after {
                    right: -10px;
                    width: 20px;
                    height: 20px;
                    bottom: -7px;
                }
            }
        }
        @include mediaTo($size576) {
            padding: 0 9px;
            &:before {
                width: 18px;
                height: 18px;
                bottom: -6px;
            }
            li {
                max-width: 160px;
                padding-bottom: 14px;
                &:before {
                    height: 4px;
                }
                &:after {
                    right: -9px;
                    width: 18px;
                    height: 18px;
                    bottom: -6px;
                }
            }
        }
    }
    .main_options {
        padding-top: 46px;
    }
    .comics_poster {
        flex: 0 0 320px;
        max-width: 320px;
        padding: 0 $colPadding;
        margin-right: auto;
        position: relative;
        .image_block {
            @include overHidden;
            padding-bottom: 150%;
            &:empty {
                background: url('images/no_image.svg') no-repeat $lightest;
                background-position: center;
                background-size: 35% auto;
                ~ .actions_block {
                    .attach_label {
                        position: absolute;
                        bottom: 100%;
                        left: 0;
                        width: 100%;
                        padding-bottom: 150%;
                        margin: 0;
                        .attach_btn {
                            display: none;
                        }
                    }
                    .attach_remove {
                        opacity: 0;
                    }
                }
            }
            &:not(:empty) ~ .drag_block {
                display: none;
            }
            img {
                @extend %coverLayer;
                object-fit: cover;
            }
        }
        .actions_block {
            display: flex;
            color: $white;
            background: $lightText;
            align-items: center;
            padding: 5px 18px;
            min-height: 40px;
            position: relative;
        }
        .actions_label {
            font-size: 200%;
            line-height: 1.3em;
            margin-right: auto;
        }
        .attach_remove,
        .attach_btn {
            display: block;
            @extend %textUnSelect;
            font-size: 240%;
            cursor: pointer;
            @include standardHover;
        }
        .attach_label {
            display: block;
            margin-left: 26px;
            @include overHidden;
            @include standardHover;
            cursor: pointer;
            input {
                @extend %coverLayer;
                z-index: 1;
                opacity: 0;
                cursor: pointer;
                display: block;
            }
            .error_hint {
                position: absolute;
                top: 40px;
                left: 0;
                width: 100%;
                color: $error;
                font-size: 140%;
                line-height: 18px;
                padding-top: 4px;
                padding-bottom: 24px;
                background: $white;
                z-index: 2;
                opacity: 0;
            }
            &.has-error .error_hint {
                opacity: 1;
            }
        }
        .attach_remove {
            margin-left: 26px;
        }
        .attach_error {
            display: block;
            font-size: 140%;
            line-height: 18px;
            margin-top: 4px;
            color: $error;
        }
    }
    .fields_section {
        flex: 1;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        @include mediaFrom($size1200) {
            margin-left: 15px;
        }
        .error_hint:before {
            display: none;
        }
    }
    .info_fields {
        @include standardCol(8);
        textarea {
            min-height: 169px;
        }
        .attach_label {
            @include overHidden;
            input {
                @extend %maskedInput;
            }
            &.hidden {
                display: none;
            }
        }
        .attach_block {
            position: relative;
        }
        .attach_btn {
            display: block;
            border:1px solid rgba($textColor,0.05) !important;
            background: $fieldBg;
            @extend %all300;
            padding: 14px 28px;
            color: rgba($textColor,0.45);
            font-size: 160%;
            line-height: 20px;
            border-radius: 25px 25px 0 25px;   
            cursor: pointer;
        }
        .attach_error {
            position: absolute;
            right: 0;
            margin-right: 8px;
            font-size: 140%;
            line-height: 18px;
            color: transparent;
            z-index: 3;
            top: 100%;
            color: $error;
        }
        .attached_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border:1px solid rgba($textColor,0.05) !important;
            background: $fieldBg;
            @extend %all300;
            padding: 14px 28px;
            font-size: 160%;
            line-height: 20px;
            border-radius: 25px 25px 0 25px;   
            .file_name {
                flex: 1;
                width: 50%;
                @include overHidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .file_remove {
            margin-left: 20px;
            @extend %iconElement;
            cursor: pointer;
            color: $siteColor;
            @extend %color300;
            &:hover {
                color: $error;
            }
            &:before {
                display: block;
                content: "\e904";
            }
        }
    }
    .select_fields {
        @include standardCol(4);
    }
    .btns_section{
        @include colSize(8);
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .draft_btn {
        @extend %emptyBtn;
        margin: 0 12px;
    }
    .next_step_btn {
        @extend %standardBtn;
        margin: 0 12px;
    }
    @include mediaRange($size960,$size1200) {
        .comics_poster {
            flex: 0 0 270px;
            max-width: 270px;
            .attach_label,
            .attach_remove {
                margin-left: 20px;
            }
        }
        .info_fields,
        .btns_section {
            @include colSize(7);
        }
        .select_fields {
            @include colSize(5);
        }
    }
    @include mediaTo($size960) {
        padding-bottom: 45px;
        .info_fields,
        .btns_section,
        .select_fields {
            @include colSize(12);
        }
        .comics_poster {
            .actions_block {
                padding: 5px 15px;
            }
            .actions_label {
                font-size: 180%;
            }
            .attach_btn,
            .attach_remove {
                font-size: 200%;
            }
            .attach_label,
            .attach_remove {
                margin-left: 15px;
            }
        }
    }
    @include mediaRange($size768,$size960) {
        .comics_poster {
            flex: 0 0 320px;
            max-width: 320px;
        }
        .btns_section {
            margin-top: 20px;
        }
        .steps_block {
            padding-bottom: 40px;
        }
        .main_options {
            padding-top: 40px;
        }
    }
    @include mediaRange($size576,$size768) {
        .comics_poster {
            flex: 0 0 240px;
            max-width: 240px;
        }
        .btns_section {
            margin-top: 10px;
        }
        .steps_block {
            padding-bottom: 30px;
        }
        .main_options {
            padding-top: 32px;
        }
    }
    @include mediaTo($size576) {
        .comics_poster {
            margin: 0 auto 50px;
            flex: 0 0 100%;
        }
        .fields_section {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .btns_section {
            margin-top: 0;
        }
        .steps_block {
            padding-bottom: 24px;
        }
        .main_options {
            padding-top: 24px;
        }
    }
}