.comics_page {
    padding-top: 24px;
    padding-bottom: 65px;
    @include overHidden;
}
.comics_main {
    .container_inner {
        margin: 0 $rowMargin;
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
    .page_title {
        padding: 0 $colPadding;
        width: 66.67%;
        min-height: 100px;
        float: right;
        margin-bottom: 20px;
        &:after {
            display: none;
        }
    }
    .image_block {
        padding: 0 $colPadding;
        float: left;
        width: 33.33%;
        position: relative;
        z-index: 3;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .info_block {
        padding: 0 $colPadding;
        width: 66.67%;
        float: right;
    }
    .short_info {
        padding: 26px 0;
        min-height: 230px;
        position: relative;
        &:before {
            @include psevdoAbs;
            left: -100vw;
            width: 300vw;
            top: 0;
            height: 100%;
            background: $lightest;
        }
        .description_block {
            z-index: 2;
            position: relative;
        }
    }
    .comics_params {
        @extend %standardRowList;
        justify-content: space-between;
        li {
            padding: 8px $colPadding 0;
            font-size: 160%;
            line-height: 20px;
            color: $lightText;
            .param_info {
                color: $secondColor;
            }
        }
    }
    .comics_creators {
        margin-top: 14px;
        font-size: 200%;
        line-height: 1.3em;
        color: $siteColor;
    }
    .share_btns {
        margin-top: 100px;
        padding: 0 $colPadding;
        width: 100%;
        float: left;
    }
    .share_label {
        font-size: 160%;
        line-height: 20px;
        color: $lightText;
    }
    .at-share-btn-elements {
        margin: 0 -8px;
        display: flex;
        flex-wrap: wrap;
        .at-share-btn {
            padding: 4px;
            margin: 10px 8px 5px;
            @include standardBgHover;
        }
    }
    .at-resp-share-element .at-share-btn:focus, 
    .at-resp-share-element .at-share-btn:hover {
        transform: none;
        text-decoration: none;
        background: $siteColor !important;
    }
    @include mediaTo($size960) {
        .comics_params li,
        .share_label {
            font-size: 140%;
            line-height: 18px;
        }
    }
    @include mediaRange($size960,$size1200) {
        .page_title {
            min-height: 86px;
        }
        .share_btns {
            margin-top: 80px;
        }
    }
    @include mediaRange($size768,$size960) {
        .image_block,
        .page_title,
        .info_block,
        .share_btns {
            width: 50%;
        }
        .share_btns {
            margin-top: 30px;
        }
        .comics_creators {
            font-size: 180%;
        }
    }
    @include mediaTo($size768) {
        .page_title {
            min-height: 0;
            width: 100%;
            float: none;
            text-align: center;
        }
        .image_block {
            width: 100%;
            max-width: 390px;
            margin: 0 auto;
            float: none;
        }
        .info_block {
            width: 100%;
            float: none;
        }
        .short_info {
            min-height: 0;
            &:before {
                top: -100px;
                bottom: 0;
                height: auto;
            }
        }
        .share_btns {
            float: none;
            margin-top: 30px;
            width: 100%;
        }
    }
}
.comics_inner {
    padding-top: 10px;
    &[data-type="video"] {
        .comics_block {
            position: relative;
        }
        .actions_block {
            display: none;
            @extend %coverLayer;
            margin: 0;
            padding: 0;
            z-index: 5;
            background: transparent;
            .page_container {
                background: rgba($black, 0.7);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .page_title {
                color: $white
            }
            .version_btns {
                flex-wrap: nowrap;
                overflow-x: auto;
                justify-content: flex-start;
                @include mediaTo($size768) {
                    margin-left: -10px;
                    margin-right: -10px;
                    li {
                        padding: 15px 10px 0;
                    }
                }
                li {
                    &:first-child {
                        margin-left: auto;
                    }
                    &:last-child {
                        margin-right: auto;
                    }
                    
                }
               
                &:before {
                    display: none;
                }
                button {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: unset;
                    .version_title {
                        flex: 1;
                        height: 50%;
                        padding: 10px;
                    }
                    @include mediaRange($size480, $size720) {
                        min-width: 30vw;
                    }
                    @include mediaTo($size480) {
                        min-width: 50vw;
                    }
                }
                
            }
            .back_btns {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                position: relative;
                padding-bottom: 20px;
                &:not(:last-child):after {
                    @include psevdoAbs;
                    left: 12px;
                    right: 12px;
                    bottom: 20px;
                    border-top: 1px solid $white;
                    max-width: 508px;
                    margin: 0 auto;
                }
                button {
                    @extend %standardBtn;
                    flex: 1;
                    max-width: 230px;
                    min-width: 160px;
                    margin: 0 12px 10px;
                    &.back_to_start {
                        background: $secondColor;
                    }
                }
            }
        }
        .version_block {
            @extend %coverLayer;
            z-index: 6;
        }
    }
    &:not([data-type="video"]) {
        .back_btns:first-child:last-child .back_btn {
            margin: -26px auto;
        }
        .back_btn {
            border: none;
            border-bottom: 1px solid;
            background: transparent;
            margin-top: -26px;
            margin-bottom: 48px;
            position: relative;
            @extend %middleText;
            padding: 0 0 15px 25px;
            color: $lightText;
            @include standardHover;
            &:before {
                @extend %iconElement;
                content: "\e902";
                display: block;
                left: -1px;
                bottom: -5px;
                font-size: 0.9rem;
                display: flex;
                position: absolute;
                align-items: center;
                
            }
        }
        @include mediaRange($size768,$size960) {
            .back_btns:first-child:last-child .back_btn {
                margin: -10px auto;
            }
            .back_btn {
                margin-top: -16px;
                margin-bottom: 35px;
                padding-bottom: 12px;
                
            }
        }
        @include mediaTo($size768) {
            .back_btns:first-child:last-child .back_btn {
                margin: 0 auto;
            }
            .back_btn {
                margin-top: -10px;
                margin-bottom: 24px;
                padding-bottom: 10px;
                padding-left: 10px;
                
            }
        }
    }
}
.comics_block {
    a {
        display: block;
        margin-bottom: 30px;
        img {
            display: block;
            width: 100%;
        }
    }
    .version_block {
        @include animStyle(opacity 0.5s);
        &:not(.showed) {
            opacity: 0;
            height: 0;
            @include overHidden;
        }
    }
    .actions_block {
        margin-top: 24px;
        padding: 50px 0;
        background: rgba($lightest, 0.4);
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 54px;
        }
        .page_title {
            padding: 0;
            max-width: 480px;
            margin: 0 auto;
            &:after {
                display: none;
            }
        }
        .version_btns {
            @extend %standardRowList;
            justify-content: center;
            &:before {
                display: block;
                content: "";
                flex: 0 0 100%;
                max-width: 100%;
                height: 30px;
            }
            li {
                padding: 30px $colPadding 0;
            }
            button {
                width: 210px;
                border: none;
                background: transparent;
                padding: 0;
                &.active {
                    .version_number {
                        background: $disable;
                        color: $lightText;
                    }
                    .version_title {
                        color: $lightText;
                    }
                }
            }
            .version_number {
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                height: 35px;
                margin: 0 22px;
                color: $white;
                background: $lightText;
                @extend %middleText;
            }
            .version_title {
                display: block;
                border: 1px solid;
                background: $white;
                padding: 24px 10px;
                height: 150px;
                font-size: 180%;
                line-height: 30px;
                color: $lightText;
            }
        }
        
        
        
    }
    @include mediaRange($size768,$size960) {
        .actions_block {
            padding: 40px 0;
            .version_btns {
                &:before {
                    height: 15px;
                }
                button {
                    width: 200px;
                }
                .version_title {
                    font-size: 160%;
                    line-height: 28px;
                    height: 140px;
                    padding: 20px 10px;
                }
            }
        }
		
	}
	@include mediaTo($size768) {
		.actions_block {
            padding: 30px 0;
            .version_btns {
                &:before {
                    display: none;
                }
                button {
                    width: 180px;
                }
                .version_title {
                    font-size: 140%;
                    line-height: 24px;
                    height: 120px;
                    padding: 18px 10px;
                }
            }
        }
	}

}

.web .version_btns button {
    .version_number {
        @extend %back300;
    }
    .version_title {
        @extend %color300;
    }
    &:hover {
        .version_number {
            background: $secondColor;
        }
        .version_title {
            color: $secondColor;
        }
    }
}

.touch .version_btns button {
    .version_number {
        @extend %back150;
    }
    .version_title {
        @extend %color150;
    }
    &:active {
        .version_number {
            background: $secondColor;
        }
        .version_title {
            color: $secondColor;
        }
    }
}

.video_block {
    @include overHidden;
    padding-bottom: 56.25%;
    video {
        @extend %coverLayer;
        object-fit: cover;
    }
    .video_screen {
        @extend %coverLayer;
        cursor: pointer;
        @extend %all300;
        background: rgba($textColor,0.6);
        z-index: 1;
        @include opacityHover;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.4;
            @extend %noBlink;
            
        }
        &:before {
            @include psevdoAbs();
            pointer-events: none;
            width: 10%;
            padding-bottom: 10%;
            background: url('images/play.svg') no-repeat;
            background-size: 100%;
            background-position: center;
            z-index: 5;
            left: 50%;
            top: 50%;
            min-width: 45px;
            min-height: 45px;
            @include transStyle(translate3d(-50%,-50%,0));
        }
    }
    &.playing .video_screen {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
    @include mediaTo($size1200) {
        margin-left: -$containerPadding;
        margin-right: -$containerPadding;
        min-height: 300px;
        video {
            background: $black;
            object-fit: contain;
        }
    }
}

.download_btn {
    text-align: center;
    padding-top: 30px;
    a {
        @extend %standardBtn;
    }
}